<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Taruga</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="keywords" content="Taruga passeios maritímos, grutas, caves, algarve, grottos, Benagil">
        <meta name="title" content="Bem Vindo Taruga | passeios maritímos no Algarve">
        <meta name="description" content="Taruga Visita às grutas em Benagil no Algarve.">
        {% include 'taruga/styles.html' %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>