{% extends "security/login.html.twig" %}

{% block content %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-b-20">
				
        		<form class="login100-form validate-form" action="{{ path('login') }}" method="post">
					<span class="login100-form-title p-b-70">
						Welcome
					</span>
					<span class="login100-form-avatar">
						<img src="{{ asset('upload/gallery/') }}{{company.logo}}" alt="{{company.name}}">
					</span>

					<div class="wrap-input100 validate-input m-t-85 m-b-35 " data-validate="Enter Username">
						<input class="input100" type="text" autofocus value="{{ last_username }}" name="username"/>
						<span class="focus-input100" data-placeholder="Username"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter Password">
						<input class="input100" type="password" name="_password" />
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="container-login100-form-btn">
		          	
		          	{% if error %}
		            
		            	<div class="text-center text-danger" style="position:absolute;margin-top: -36px"><b>{{ error.messageKey|trans(error.messageData, 'security') }}</b></div>
		          	
		          	{% endif %}
		            
		            	<input type="hidden" name="_target_path" value="/admin/" />
		            	<input type="hidden" name="_csrf_token" value="{{csrf_token('authenticate') }}">
						<button class="px-5 py-3 btn btn-primary btn-outline-primary">
							Login
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
{% endblock %}