  <div class="modal" id="alerts">
    <div class="modal-dialog" style="padding-top: 4em">

  <div class="alert alert-success alert-dismissible fade d-none">
    <button type="button" class="close" onclick="closeAlert()">&times;</button>
    <strong>{%trans%}success{%endtrans%}!</strong> 
    <span></span>
  </div>
  
  <div class="alert alert-info alert-dismissible fade d-none">
    <button type="button" class="close" onclick="closeAlert()">&times;</button>
    <strong>{%trans%}information{%endtrans%}!</strong>
    <span></span>
  </div>
  
  <div class="alert alert-warning alert-dismissible fade d-none">
    <button type="button" class="close" onclick="closeAlert()">&times;</button>
    <strong>{%trans%}check{%endtrans%}!</strong>
    <span></span>
  </div>
  
  <div class="alert alert-danger alert-dismissible fade d-none">
    <button type="button" class="close" onclick="closeAlert()">&times;</button>
    <strong>{%trans%}error{%endtrans%}!</strong>
    <span></span>
  </div>
  
  <div class="alert alert-primary alert-dismissible fade d-none">
    <button type="button" class="close" onclick="closeAlert()">&times;</button>
    <strong>{%trans%}required{%endtrans%}!</strong>
    <span></span>
  </div>
  </div>
</div>

<script>
  function closeAlert(){
    $('#alerts').modal('hide')
    $('.alert').addClass('d-none').removeClass('show')
    $('.alert span').empty()
  }
</script>




