<section class="ftco-section ftco-booking bg-light">
    <div class="container ftco-relative">
    	<div class="row justify-content-center pb-3">
         	<div class="col-md-10 heading-section text-center ftco-animate">
          		<span class="subheading">Booking</span>
            	<h2 class="mb-4">Make a reservation</h2>
            	<p>Please fill all the fields with *</p>
          	</div>
        </div>
        <h3 class="vr">Call Us: {{company.telephone}}</h3>
    		<div class="row justify-content-center">
    			<div class="col-md-10 ftco-animate">
    				<form action="#" class="appointment-form">
	            		<div class="row">

	            			<div class="col-sm-12">
	                			<div class="form-group">
			              			<div class="select-wrap">
                      					<div class="icon">
                      						<span class="ion-ios-arrow-down"></span>
                      					</div>
                      					
                      					<select name="category" id="" class="form-control">
											<option value="">{% trans %}part_seven.tour{% endtrans %}</option>
          									{% for category in categories %}
            								{% if category.no_stock == 0 %}          						
          									<option value="{{category.id}}">{{category.name}}</option>
			          						{% endif%}
         									{% endfor %}
                      		
                      					</select>
                    				</div>
			            		</div>
	              			</div>
			              	<div class="col-sm-4">
			                	<div class="form-group">
					            	<input type="number" name="adult" class="form-control" placeholder="Adults">
					        	</div>
			              	</div>
			              	<div class="col-sm-4">
			                	<div class="form-group">
					             	<input type="number" name="children" class="form-control" placeholder="Children">
					            </div>
			              	</div>
			              	<div class="col-sm-4">
			                	<div class="form-group">
			                  		<input type="number" name="baby" class="form-control" placeholder="Babies">
			                	</div>    
			              	</div>
			              	<div class="col-md-12">
			              		<div class="form-group"></div>
			              	</div>
				        </div>
		        		<div class="form-group">
	             			<input type="submit" value="Get Available Dates" class="btn btn-primary">
	            		</div>
	        		</form>
    			</div>
    		</div>
    	</div>
</section>