{%set products  = false %}

{% for category in categories %}
    {% if category.no_stock == 0 %}
		{%set products = true %}
	{% endif%}
{% endfor %}

{% if products == true %}

<style>
.btn.btn-info.btn-outline-info {border: 1px solid #17a2b8 !important;background: transparent !important;color: #17a2b8 !important}
.btn.btn-info.btn-outline-info:hover{background:#17a2b8!important;color:#FFF!important}
hr {margin-top: 0.5rem;margin-bottom: 0.5rem}
</style>

<section class="ftco-section ftco-booking bg-light">
  <div class="container ftco-relative">
    <div class="row justify-content-center pb-3">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <span class="subheading">{%trans%} link.booking{% endtrans %}</span>
          <h2 class="mb-4">{%trans%} info.make_reservation {% endtrans %}</h2>
          <p>{%trans%} info.fill_all{% endtrans %}</p>
      </div>
    </div>
    <h3 class="vr">{%trans%} info.call_us {% endtrans %}: {{company.telephone}}</h3>
    <div class="row justify-content-center">
    	<div class="col-md-10 ftco-animate">
    		<form class="appointment-form">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="select-wrap">
                  <div class="icon">
                    <span class="icon-chevron-down"></span>
                  </div>
                  <select name="category" class="form-control" onchange="clearInfo()">
                    <option value="">{% trans %}part_seven.tour{% endtrans %}</option>
                    {% for category in categories %}
                    {% if category.no_stock == 0 %}          						
                  
                    <option value="{{category.id}}">{{category.name}}</option>
                    {% endif%}
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
			      <div class="col-sm-4">
              <div class="form-group">
                <input type="number" name="adult" min="0" step='1' onchange="clearInfo()" class="form-control" placeholder="{% trans %}part_seven.adult{%endtrans %}">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <input type="number" name="children" min="0" step='1' onchange="clearInfo()" class="form-control" placeholder="{% trans %}part_seven.children{%endtrans %}">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <input type="number" name="baby" min="0" step='1' onchange="clearInfo()" class="form-control" placeholder="{% trans %}part_seven.baby{%endtrans %}">
              </div>    
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <input type="hidden" name="next" value="">
                <input type="hidden" name="event" value="">
                <input type="hidden" name="date" value="">
              </div>
            </div>
          <div class="col-md-12 form-group">
            <span style="display:table" onclick="getAvailability()" class="btn btn-primary btn-outline-primary px-4 py-2">{% trans %}part_seven.get_available{% endtrans %}
            </span>
          </div>
        </div>
        <div class="row personal-data d-none">
          <div class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated">
            <div class="text-right" style="margin:6px 0px -24px 0px">
              {% trans %}countdown{% endtrans %} <div class="badge badge-danger f-14 timer text-center" style="width:2.7em"></div>
            </div>
            <h2 class="set-datetime mt-4"></h2>
          </div>
            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="{% trans %}part_seven.name{%endtrans %}">
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="{% trans %}part_seven.email{%endtrans %}">
              </div>    
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <input type="number" name="telephone" class="form-control" placeholder="{% trans %}part_seven.telephone{%endtrans %}">
              </div>    
            </div>

            <div class="col-sm-12 col-md-12">
              <div class="form-group">
                <input type="text" name="address" class="form-control" placeholder="{% trans %}part_seven.address{%endtrans %}">
              </div>    
            </div>

            <div class="col-sm-12 col-md-12">
              <input type="checkbox" style="height: 26px; width: 26px;vertical-align:text-bottom" name="check_rgpd">
              <label class="mb-0">{% trans %}part_seven.rgpd{% endtrans %}</label>

              <div id="accordionEx-rgpd" role="tablist" aria-multiselectable="true" class="pb-2">
                <div role="tab" id="heading-rgpd">
                  <a class="collapsed text-info" data-toggle="collapse" data-parent="#accordionEx-rgpd" href="#collapse-rgpd" aria-expanded="false" aria-controls="collapse-rgpd">
                    {% trans %}more_info{% endtrans %}
                  </a>
                </div>
                    
                <div id="collapse-rgpd" style="border-top:1px solid #aaa;border-bottom:1px solid #aaa" class="collapse" role="tabpanel" aria-labelledby="heading-rgpd" data-parent="#accordionEx-rgpd" style="position:absolute;z-index:999">
                  <p class="pt-2" style="font-size:11px;color:#000">
                    {% trans %}part_seven.rgpd_txt{% endtrans %}
                  </p>
                  <div class="text-right pb-2">
                    <span onclick='showRgpd()' class="btn btn-info btn-outline-info px-4 py-2">
                      {% trans %}read_gpdr{% endtrans %}
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{csrf_token('authenticate') }}">
            
            <div class="col-sm-12 col-md-12 text-center">
              <span onclick="validateBookingData()" class="btn btn-outline-success px-4 py-2 confirm-btn">{%trans%}info.confirm{%endtrans%}</span>
            </div>

          </div>
        </form>
    	</div>
    </div>
  </div>
</section>

<section class="payment-container">
</section>
<script>

function clearInfo(){
  $('.personal-data, .show-datetime').addClass('d-none')
  $('[name=next], [name=date], [name=event]').val('') 
}

//Validate the data added by the user 
function validateBookingData(){

  setMinValues()

  closeAlert()
  $('#ftco-loader').css({'opacity' : '0.7','visibility' : 'visible','z-index' : 9999})
    setTimeout(function(){
      $.ajax({  
      url: '{{ path('validate_booking_data') }}',
      type: "POST",
      data: $('.appointment-form').serialize(),
      cache: false,
      success: function(data){ 
        //console.log(data) 
        $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
        if (data.status == 0){
          html =''
          $('#alerts').modal('show')
          $('.alert-warning').removeClass('d-none').addClass('show')
          for (var k in data.message)
            html += data.message[k]+'<br>'
          $('.alert-warning span').html('<br>'+html)          
        }

        //All is ok so far, build the info modal to show booking adn proceed to payment, if that is the case 
        else {
          $('.payment-container').html(data)
          $('#fsModal-payment').modal('show')
        }
      },
      error:function(data){
        $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
        $('#alerts').modal('show')
        $('.alert-danger').removeClass('d-none').addClass('show')
        $('.alert-danger span').html('{%trans%}wifi_error{%endtrans%}')
      }
    })
  }, 500)
}

var available_dates = []
var flag = false

function setMinValues(){
  $('[name=adult]').val() < 0 ? $('[name=adult]').val(0) : $('[name=adult]').val()
  $('[name=children]').val() < 0 ? $('[name=children]').val(0) : $('[name=children]').val() 
  $('[name=baby]').val() < 0 ? $('[name=baby]').val(0) : $('[name=baby]').val()
}

function getAvailability(){
  
  closeAlert()
  clearInfo()

  flag = false

  $('.icon-chevron-right.next, .icon-chevron-left.previous').removeClass('d-none')

    setMinValues()

 		$('#ftco-loader').css({'opacity' : '0.7','visibility' : 'visible','z-index' : 9999})
    		
    setTimeout(function(){
    	$.ajax({
      url: '{{ path('available_by_period') }}',
      type: "POST",
      data: $('.appointment-form').serialize(),
      cache: false,
      success: function(data){ 
      //console.log(data)         
        $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
        if (data.status == 1 && data.data.available_dates.length > 0){

          timeDecrease(data.data.expiration)
          $('.icon-chevron-left.previous').addClass('d-none warning')
          available_dates = data.data.available_dates
          initializeDateTimePicker(data.data.available_dates)         
          var ymd = data.data.available_dates[0].split("-")    
          
          if (ymd.length > 0)
            $('#datetimepicker').val(ymd[2]+'/'+ymd[1]+'/'+ymd[0])
          
          $('#fsModal').modal('show')
          buildWeekTemplate(data.data.week)
          flag = true
        }
        else if (data.status == 2){

          html =''
          for (var k in data.data)
            html += data.data[k]+'<br>'
          
          $('.alert-primary span').html('<br>'+html)
          $('#alerts').modal('show')
          $('.alert-primary').removeClass('d-none').addClass('show')
        }
        else{
          $('#alerts').modal('show')
          $('.alert-warning').removeClass('d-none').addClass('show')
          $('.alert-warning span').html('<br>{%trans%}max_stock{%endtrans%} '+ data.data.availability)
        }
      },
      error:function(data){
        $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
        $('#alerts').modal('show')
        $('.alert-danger').removeClass('d-none').addClass('show')
        $('.alert-danger span').html('{%trans%}wifi_error{%endtrans%}')
      }
    })
  }, 500)

	//}
	/*else{
    $('#alerts').modal('show')
    $('.alert-primary').removeClass('d-none').addClass('show')
    $('.alert-primary span').html('<br>{%trans%}tour_adults{%endtrans%}')
	}*/
}

function buildWeekTemplate(days){

  var day =''
  var events =''

  for (var k in days){
    for (var j in days[k].event)   
      events += '<div data-evt="'+days[k].event[j].id+'" data-date="'+days[k].event[j].date_dmy+' '+days[k].event[j].hour+'" onclick="setEvent(this)" class="mb-2 btn btn-primary btn-outline-primary px-1 py-1 pointer w-54 h-54" style="border:1px solid #1089ff!important"><i class="icon-clock-o"></i><br>'+days[k].event[j].hour+'</div><br>' 
    day += '<div class="col-1-7" data-date-ymd="'+days[k].date_ymd+'" data-date-dmy="'+days[k].date_dmy+'"><p class="mt-2">'+days[k].day_week+'</p>'+events+'</div>'
    events =''
  }

  $('.set-weeks').html(day)
}


function showRgpd(){
  closeAlert()
  $('#ftco-loader').css({'opacity' : '0.7','visibility' : 'visible','z-index' : 9999})
  setTimeout(function(){
    $.ajax({ 
      url:'{{ path('index_rgpd') }}',
      type: "POST",
      success: function(data){  
        $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
        if (data.status == 1){
          $('#fsModal-rgpd').modal('show')
          $('.modal-title.rgpd').html(data.message)
          $('.modal-body.rgpd').html(data.data)
        }        
        else {
          $('#alerts').modal('show')
          $('.alert-warning').removeClass('d-none').addClass('show')
          $('.alert-warning span').html('{% trans %}gdpr_not_found{% endtrans %}')
        }
      },
      error:function(data){
        $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
        $('#alerts').modal('show')
        $('.alert-danger').removeClass('d-none').addClass('show')
        $('.alert-danger span').html('{%trans%}wifi_error{%endtrans%}')
      }
    })
  }, 500)
}



var timer ='';

function timeDecrease(v){

  if (timer) 
    clearInterval(timer)

  timer = setInterval(function() {
  

    if (v == 0){
    //      $('#alerts').modal('show')
    //      $('.alert-warning').removeClass('d-none').addClass('show')
    //      $('.alert-warning span').html('{% trans %}session_info{% endtrans %}')
      clearInterval(timer)
    }

    $('.timer').text(v)

    v--;
  }, 1000)
}



</script>

{% include 'home/modal.html' %}

{%else%}

{% include 'home/map.html' %}

{%endif%}
