    <section class="hero-wrap js-fullheight" style="background-image: url(images/banner.jpg)" data-stellar-background-ratio="1">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center">
          <div class="col-lg-12 ftco-animate d-flex align-items-center">
          	<div class="text text-center">
          		<span class="subheading">{% trans %}welcome_to{% endtrans %} {{company.name}}</span>
              {% if category %}
		  				
                <h1 class="mb-4">{{ category.name }}</h1>
  		  				
                {% if category.adultAmount> 0 %}
                  <h4>{% trans %}part_tree.adult{% endtrans %} {{ category.adultAmount}}<span>{{company.currency.currency}}</span>
                  </h4>
                {% else %}
                  <h4>{% trans %}part_tree.adult{% endtrans %}
                  <span>-/-</span>
                </h4>
                
                {% endif %}
                {% if category.childrenAmount > 0 %}
                
                <h4>{% trans %}part_tree.children{% endtrans %} {{ category.childrenAmount }}<span>{{company.currency.currency}}</span>
                </h4>
                {% else %}

                <h4>{% trans %}part_tree.children{% endtrans %}</span>
                  <span>-/-</span>
                </h4>
                
                {% endif %}
                
                <p>
                  <a href="#" onclick="navigation('#', {{ category.id }})" class="btn btn-primary btn-outline-primary px-4 py-2">{% trans %}book_now{% endtrans %}</a>
                </p>
              
              {% endif %}
							</div>
            </div>
          </div>
        </div>
      </div>
    </section>
		