<style>
.slider-text h4 {font-size: 2vw; text-transform: uppercase;line-height: 1;font-weight: 700;color: #FFF}
.slider-text span {font-size: 1vw;text-transform: uppercase;line-height: 1;font-weight: 700;color: #FFF}
.service-39381 {background: #fff;-webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.2);box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.2)}
.container-prod{max-width: 1210px}

@media(max-width: 768px){
.container-prod {margin:0 auto;max-width: 540px!important}
.slider-text span {font-size: 2.5vw}
.slider-text h4 {font-size: 4.5vw}
}
</style>


    <section class="hero-wrap js-fullheight" style="background-image: url(images/banner.jpg)" data-stellar-background-ratio="1">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center">
          <div class="col-lg-12 ftco-animate d-flex align-items-center">
          	<div class="text text-center">
              
              {% if category %}
		  				  <span class="subheading">{% trans %}welcome_to{% endtrans %} {{company.name}}</span>
                <h1 class="mb-4">{{ category.name }}</h1>
  		  				

          {% if category.shared%}

                {% if category.adultAmount> 0 %}
                  <h4>{% trans %}part_tree.adult{% endtrans %} {{ category.adultAmount}}<span>{{company.currency.currency}}</span>
                  </h4>
                {% else %}
                  <h4>{% trans %}part_tree.adult{% endtrans %}
                  <span>-/-</span>
                </h4>
                
                {% endif %}
                {% if category.childrenAmount > 0 %}
                
                <h4>{% trans %}part_tree.children{% endtrans %} {{ category.childrenAmount }}<span>{{company.currency.currency}}</span>
                </h4>
                {% else %}

                <h4>{% trans %}part_tree.children{% endtrans %}</span>
                  <span>-/-</span>
                </h4>
                
                {% endif %}

          {%else%}

                  <h4>{{ category.smallDescription}} {{ category.adultAmount}}<span>{{company.currency.currency}}</span>
                  </h4>

          {% endif %}               


                <p>
                  <a href="#" onclick="navigation('.ftco-booking', {{ category.id }}, {{category.shared}})" class="btn btn-primary btn-outline-primary px-4 py-2">{% trans %}book_now{% endtrans %}</a>
                </p>
              {%else%}
                  <h1 class="mb-4">{% trans %}welcome_to{% endtrans %}<br>{{company.name}}</h1>
              {% endif %}

							</div>
            </div>
          </div>
        </div>
      </div>
    </section>
		