<section class="ftco-section ftco-no-pt ftco-no-pb">
	<div class="row">
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service-39381">
              <img src="images/hero_1.jpg" alt="Image" class="img-fluid">
              <div class="p-4">
                <h3><a href="#"><span class="icon-room mr-1 text-primary"></span> Croatia — Columbia</a></h3>
                <div class="d-flex">
                  <div class="mr-auto">
                    <span class="icon-date_range"></span>
                    Sep. 05 — Oct. 15
                  </div>
                  <div class="ml-auto price">
                    <span class="bg-primary">$600</span>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service-39381">
              <img src="images/hero_2.jpg" alt="Image" class="img-fluid">
              <div class="p-4">
                <h3><a href="#"><span class="icon-room mr-1 text-primary"></span> Croatia — Columbia</a></h3>
                <div class="d-flex">
                  <div class="mr-auto">
                    <span class="icon-date_range"></span>
                    Sep. 05 — Oct. 15
                  </div>
                  <div class="ml-auto price">
                    <span class="bg-primary">$600</span>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service-39381">
              <img src="images/hero_1.jpg" alt="Image" class="img-fluid">
              <div class="p-4">
                <h3><a href="#"><span class="icon-room mr-1 text-primary"></span> Croatia — Columbia</a></h3>
                <div class="d-flex">
                  <div class="mr-auto">
                    <span class="icon-date_range"></span>
                    Sep. 05 — Oct. 15
                  </div>
                  <div class="ml-auto price">
                    <span class="bg-primary">$600</span>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service-39381">
              <img src="images/hero_2.jpg" alt="Image" class="img-fluid">
              <div class="p-4">
                <h3><a href="#"><span class="icon-room mr-1 text-primary"></span> Croatia — Columbia</a></h3>
                <div class="d-flex">
                  <div class="mr-auto">
                    <span class="icon-date_range"></span>
                    Sep. 05 — Oct. 15
                  </div>
                  <div class="ml-auto price">
                    <span class="bg-primary">$600</span>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service-39381">
              <img src="images/hero_1.jpg" alt="Image" class="img-fluid">
              <div class="p-4">
                <h3><a href="#"><span class="icon-room mr-1 text-primary"></span> Croatia — Columbia</a></h3>
                <div class="d-flex">
                  <div class="mr-auto">
                    <span class="icon-date_range"></span>
                    Sep. 05 — Oct. 15
                  </div>
                  <div class="ml-auto price">
                    <span class="bg-primary">$600</span>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service-39381">
              <img src="images/hero_2.jpg" alt="Image" class="img-fluid">
              <div class="p-4">
                <h3><a href="#"><span class="icon-room mr-1 text-primary"></span> Croatia — Columbia</a></h3>
                <div class="d-flex">
                  <div class="mr-auto">
                    <span class="icon-date_range"></span>
                    Sep. 05 — Oct. 15
                  </div>
                  <div class="ml-auto price">
                    <span class="bg-primary">$600</span>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>

        </div>
</section>