
<script src="https://js.stripe.com/v3/"></script>
  <!--label class="">{% trans %}deposit{% endtrans %}:</label> 
  {% set deposit = data.payment.deposit == 0 ? 100 : data.payment.deposit*100 %}

  <span class="w3-right">{{deposit}}%</span><br-->
  <!--form id="payment-form"-->
  <label class="mb-0">{% trans %}part_seven.card_n{% endtrans %}</label>
  <div id="card-element" style="padding: 10px 8px"></div>
  <div id="card-errors" class="font-weight-bold text-danger f-10" role="alert"></div>
  <div class="set-token"></div>
  <!--/form-->
  <input type="hidden" id="card-button" data-secret="{{data.payment.payment_intent.data.client_secret}}">
<script>

  var key = '{{data.payment.public_key}}'
  var stripe = ''
  var elements = ''
  var style = ''
  var card = ''
  var displayError = ''

  function buildStripe(k){
    if (k){
      stripe = Stripe(k)
      elements = stripe.elements()
      style = {
        base: {
          //color: '#3f51b5',
          fontFamily:'"Poppins", Helvetica', //  '"Helvetica Neue", Helvetica',
          fontSmoothing: 'antialiased',
          //fontWeight: '',
          fontSize: '16px',
          '::placeholder': {
            color: '#111'
          },
        },
        invalid: {
          color: '#fa755a',
          iconColor: '#fa755a'
        },
        
      }
      $('#card-errors').empty()
      card = elements.create('card', {
        hidePostalCode: true, 
        style: style,

      })
      
      card.mount('#card-element');
      card.addEventListener('change', function(event) {
        displayError = document.getElementById('card-errors')
        displayError.textContent = event.error ? event.error.message: ''
      })
    }
  }

  function handleCard(){
    closeAlert()
    stripe.handleCardPayment($('#card-button').data('secret'), card,{
      payment_method_data: {
        billing_details: {
          name: $('input[name=name]').val(),
          email: $('input[name=email]').val(),
          phone: $('input[name=telephone]').val()
        }
      },
      receipt_email: $('input[name=email]').val()
    }
    ).then(function(result) {
      if (result.error) {
        m = result.error.message
        
        alert(result.error.code)
        
        if(result.error.code == 'payment_intent_authentication_failure')
          m = '{% trans %}payment_intent_authentication_failure{% endtrans %}'
        
        else if (result.error.code == 'card_declined' && result.error.decline_code == "insufficient_funds")
          m = '{% trans %}insufficient_funds{% endtrans %}'

        else if(result.error.code == 'payment_intent_unexpected_state'){
          m = '{% trans %}payment_intent_unexpected_state{% endtrans %}'
          $('.close').attr('onclick','location.reload(true)')
        }
        
        $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
        $('#alerts').modal('show')
        $('.alert-warning').removeClass('d-none').addClass('show')
        $('.alert-warning span').html(m)   
      } 
      else
        getUrlReceipt(result.paymentIntent.id)
    })
  }

  //pi_id = payment_intent_id
  function getUrlReceipt(pi_id){
    closeAlert()
    var html = ''
      $.ajax({  
      url :'{{ path('home_get_charge')}}',
      type: "POST",
      cache: false,
      data: 'pi_id='+pi_id,
      success: function(data){
        $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
        //console.log(data)
        if (data.status == 1){

          info = data.data.data.data[0]

          html ='<div style="margin-top:-8px" class="text-right f-24">{% trans %}order{% endtrans %} <span style="font-size:30px;color:#000">'+data.message+'</span></div><div>{% trans %}thank_you{% endtrans %}</div><hr><div style="color:#000;font-size:18px;text-align:center">{% trans %}spam_txt{% endtrans %}</div><hr><div class="text-center"><a class="btn btn-primary btn-outline-primary px-2 py-1" target="_blank" href='+info.receipt_url+'> {% trans %}receipt{% endtrans %}</a></div>'

          $('#fsModal-success').modal('show')
          $('#fsModal-success .modal-body').html(html)
          //clearInterval(timer)
          card.destroy()
          clearBooking()

        }
        else{
          $('#alerts').modal('show')
          $('.alert-warning').removeClass('d-none').addClass('show')
          $('.alert-warning span').html(data.message)           
        }
      },
      error:function(data){
        $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
        $('#alerts').modal('show')
        $('.alert-danger').removeClass('d-none').addClass('show')
        $('.alert-danger span').html('{%trans%}wifi_error{%endtrans%}')
      }
    })
  }

  setTimeout(function(){
    buildStripe('{{data.payment.public_key}}') 
    $('.check-out').removeClass('d-none')
  }, 1000)

</script>

