<style>
.f-24{font-size:24px}
.f-14{font-size:14px}
.f-18{font-size:18px}
.f-36{font-size:36px}
.pointer{cursor:pointer}
.w-54{width:54px}
.h-58{height:58px}
.h-54{height:54px}
.dis-position{position: absolute;font-size: 32px; margin: 6px -13px}
.bold{font-weight: bold}
.months, .days, .show-datetime{max-width: 800px}
.op-20{opacity:0.2}
.op-40{opacity:0.4}
.op-60{opacity:0.6}
.op-80{opacity:0.8}

@media (max-width: 580px){
.zoom-78{zoom: 78%}
.days{padding: 0px}
.mb-4-540{margin-bottom: 0px!important}
.modal-body-full {top:44px}
}

@media (max-width: 480px){
.zoom-74{zoom: 74%}}
.col-1-7 {-webkit-box-flex: 0;-ms-flex: 0 0 14.285714%;flex: 0 0 14.285714%;max-width: 14.285714%}
.bootstrap-datetimepicker-widget table th,.bootstrap-datetimepicker-widget table td.day {height: 48px;line-height: 48px;width:54px}
.bootstrap-datetimepicker-widget table td.disabled {background: #ffdddd;color: #FFF}
.day{background: #ddffdd;color: #000}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {padding: 2px!important;border: 3px solid #FFF!important}

</style>

<div id="fsModal" class="modal modal-full animated fade" tabindex="-1" role="dialog"aria-labelledby="myModalLabel" aria-hidden="true">
  <!-- dialog -->
  <div class="modal-dialog modal-dialog-full">
    <!-- content -->
    <div class="modal-content modal-content-full">
      <!-- header -->
      <div class="modal-header modal-header-full">
       <h4 class="text-center">{% trans %}info.choose_a_date{% endtrans %}</h4>
          <span class="pointer mr-2" style="margin-top:-6px"data-dismiss="modal"><i class="icon-times"></i></span>
      </div>
      <!-- header -->
      <!-- body -->
      <div class="modal-body modal-body-full" style="bottom:0px;padding-bottom:0">
        <div class="container months">
          <div class="row f-24 mb-3 mb-4-540">
            <div class='col-md-3 col-sm-0 d-none d-lg-block d-xl-block d-md-block'>&nbsp;</div>
            <div class='col-md-6 col-sm-12'>
              <div class="form-group">
                <input type='text' class="form-control text-center pointer bold" id='datetimepicker' readonly/>
              </div>
            </div>
          </div>
        </div>

        <div class="container days" style="margin-top:-0.5em">

        <div class="row f-24">

          <div class="col-sm-1 col-xs-3 col-3 text-left" onclick="getWeek(-1)">
            <i class="icon-chevron-left pointer previous"></i>
          </div>

          <div class="col-sm-0 col-xs-6 col-6 text-center d-block d-sm-none">{%trans%}info.week{%endtrans%}</div>
          
          <div class="col-xs-3 text-right col-3 d-block d-sm-none" onclick="getWeek(1)">
            <i class="icon-chevron-right pointer next"></i>
          </div>

          <div class="col-sm-10 col-xs-12 text-center f-14 zoom-78 zoom-74">
            <div class="row bold set-weeks " style="color:#000"></div>
          </div>

          <div class="col-sm-1 text-right d-none d-xl-block d-lg-block d-md-block d-sm-block d-md-none" onclick="getWeek(1)">
            <i class="icon-chevron-right pointer next"></i>
          </div>
        </div>
        </div>

        <div class="container show-datetime d-none">
        <div class="row f-18 bold mb-4 mb-4-540">
          <div class="col-1 text-center">&nbsp;</div>
          <div class="col-10 text-center">
            <span class="set-datetime"></span>
          </div>

        </div>
        
        <div class="row">
          <div class="col-12 text-center">
            <span class="proceed hidden" data-dismiss="modal"></span>
            <button class=" btn btn-outline-success px-4 py-2" onclick="goToForm()">
              {%trans%}next{%endtrans%}
            </button>
          </div>
          </div>
        </div>

      </div>
    </div>
    <!-- content -->

  </div>
  <!-- dialog -->

</div>

<div class="modal" id="fsModal-rgpd">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title rgpd"></h4>
        <button type="button" class="close" data-dismiss="modal"><i class="icon-times"></i></button>
      </div>
      <div class="modal-body rgpd f-14"></div>
 
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-times"></i></button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="fsModal-success">
  <div class="modal-dialog modal-sm">
    <div class="modal-content alert-success" style="background-color: #d4edda">
      <div class="modal-header">
        <h4 class="modal-title">{%trans%}success{%endtrans%}</h4>
        <button type="button" class="close" data-dismiss="modal"><i class="icon-times"></i></button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>


<script>

function goToForm(){
  $('.personal-data').removeClass('d-none')
  $('.proceed').trigger('click')
  $("html, body").animate({
    scrollTop: $('.col-md-12.form-group').offset().top +16
  }, 500)
}


function initializeDateTimePicker(){
   //Destroy datepicker if exists
  $('#datetimepicker').data('DateTimePicker') != null ? $('#datetimepicker').data('DateTimePicker').destroy() : false
  $('#datetimepicker').datetimepicker({
    format : 'DD/MM/YYYY',
    ignoreReadonly: true,
    widgetPositioning: {
      horizontal: 'left',
      vertical: 'bottom'
    },
    defaultDate:available_dates[0],
    enabledDates: available_dates,
    locale: '{{app.request.locale}}',
    minDate: available_dates[0],
    maxDate: available_dates[available_dates.length -1]
  })

}

  $('#datetimepicker').on('dp.change', function(e){
    
    var ymd = $('#datetimepicker').val().split("/")    
    if (ymd.length > 0)
      $('[name=date]').val(ymd[2]+'-'+ymd[1]+'-'+ymd[0])

    if(flag == true)
      availabilityModal()
  })


  //b 1 = next week || -1 = previous week  
  function getWeek(b){

    $('.icon-chevron-right.next, .icon-chevron-left.previous').removeClass('d-none')

    week = b == 1 ? $( ".col-1-7" ).last() : $( ".col-1-7" ).first()
  
    date_picker = $(week).data('date-dmy')

    if( b == 1 && $(week).data('date-ymd') >= available_dates[available_dates.length -1]){
      //console.log('out max || click date = '+ $(week).data('date-ymd')+' max data = '+available_dates[available_dates.length -1])
      $('.icon-chevron-right.next').addClass('d-none')
      return
    }
    
    if(b == -1){
      previous = new Date($(week).data('date-ymd')) 
      previous.setDate(previous.getDate()- 7)

      previous_ymd = previous.getFullYear()+'-'+(previous.getMonth()+1) +'-'+previous.getDate()
      previous_dmy = previous.getDate()+'/'+(previous.getMonth()+1)+'/'+previous.getFullYear()

      if (previous_ymd <= available_dates[0]){

        ddd = new Date(available_dates[0])
        min_dmy = ddd.getDate()+'/'+(ddd.getMonth()+1)+'/'+ddd.getFullYear()
        $('[name=date]').val(available_dates[0])
        $('[name=next]').val(b)
        $('.icon-chevron-left.previous').addClass('d-none')
        $('#datetimepicker').val(min_dmy).trigger('change')
        return
      }
      $('[name=date]').val(previous_ymd)
      $('[name=next]').val(b)
      date_picker = previous_dmy
    }
    else{
      //console.log('click date = '+ $(week).data('date-ymd')+' min data = '+available_dates[0])
      //console.log('click date = '+ $(week).data('date-ymd')+' max data = '+available_dates[available_dates.length -1])
      $('[name=date]').val($(week).data('date-ymd'))
      $('[name=next]').val(b)
      //To make request
      flag = true
    }
    $('#datetimepicker').val(date_picker).trigger('change')
  }

  function setEvent(obj){
    $('.btn-primary').addClass('btn-outline-primary')
    e = $(obj).data('evt')
    $(obj).removeClass('btn-outline-primary')
    d = $(obj).data('date')
    $('.set-datetime').html(d)
    $('.show-datetime').removeClass('d-none')
    $('[name=event]').val(e)
  }

function availabilityModal(){
    
  closeAlert()
  
  if( $('[name=category]').val() && $('[name=adult]').val() > 0){

    pax = Number($('[name=adult]').val()) + Number($('[name=children]').val()) + Number($('[name=baby]').val())

    $('#ftco-loader').css({'opacity' : '0.7','visibility' : 'visible','z-index' : 9999})
        
    setTimeout(function(){
      $.ajax({  
      url: '{{ path('available_by_period') }}',
      type: "POST",
      data: $('.appointment-form').serialize(),
      cache: false,
      success: function(data){ 
        
        console.log(data) 
        $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
        if (data.status == 1 && data.data.available_dates.length > 0){
          $('[name=wp]').val(data.data.payment)
          $('#fsModal').modal('show')
          buildWeekTemplate(data.data.week)
        }
        else{
         alert('no availability max pax is'+ data.data.availability)
        }
      },
      error:function(data){
        $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
        $('#alerts').modal('show')
        $('.alert-danger').removeClass('d-none').addClass('show')
        $('.alert-danger span').html('{%trans%}wifi_error{%endtrans%}')
      }
    })
  }, 500)

  }
  else{
    $('#alerts').modal('show')
    $('.alert-primary').removeClass('d-none').addClass('show')
    $('.alert-primary span').html('Tour and adults')
  }
}

$('.show-datetime').addClass('d-none')

</script>

