<div id="fsModal-payment" class="modal modal-full animated fade" tabindex="-1" role="dialog"aria-labelledby="myModalLabel" aria-hidden="true">
  <!-- dialog -->
  <div class="modal-dialog modal-dialog-full">
    <!-- content -->
    <div class="modal-content modal-content-full">
      <!-- header -->
      <div class="modal-header modal-header-full">
       <h4 class="text-center">{% trans %}confirm_booking{% endtrans %}</h4>
          <span class="pointer mr-2 proceed" style="margin-top:-6px" data-dismiss="modal"><i class="icon-times"></i></span>
      </div>
      <!-- header -->
      <!-- body -->
      <div class="modal-body modal-body-full no-pd-mob" style="bottom:0px;padding-bottom:0">
        <div class="container">
          <div class="row mb-4" style="font-size:1em;color:#000; max-width:640px;margin:0 auto">
            <div class="col-12 col-xl-6 col-lg-6 col-md-6">
              <b>{%trans%}name{%endtrans%}:</b> {{data.user.name}}<br>
              <b>{%trans%}email{%endtrans%}:</b> {{data.user.email}}<br>
              <b>{%trans%}phone{%endtrans%}:</b> {{data.user.telephone}}<br>
              <b>{%trans%}address{%endtrans%}:</b> {{data.user.address}}<br>
              <hr>
            </div>
              
            <div class="col-12 col-xl-6 col-lg-6 col-md-6">
              <b>{%trans%}tour{%endtrans%}:</b> {{data.booking.tour}}<br>
              <b>{%trans%}date{%endtrans%}:</b> {{data.booking.date}}<br>
              <b>{%trans%}hour{%endtrans%}:</b> {{data.booking.hour}}<br>
              <b>{%trans%}adults{%endtrans%}:</b> {{data.adult.quantity}}x {{data.adult.subtotal_money}}<span class="f-10">{{data.adult.subtotal.currency}}</span>
              <span class="float-right">{{data.adult.total_money}}<span class="f-10">{{data.adult.total.currency}}</span></span>
              <br>

              {% if data.children.quantity > 0 %}

              <b>{%trans%}childrens{%endtrans%}:</b> {{data.children.quantity}}x {{data.children.subtotal_money}}<span class="f-10">{{data.children.subtotal.currency}}</span>
              <span class="float-right">{{data.children.total_money}}<span class="f-10">{{data.children.total.currency}}</span></span>
              <br>

              {% endif %}
              {% if data.baby.quantity > 0 %}

              <b>{%trans%}babies{%endtrans%}:</b> {{data.baby.quantity}}x {{data.baby.subtotal_money}}<span class="f-10">{{data.baby.subtotal.currency}}</span>
              <span class="float-right">{{data.baby.total_money}}<span class="f-10">{{data.baby.total.currency}}</span></span>
              <br>

              {% endif %}

              <hr>
            </div>
              
            <div class="col-12">
                         
              {% if data.payment.enabled %}
              {% if data.payment.deposit != 100 %}

              <div class="f-24 text-center" style="margin-top:-12px">
                <span>
                  <b>{%trans%}pay{%endtrans%}:</b>
                </span>{{data.booking.total_to_charge_money}}<span class="f-10">{{data.booking.total.currency}}</span>
                <br>
                <span>
                  <b>{{data.booking.charge_message}}:</b>
                </span>{{data.booking.to_be_charged_money}}<span class="f-10">{{data.booking.total.currency}}</span>
                </span>
              </div>

              {%else%}
                <div class="f-24 text-center" style="margin-top:-12px">
                <span>
                  <b>{%trans%}total{%endtrans%} :</b></span>{{data.booking.total_money}}<span class="f-10">{{data.booking.total.currency}}
                </span>
              </div>

              {%endif%}

              <div>
                {% include 'home/category_payment.html' %}
              </div>
              <div class="text-center check-out d-none">
                <button class="btn btn-outline-success px-4 py-2 mt-4" onclick="checkOut()">
                  {%trans%}confirm_pay{%endtrans%}
                </button>
              </div>

              
              {% else%}
              
              <div class="f-24 text-center" style="margin-top:-12px">
                <span>
                  <b>{%trans%}total{%endtrans%}:</b></span> {{data.booking.total_money}}<span class="f-10">{{data.booking.total.currency}}
                </span>
              </div>
              <div class="text-center">
                <button class="btn btn-outline-success px-4 py-2" onclick="checkOut()">
                  {%trans%}info.confirm{%endtrans%}
                </button>
              </div>
              
              {% endif %}





            </div>

          </div>
      </div>
    </div>
    <!-- content -->
  </div>
  <!-- dialog -->
</div>
<!-- modal -->
<script>

function checkOut(){
  closeAlert() 
  $('#ftco-loader').css({'opacity' : '0.7','visibility' : 'visible','z-index' : 9999})
  if($('#card-button').length){
    $('#card-errors').empty()
    setTimeout(function(){
      stripe.createToken(card).then(function(result) {
        if (result.error){
          var errorElement = document.getElementById('card-errors')
          errorElement.textContent = result.error.message
          $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
          return
        }
        else
          endBuy()
      })
    }, 500)
  }
  else{
    setTimeout(function(){
      endBuy()
    }, 500)
  }
}

function clearBooking(){
  $('#fsModal-payment').modal('hide')
  $('.appointment-form').trigger('reset')
  clearInfo()
}

function endBuy(){
  
  closeAlert()
  
  var html= ''
  $.ajax({ 
    url: '{{ path('set_new_booking') }}',
    type: "POST",
    cache: false,
    data: $('.appointment-form').serialize()+'&secret='+$('#card-button').data('secret'),
    success: function(data){

      if (data.status == 3){
        $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
        $('#alerts').modal('show')
        $('.alert-warning').removeClass('d-none').addClass('show')
        $('.alert-warning span').html(data.message+'-->'+data.data)
      }
      else if (data.status == 1){
        $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
        clearInterval(timer)
        clearBooking()
        html ='<div style="margin-top:-8px" class="text-right f-24">{% trans %}order{% endtrans %} <span style="font-size:32px;color:#000">'+data.data+'</span></div><div class="">{% trans %}thank_you{% endtrans %}</div><hr><div style="color:#000;font-size:18px;text-align:center">{% trans %}spam_txt{% endtrans %}</div>'

        $('#fsModal-success').modal('show')
        $('#fsModal-success .modal-body').html(html)
        //clearInterval(timer)        
        
      }
      //show what went wrong
      else if (data.status == 0 || data.status == 2){
              
       $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
              
        for(var k in data.message)
          html += '<div class="required">'+data.message[k]+'</div>'

          $('#alerts').modal('show')
          $('.alert-primary').removeClass('d-none').addClass('show')
          $('.alert-primary span').html(html)
      }      
      else if (data.status == 4){
          $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
          $('#alerts').modal('show')
          $('.alert-warning').removeClass('d-none').addClass('show')
          $('.alert-warning span').html(data.message)
      }
      
      //this has payment required
      else if(data.data != 'succeeded'){
        handleCard()
      }
      else{
        $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
        $('#alerts').modal('show')
        $('.alert-warning').removeClass('d-none').addClass('show')
        $('.alert-warning span').html(data.message+'-->'+data.data)   
      }
    },
    error:function(data){
      $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
      $('#alerts').modal('show')
      $('.alert-danger').removeClass('d-none').addClass('show')
      $('.alert-danger span').html('{%trans%}wifi_error{%endtrans%}')
    }
  })
}


</script>

