<style>
.modal-dialog{padding-bottom: 9em}
</style>

<div class="modal" id="fsModal-abitrary">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{% trans %}arbitrary.name{%endtrans%}</h4>
        <button type="button" class="close" data-dismiss="modal"><i class="icon-times"></i></button>
      </div>
      <div class="modal-body f-14">
        <p>
          {% trans %}arbitrary.txt{%endtrans%}
        </p>
      </div> 
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-times"></i></button>
      </div>
    </div>
  </div>
</div>
