<div id="fsModal-payment" class="modal modal-full animated fade" tabindex="-1" role="dialog"aria-labelledby="myModalLabel" aria-hidden="true">
  <!-- dialog -->
  <div class="modal-dialog modal-dialog-full">
    <!-- content -->
    <div class="modal-content modal-content-full">
      <!-- header -->
      <div class="modal-header modal-header-full">
       <h4 class="text-center">{% trans %}confirm_booking{% endtrans %}</h4>
          <span class="pointer mr-2" style="margin-top:-6px"data-dismiss="modal"><i class="icon-times"></i></span>
      </div>
      <!-- header -->
      <!-- body -->
      <div class="modal-body modal-body-full no-pd-mob">
        <div class="container">
          <div class="row mb-4" style="font-size:1em;color:#000; max-width:640px;margin:0 auto">
            <div class="col-12">
              {%trans%}tour{%endtrans%}: {{data.booking.tour}}<br>
              {%trans%}date{%endtrans%}: {{data.booking.date}}<br>
              {%trans%}hour{%endtrans%}: {{data.booking.hour}}<br>
              {%trans%}adults{%endtrans%}: {{data.adult.quantity}}x {{data.adult.subtotal_money}}<span class="font-weight-bold f-10">{{data.adult.subtotal.currency}}</span>
              <br>

              {% if data.children.quantity > 0 %}

              {%trans%}childrens{%endtrans%}: {{data.children.quantity}}x {{data.children.subtotal_money}}<span class="font-weight-bold f-10">{{data.children.subtotal.currency}}</span>
              <br>

              {% endif %}
              {% if data.baby.quantity > 0 %}

              {%trans%}babies{%endtrans%}: {{data.baby.quantity}}x {{data.baby.subtotal_money}}<span class="font-weight-bold f-10">{data.baby.subtotal.currency}}</span>
              <br>

              {% endif %}

              <hr>
              {%trans%}name{%endtrans%}: {{data.user.name}}<br>
              {%trans%}email{%endtrans%}: {{data.user.email}}<br>
              {%trans%}phone{%endtrans%}: {{data.user.telephone}}<br>
              {%trans%}address{%endtrans%}: {{data.user.address}}<br>
              <hr>
              <div class="f-24 text-center font-weight-bold" style="margin-top: -12px">
                {%trans%}total{%endtrans%}: {{data.booking.total_money}}<span class="f-10">{{data.booking.total.currency}}</span>
              </div>
            </div>
            
            {% if data.payment == true %}
            <div class="col-12">
              {% include 'home/category_payment.html' %}
            </div>
            {% endif %}

          </div>
        </div>
        <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <span class="proceed hidden" data-dismiss="modal"></span>
            <button class="btn btn-outline-success px-4 py-2" onclick="payNow()">
              {%trans%}pay_now{%endtrans%}
            </button>
          </div>
          </div>
        </div>

      </div>
    </div>
    <!-- content -->
  </div>
  <!-- dialog -->
</div>
<!-- modal -->
<script>


function payNow(){
  alert('create booking and payment')
  return
  $('[name=wp]').val() ? $('.confirm-btn').html('{%trans%}confirm_pay{%endtrans%}') : $('.confirm-btn').html('{%trans%}info.confirm{%endtrans%}')
  $('.personal-data').removeClass('d-none')
  $('.proceed').trigger('click')
  $("html, body").animate({
    scrollTop: $('.col-md-12.form-group').offset().top +16
  }, 500)
}

</script>

