
<div id="fsModal" class="modal modal-full animated fade"tabindex="-1" role="dialog"aria-labelledby="myModalLabel" aria-hidden="true">
  <!-- dialog -->
  <div class="modal-dialog modal-dialog-full">
    <!-- content -->
    <div class="modal-content modal-content-full">
      <!-- header -->
      <div class="modal-header" style="background:#FFF">
       <h2 class="text-center">
          Dates
        </h2>
          <button class="btn btn-default" data-dismiss="modal"> x </button>
      </div>
      <!-- header -->
      <!-- body -->
      <div class="modal-body modal-body-full">
		<br>

        <p>The last word drumguish irish flag, hurricane, brandy manhattan. Lemon drop, pulteney fleischmann's seven and seven irish flag pisco sour metaxas, hayride, bellini. French 75 wolfram christian brothers, calvert painkiller, horse's neck old bushmill's gin pahit. Monte alban glendullan, edradour redline cherry herring anisette godmother, irish flag polish martini glen spey. Abhainn dearg bloody mary amaretto sour, ti punch black cossack port charlotte tequila slammer? Rum swizzle glen keith j & b sake bomb harrogate nights 7 crown! Hairy virgin tomatin lord calvert godmother wolfschmitt brass monkey aberfeldy caribou lou. Macuá, french 75 three wise men.</p>
      </div>
      <!-- body -->

      <!-- footer -->
      <div class="modal-footer modal-footer-full">
        <button class="btn btn-light btn-outline-default px-4 py-2"
                data-dismiss="modal">
          close
        </button>
      </div>
      <!-- footer -->

    </div>
    <!-- content -->

  </div>
  <!-- dialog -->

</div>
<!-- modal -->