  
<nav class="zoom-75 navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" style="padding-left:50px" id="ftco-navbar">
	<div class="container">
	    <a class="navbar-logo navbar-brand" href="{{ path('index_new') }}">
			<img src="/upload/gallery/{{company.logo}}" alt="{{company.metaDescription}}" style="position:absolute;width:96px;left:-44px;top:-6px">
	    	{{company.name}}
	    </a>

	    <button class="navbar-toggler navbar-brand" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="icon icon-navicon"></span>
	    </button>
	    
	     <div class="collapse navbar-collapse zoom-100" id="ftco-nav">
	        <ul class="navbar-nav ml-auto text-right">

				{% for link in menu %}

		        	<li class="nav-item {{link.class}}" >
		        		<a href="{{ path(link.path) }}" target="{{link.target}}" class="nav-link">{{link.name}}</a>
		        	</li>

				{% endfor %}
    			
    			{% if locales %}
         		{% for local in locales %}
         		{% if app.request.locale != local.name %}
        		
        		<li class="nav-item">
	        		<a href="{{ path('index_user_translate', {lang: local.name, page: page}) }}" class="nav-link" style="padding: 16px 0px 0px 0px">
	          			<img class="flag" src='{{local.filename}}' title="{{local.name}}">
	        		</a>
        		</li>

				{% endif %}
        		{% endfor %}
    			{% endif %}
	        
	        </ul>
		</div>
	</div>
</nav>

 {% if warning.visible == 1 %}
    <div class="no-cave-rides">
        <p class="marquee">
            <i class="icon-exclamation-triangle"></i>&nbsp;
            <span> {{ app.request.locale == 'pt_PT' ? warning.infoPt : warning.infoEn }}</span>
        </p>
    </div>
 {% endif %}

<script>
$('.nav-link, .navbar-logo').click(function(){$('#ftco-loader').css({'visibility':'visible','opacity':1})})
</script>