{% if categories %}

<section class="ftco-section ftco-pricing">
  <div class="container">
     <div class="row justify-content-center pb-3">
          <div class="col-md-10 heading-section text-center ftco-animate">
            <span class="subheading">Pricing</span>
            <h2 class="mb-4">Our Tours</h2>
            <p>Come and enjoy the best Tour caves in Algarve only with {{company.name}}</p>
          </div>
        </div>
    <div class="row container-prod">

    {% for category in categories %}

          <div class="col-md-6 col-lg-4 mb-4 col-sm-12 no-pd-l-r" id='category-{{category.id}}'>
            <div class="service-39381">
              <img src="upload/category/{{ category.image }}" onerror="this.src='/upload/category/no-image.png'" alt="{{category.name}}" class="img-fluid">
              <div class="p-4">
                <span class="icon-tag text-primary"></span>
                <span style="font-size:20px;color#000">{{ category.name}}</span>
                
                {% for review in feedback %}
                    {% if review.id == category.id %}
                    <sup>
                      <span class="f-16">
                        <sup>{{ review.average|round(1, 'floor') }} 
                          <sup class="f-10">
                            <i class="txt-shadow icon-star f-12 text-yellow"></i>
                            <sup class="f-10">{{ review.reviews }}</sup>
                          </sup>
                        </sup>
                      </span>
                    </sup>
                  {% endif %}
                {% endfor %}
                <br>
                <span class="icon-clock-o text-primary"></span> {{category.duration}} {% trans %}minutes{% endtrans %}
                <div class="d-flex">
                                  

                <div id="accordionEx-{{category.id}}" role="tablist" aria-multiselectable="true">

                  <div style="border-bottom: 1px solid #e0e0e0_">

                    <div role="tab" id="heading-{{category.id}}">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx-{{category.id}}" href="#collapse-{{category.id}}"
                        aria-expanded="false" aria-controls="collapse-{{category.id}}">
                        <h5 class="text-info mb-0">
                          More info
                        </h5>
                      </a>
                    </div>
                    <div id="collapse-{{category.id}}"  style="border-top:1px solid #aaa" class="collapse" role="tabpanel" aria-labelledby="heading-{{category.id}}" data-parent="#accordionEx-{{category.id}}" style="position:absolute;z-index:999">
                      <div class="p-1" style="color: #000">
                      {{category.description}}
                      {% if category.warrantyPayment %}

                      <div class="text-center">
                        -<br>
                        {{category.warrantyPaymentTxt}}
                      </div>
                      {% endif %}
                      </div>
                    </div>

                  </div>
                </div>


                  </div>
                  <div class="d-flex" style="border-top:1px solid #aaa">
                  <div class="mr-auto">
                    {% trans %}part_tree.adult{% endtrans %} <b>{{category.adultAmount}}</b><span class="f-10">{{company.currency.currency}}</span><br>
                    {% trans %}part_tree.children{% endtrans %} <b>{{category.childrenAmount}}</b><span class="f-10">{{company.currency.currency}}</span><br>
                    {% trans %}part_tree.baby{% endtrans %} <b>0.00</b><span class="f-10">{{company.currency.currency}}</span><br>
                  </div>
                </div>
                  <div class="text-center price p-2">

                    {% if category.no_stock %} 
                    <button disabled class="disabled btn btn-danger btn-outline-danger px-4 py-2"> 
                      {% trans %}unavailable{% endtrans %}
                    </button>
                    {% else %}
                    <span onclick="navigation('.ftco-booking', {{ category.id }})" class="btn btn-primary btn-outline-primary px-4 py-2"> 
                      {% trans %}book_now{% endtrans %}
                    </span>
                    {% endif %}
                  </div>
              </div>
            </div>
          </div>
        {%endfor%}
        
        </div>
    </div>
</section>









<script>

function navigation(pos,id){
  vl = 45;
  $(".nav-space").val() ? vl = vl + parseInt($(".nav-space").val()) : vl;
  $("html, body").animate({
    scrollTop: $(pos).offset().top -vl
  }, 750)
  if (id){
    $('select[name=category]').val(id)
  }
}


</script>


{%endif%}