###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
###> routines files  ###
/cron_logs/cleardata.txt
/cron_logs/paytimeout.txt
/cron_logs/reminder.txt
###< routines files ###
###> symfony/webpack-encore-bundle ###
/node_modules/
/public_html/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
