<div class="modal" id="modal-testimony">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{% trans %}send_feedback{% endtrans %}</h4>

        <button type="button" class="close" data-dismiss="modal"><i class="icon-times"></i></button>
      </div>
      <div class="modal-body f-14">
        <p class="text-center">{%trans%} info.fill_all{% endtrans %}</p>
      
        {{ form_start(feedbackForm, {'attr': {'id': 'feedback-form', 'class':'appointment-form'}})  }}
      
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <span class="text-danger f-10 d-none float-right email required-txt"><b>{%trans%}required{%endtrans%}</b></span>
            <span class="text-danger f-10 d-none float-right booking_email_invalid required-txt"><b>{%trans%}booking_email_invalid{%endtrans%}</b></span>
            <span class="text-danger f-10 d-none float-right invalid_email required-txt"><b>{%trans%}part_seven.email_invalid{%endtrans%}</b></span>
            {{ form_widget(feedbackForm.email)}} 
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <span class="text-danger f-10 d-none float-right booking_nr required-txt"><b>{%trans%}required{%endtrans%}</b></span>
            <span class="text-danger f-10 d-none float-right booking_not_valid required-txt"><b>{%trans%}booking_not_valid{%endtrans%}</b></span>
            <span class="text-danger f-10 d-none float-right already_left_feedback required-txt"><b>{%trans%}already_left_feedback{%endtrans%}</b></span>
            {{ form_widget(feedbackForm.booking)}} 
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group" style="margin:-0.5em 0em 0.7em 0em">
            {{ form_widget(feedbackForm.rate)}}
            <span class="text-danger f-10 d-none float-right rate required-txt"><b>{%trans%}required{%endtrans%}</b></span>
            <div class="text-center">
              {% for i in 1..5 %}
                <i class="icon-star f-30 star-nr-{{i}}" onclick="setStars({{i}})" style="cursor:pointer" title="{{i}}-stars"></i> 
              {% endfor %}
          
            </div>
          </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <span class="text-danger f-10 d-none float-right observations required-txt"><b>{%trans%}required{%endtrans%}</b></span>
          {{ form_widget(feedbackForm.observations)}}
        </div>
      </div>
      
      <div class="col-lg-12">
        <div class="form-group">
          <b>
            <div class="user-message-feedback mt-2 text-center text-success d-none p-2 w3-margin-bottom"></div>
          </b>
        </div>
      </div>

      </div>
      {{form_end(feedbackForm)}}
      </div> 
      <div class="modal-footer">
        <button type="button" class="btn btn-default mr-5 px-4 py-2"  style="border:1px solid #000" data-dismiss="modal">{%trans%}close{%endtrans%}</button>
        <span class="btn btn-outline-success px-4 py-2" onclick="$('#feedback-form').trigger('submit')">
          {%trans%}part_seven.submit{%endtrans%}
        </span>
      </div>
    </div>
  </div>
</div>

<script>

  function clearFeedback(){
    $('#feedback-form').trigger('reset')
    $('.icon-star').removeClass('text-yellow animate-zoom')
    $('.required').addClass('d-none')
    $('#feedback_booking').val('').removeAttr('readonly')
  }

  function setStars(nr){
    c = 0
    $('.icon-star').removeClass('text-yellow w3-animate-zoom')

    while (c != nr){
      c++
      $('.star-nr-'+c).addClass('text-yellow w3-animate-zoom')
    }

    $('#feedback_rate').val(nr)
  }

  $('#feedback-form').on('submit',function(e){
    e.preventDefault()
    $('.required-txt').addClass('d-none')
    $('#ftco-loader').css({'opacity' : '0.7','visibility' : 'visible','z-index' : 9999})
    
    setTimeout(function(){
      $.ajax({
        url:"{{ path('send_feedback') }}",
        type: "POST",
        data: $('#feedback-form').serialize(),
        cache: false,
        success: function(data){
          console.log(data)
          $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
          if(data.status == 1)
          {
            clearFeedback()
            $('.user-message-feedback').removeClass('d-none').html('{% trans %}feedback_success{% endtrans %}')
            setTimeout(function(){$('.user-message-feedback').addClass('d-none')}, 10000)
          }
          else{ 
            $('#form_'+data.data[0]).focus()
            for(var k in data.data)
              $('.'+data.data[k]).removeClass('d-none')
          }
        },
        error:function(data){
          $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
          $('#alerts').modal('show')
          $('.alert-danger').removeClass('d-none').addClass('show')
          $('.alert-danger span').html('{%trans%}wifi_error{%endtrans%}')
        }
      })
    }, 500)
  })


  function showTestimonyModal(id){
    $('.required-txt').addClass('d-none')
    $('#modal-testimony').modal('show')
    if(id > 0)
      $('#feedback_booking').val(id).attr('readonly', true)
  }   
  
</script>
