<style>
input[type='file']{border: 2px solid #FFF!important}
.required-txt{margin-top: -18px}
.modal-dialog{padding-bottom: 9em}
</style>

<div class="modal" id="modal-issue">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="text-transform: uppercase;font-weight:bold">{%trans%}report_issue{%endtrans%}</h4>
        <button type="button" class="close" data-dismiss="modal" onclick="clearReportIssue()"><i class="icon-times"></i></button>
      </div>
      <div class="modal-body f-14">
        <p class="text-center">{%trans%} info.fill_all{% endtrans %}</p>
        
        {{ form_start(reportIssueForm, {'attr': {'id': 'report-issue-form', 'class':'appointment-form'}})  }}
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <span class="text-danger f-10 d-none float-right name required-txt"><b>{%trans%}required{%endtrans%}</b></span>
              <span class="text-danger f-10 d-none float-right invalid_name required-txt"><b>{%trans%}part_seven.name_invalid{%endtrans%}</b></span>
              {{ form_widget(reportIssueForm.name)}} 
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-group">
              <span class="text-danger f-10 d-none float-right email required-txt"><b>{%trans%}required{%endtrans%}</b></span>
              <span class="text-danger f-10 d-none float-right invalid_email required-txt"><b>{%trans%}part_seven.email_invalid{%endtrans%}</b></span>
              {{ form_widget(reportIssueForm.email)}} 
            </div>
          </div>

          <div class="col-lg-12">
             <div class="form-group">
             <span class="text-danger f-10 d-none float-right observations required-txt"><b>{%trans%}required{%endtrans%}</b></span> 
            {{ form_widget(reportIssueForm.observations)}} 
            </div>
          </div>
          
          <div class="col-lg-12">
            <div class="py-4">
              <span class="text-danger f-10 d-none float-right invalid_attach_image required-txt"><b>{%trans%}invalid_attach_image{%endtrans%}</b></span>
              <b><span class="text-danger f-10 d-none float-right js_attach_image bold required-txt"></span></b>
              {{ form_widget(reportIssueForm.image)}} 
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <b>
                <div class="user-message-report-issue mt-2 text-center text-success d-none p-2 w3-margin-bottom"></div>
              </b>
            </div>  
          </div>
          {{form_end(reportIssueForm)}}
        </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default mr-5 px-4 py-2" style="border:1px solid #000" onclick="clearReportIssue()" data-dismiss="modal">{%trans%}close{%endtrans%}</button>
        <span class="btn btn-outline-success px-4 py-2" onclick="$('#report-issue-form').trigger('submit')">{%trans%}part_seven.submit{%endtrans%}</span>
      </div>
    </div>
  </div>
</div>


<script>

  function clearReportIssue(){
    $('.required').addClass('d-none')
    $('#report-issue-form').trigger('reset')
    $('.required').addClass('d-none')
  }

  $('#report-issue-form').on('submit',function(e){
    e.preventDefault()
    form = new FormData($(this)[0])
    $('.required-txt').addClass('d-none')
    
    $('#ftco-loader').css({'opacity' : '0.7','visibility' : 'visible','z-index' : 9999})
    setTimeout(function(){
      fileStatus = showFileSize()
      if(fileStatus.status == 1){
        $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
        $('.js_attach_pdf').removeClass('d-none').html(fileStatus.text)
      }
      else{
        $.ajax({
          url:"{{ path('send_report_issue') }}",
          type: "POST",
          data: form,
          processData: false,
          contentType: false,
          cache: false,
          success: function(data){
            $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
                if(data.status == 1)
                {
                    $('#report-issue-form').trigger('reset')
                    $('.user-message-report-issue').removeClass('d-none').html('{% trans %}reported_issue_submited{% endtrans %}');
                    setTimeout(function(){$('.user-message-report-issue').addClass('d-none')}, 10000)
                  }
                  else{ 
                    
                    for(var k in data.data)
                      $('.'+data.data[k]).removeClass('d-none')
                  
                    $('#report_issue_'+data.data[0]).focus()
                  }
               },
               error:function(data){
                $('#ftco-loader').css({'opacity' : 0,'visibility' : 'hidden','z-index' : 1000})
                $('#alerts').modal('show')
                $('.alert-danger').removeClass('d-none').addClass('show')
                $('.alert-danger span').html('{%trans%}wifi_error{%endtrans%}')
               }
            })
          }
         }, 500)
    })




function showFileSize() {
    var file
  /*BROWSER NO FILEREADER SUPPORT*/
    if (!window.FileReader) {
        return {status:1, text:'{% trans %}no_api_file{% endtrans %}'}
    }
    i = document.getElementById('report_issue_image')
  /*INPUT ELEMENT NOT FOUND*/
    if (!i) {
      var $el = $('#report_issue_image')
        $el.wrap('<form>').closest('form').get(0).reset()
      $el.unwrap()
        return  {status:0, text:'{% trans %}no_file_input_found{% endtrans %}'}
    }
  /*BROWSER NO FILES SUPPORT*/
    else if (!i.files) {
      var $el = $('#'+input.target.id)
        $el.wrap('<form>').closest('form').get(0).reset()
      $el.unwrap()
      return {status:1, text:'{% trans %}no_file_support{% endtrans %}'}
    }
    else {
        file = i.files[0]
      if (file){
        var fileTypes = ['jpg','jpeg','png','gif'] 
        extension = file.name.split('.').pop().toLowerCase()
        isSuccess = fileTypes.indexOf(extension) > -1
      /*VALIDATE THE IMAGE EXTENSIONS*/
         if (!isSuccess){
          var $el = $('#report_issue_image')
          $el.wrap('<form>').closest('form').get(0).reset()
          $el.unwrap()
          return {status:1, text:'{% trans %}invalid_attach_image{% endtrans %}'}
        }
    /*VALIDATE THE IMAGE SIZE IN BYTES 2MB ALLOWED*/
        else if (file.size > 1999999){
        var $el = $('#report_issue_image')
          $el.wrap('<form>').closest('form').get(0).reset()
        $el.unwrap()
        return {status:1, text:'{% trans %}invalid_image_size{% endtrans %}'}
        }
       
        else{
       return {status:0, text:file.size +'bytes'}
      }
      return {status:0, text:0}
    }
    return {status:0, text:0}
  }
  return {status:0, text:0}
}
</script>