<div class="modal" id="modal-issue">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{%trans%}report_issue{%endtrans%}</h4>
        <button type="button" class="close" data-dismiss="modal"><i class="icon-times"></i></button>
      </div>
      <div class="modal-body f-14">

      
    {{ form_start(reportIssueForm, {'attr': {'id': 'report-issue-form'}})  }}
      <div class="w3-row-padding">
        
        <div class="w3-col l6 m12 s12">
          <label class="w3-small w3-text-red">{%trans%}part_seven.name{%endtrans%} </label>
          <span class="w3-text-red w3-medium w3-hide w3-right name bold required-txt">{%trans%}required{%endtrans%}</span>
          <span class="w3-text-red w3-medium w3-hide w3-right invalid_name bold required-txt">{%trans%}part_seven.name_invalid{%endtrans%}</span>
          {{ form_widget(reportIssueForm.name)}} 
        </div>

        <div class="w3-col l6 m12 s12">
          <label class="w3-small w3-text-red">{%trans%}part_seven.email{%endtrans%} </label>
          <span class="w3-text-red w3-medium w3-hide w3-right email bold required-txt">{%trans%}required{%endtrans%}</span>
          <span class="w3-text-red w3-medium w3-hide w3-right invalid_email bold required-txt">{%trans%}part_seven.email_invalid{%endtrans%}</span>
          {{ form_widget(reportIssueForm.email)}} 
        </div>

        <div class="w3-col l12">
          <label class="w3-small">{%trans%}part_seven.observations{%endtrans%} </label>
          {{ form_widget(reportIssueForm.observations)}} 
        </div>
        <div class="w3-col l12">
          <label class="w3-small">{%trans%}attach_image{%endtrans%} </label>
          <span class="w3-text-red w3-medium w3-hide w3-right invalid_attach_image bold required-txt">{%trans%}invalid_attach_image{%endtrans%}</span>
          <span class="w3-text-red w3-medium w3-hide w3-right js_attach_image bold required-txt"></span>
          {{ form_widget(reportIssueForm.image)}} 
        </div>

        <div class="w3-col s12">
          <div class="user-message-report-issue w3-margin-top w3-center w3-text-green w3-hide bold w3-light-grey w3-padding w3-border w3-margin-bottom w3-round"></div>
        </div>
      </div>
    {{form_end(reportIssueForm)}}
      </div> 
      <div class="modal-footer">
        <span class="btn btn-outline-success px-4 py-2" onclick="$('#report-issue-form').trigger('submit')">
        {%trans%}part_seven.submit{%endtrans%}
        </span>
        <button type="button" class="btn btn-default" onclick="clearReportIssue()" data-dismiss="modal">
          <i class="icon-times"></i>
        </button>
      </div>
    </div>
  </div>
</div>


