  <section class="w3-container w3-padding-16 bgim_g-4 w3-khaki w3-border-top" style="color:#05788d!important" id="aequipa_iii">
    <div class="w3-padding-8">
      <div class="w3-row w3-section">
        <div class="w3-col m5 w3-center s12 w3-container w3-padding-16">
          <div class="w3-container">

            <div class="info-txt">
              <h3 class="w3-center">
                <i class="fa-ta ta-3 fa-ta-car-parking">&nbsp;</i>
                <span class='ESTACIONAMENTO'>{% trans %}part_two.parking{% endtrans %}</span>
              </h3>
              <h4 class="w3-center">
                <span class='ESTACIONAMENTO_TXT'>{% trans %}part_two.parking_txt{% endtrans %}</span>
              </h4>
            </div>            
            <div class="info-txt">
              <h3 class="w3-center">
                <i class="fa-ta ta-3 fa-ta-sun">&nbsp;</i>
                <span class='LUMINOSIDADE'>{% trans %}part_two.light{% endtrans %}</span>
              </h3>
              <h4 class="w3-center">
                <span class="LUMINOSIDADE_TXT">{% trans %}part_two.light_txt{% endtrans %}</span>
              </h4> 
            </div>
            <div class="info-txt">
              <h3 class="w3-center"><i class="ta-3 fa fa-info-circle">&nbsp;</i>
                <span class='VERIFIQUE'>{% trans %}part_two.check{% endtrans %}</span>
              </h3>
              <h4>
                <span class="DATES_RED_TXT">{% trans %}part_two.no_bookings_txt{% endtrans %}</span>
              </h4> 
            </div>
          </div>
        </div>
        <div class="w3-col m2 s0 w3-container"></div>
        <div class="w3-col m5 s12 w3-center w3-container w3-padding-16">
          <div class="w3-container">
            <div class="info-txt">
              <h3 class="w3-center">
                <i class="fa-ta ta-3 fa-ta-umbrella">&nbsp;</i>
                <span class='PARAAVISITA'>{% trans %}part_two.what_to_take{% endtrans %}</span>
              </h3>
              <h4 class="w3-center">
                <span class='PARAAVISITA_TXT'>{% trans %}part_two.what_to_take_txt{% endtrans %}</span>
              </h4>
            </div>
            <div class="info-txt">
              <h3 class="w3-center">
                <i class="fa-ta ta-3 fa-ta-waves">&nbsp;</i>
                  <span class='MARES'>{% trans %}part_two.ties{% endtrans %}</span>
              </h3>
              <h4 class="w3-center">
                <span class='MARES_TXT'>{% trans %}part_two.ties_txt{% endtrans %}</span>
              </h4>
            </div>
            <div class="info-txt">
              <h3 class="w3-center">
                <i class="fa-ta ta-3 fa-ta-exclamation-triangle">&nbsp;</i>
                <span class='ATENCAO'>{% trans %}part_two.attention{% endtrans %}</span>
              </h3>
              <h4 class="w3-center">
                <span class='ATENCAO_TXT'>{% trans %}part_two.attention_txt{% endtrans %}</span>             
              </h4>
            </div>
          </div>
        </div>

        <div class="w3-col l3 m2 s0 w3-container"></div>
        <div class="w3-col l6 m8 s12 w3-center w3-container">
          <h4 class="w3-center">
            <span class='RESERVAS_TXT'>{% trans %}part_two.what_to_take{% endtrans %}</span>
          </h4>
        </div>
      </div>
    </div>
  </section>