<style>
.nanogallery_gallerytheme_dark_ngy2p .nGY2GThumbnail {
  background: transparent;
  border-color: transparent;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;}
.nGY2GThumbnailImage .nGY2TnImg, .nGY2TnImg{box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
.nanogallery_gallerytheme_dark_ngy2p .nGY2TnImgBack{background: transparent!important}
.nGY2 .nGY2GThumbnailImage{background: none}
</style>


<section>
  {% if galleries %}
  <div class="bgimg-2">
    <div style="margin-left:14px" class="w3-padding-32" id="ngy2p" data-nanogallery2='{
      "thumbnailHeight": 320,
      "thumbnailWidth":  "auto",
      "thumbnailLabel":{ "display" : false },
      "thumbnailBorderVertical": 6,
      "thumbnailBorderHorizontal": 6,
      "thumbnailAlignment": "justified",
      "galleryDisplayMode": "rows",
      "galleryMaxRows": 3,
      "galleryDisplayMode": "pagination",
      "galleryLastRowFull": true,
      "gallerySorting": "random"
      }' class="w3-row-padding w3-padding-16">

      {% for gallery in galleries %}
        <a href="/upload/gallery/{{gallery.image}}" class="team-images w3-card-2" data-ngthumb="/upload/gallery/{{gallery.image}}" data-ngdesc="{{gallery.descriptionPt}}">
          <font class="PT">{{gallery.namePt}}</font>
          <font class="EN w3-hide">{{gallery.nameEn}}</font>
          </a>
      {% endfor %}   

    </div>
  </div>
  <div class="w3-row">
    <div class="rope-2 l1 s12"></div>
  </div>
  {% endif %}
<section>