<section>
  <div class="w3-row">
    <div class="rope-1 l1 s12"></div>
  </div>
  <div class="bgimg-2">
    <div class="w3-row"> 
      <div class="w3-third">
        <img class='team-images' onclick="onClick(this)" alt="Taruga Benagil Tours, caves, Benagil, Algarve, sup"
  src="{{ asset('images/gal1.jpg') }}">
      </div>
      <div class="w3-twothird">
        <div class="w3-twothird w696">
          <img class='team-images' onclick="onClick(this)" alt="Taruga Benagil Tours, caves, Benagil, Algarve, sup"
  src="{{ asset('images/gal2.jpg') }}">
        </div>
        <div class="w3-third w304">
          <img class='team-images' onclick="onClick(this)" alt="Taruga Benagil Tours, caves, Benagil, Algarve, sup"
  src="{{ asset('images/gal4.jpg') }}">
        </div>
        <div class="w3-third w370">
          <img class='team-images' onclick="onClick(this)" alt="Taruga Benagil Tours, caves, Benagil, Algarve, sup"
  src="{{ asset('images/gal3.jpg') }}">
        </div>
        <div class="w3-twothird w630">
          <img class='team-images' onclick="onClick(this)" alt="Taruga Benagil Tours, caves, Benagil, Algarve, sup"
  src="{{ asset('images/gal5.jpg') }}">
        </div>
      </div>
    </div>
  </div>

  <div class="w3-row">
    <div class="rope-2 l1 s12"></div>
  </div>
<section>