{% set platform = 'w3-hide' %}
{% if (browser.platform == 'Android' or browser.platform == 'iPad' or browser.platform == 'iPhone' or browser.platform == 'iPod') %}
{% set platform = 'w3-show' %}
{% endif %}

<style type="text/css">
/*	.btn-yt{padding: 1px 18px 1px 24px;border-radius: 20%}*/
.content{bottom: 0;background: rgba(0, 0, 0, 0.5);width: 100%;position:sticky}
</style>

<div class="mySlides w3-display-container w3-center w3-black" id="home" style="margin-top: 0px;padding-top: 0!important;">
	<video id="video_full" autoplay muted loop class="banner-img w3-opacity-min"></video>
	<!--div id="mobile" class="w3-display-middle w3-margin-top w3-center {{platform}}">
		<button class="btn-yt w3-btn w3-red w3-xlarge w3-transparent w3-hide-large w3-hide-medium w3-hide" id="video_btn" onclick="mobilePlayVideo()">
	 	 <i class="fa fa-play"></i>
	 </button>
	</div-->

{% if category %}
  <div class="content w3-left-align w3-padding">
      <h2>
  		  <span class="PT">{{ category.namePt }}</span>
        <span class="EN w3-hide">{{ category.nameEn }}</span>
      </h2>
      <div class="w3-row">
        <div class="w3-col l8">
          <p class="w3-left-align w3-hide-small">
 		         {% if category.adultAmount> 0 %}
                <span class='ADULTO'>{% trans %}part_tree.adult{% endtrans %}</span>&nbsp;
                <span>{{ category.adultAmount}}€</span>
                <br>
              {% else %}
                <span class='ADULTO'>{% trans %}part_tree.adult{% endtrans %}</span>&nbsp;
                <span>-/-</span>
                <br>
              {% endif %}
              {% if category.childrenAmount > 0 %}
                <span class='CRIANCA'>{% trans %}part_tree.children{% endtrans %}</span>&nbsp;
                <span>{{ category.childrenAmount }}€</span>
                <br>
              {% else %}
                <span class='CRIANCA'>{% trans %}part_tree.children{% endtrans %}</span>&nbsp;
                <span>-/-</span>
                <br>
              {% endif %}
          </p>
        </div>
      <div class="w3-col l4 w3-center w3-padding-small">
        <button class="w3-btn w3-blue w3-large BUY_NOW" onclick="navigation('#reservas',{{ category.id }})">Comprar</button>
      </div>
    </div>
  </div>
{% endif %}
 	<!--img id="banner" class="banner-img" alt="Taruga Benagil Tours, caves, Benagil, Algarve, Portugal, sup"
src="{{ asset('images/banner.jpg') }}"-->
</div>