
<style>.day{background:rgba(76,175,80,0.7);color:#000}
.prev,.picker-switch,.next, .dow{background-color: #EEE}
</style>

<section class="w3-container w3-padding-16 bgi_mg-3 w3-khaki reservas-cont w3-border-top" id="reservas">

 <div class="w3-padding-8">
  <h2 class="w3-center">
    <i class="fa-ta ta-4 fa-ta-booking">&nbsp;</i>
    <span>{% trans %}link.booking{% endtrans %}</span><br>
    <span class="w3-xlarge">{% trans %}info.fill_all{% endtrans %}</span>
  </h2>
  
  {% if categories %}

  <form id="get-available" class="w3-sand w3-padding-8 w3-border reservas-cont">
    <div class="w3-row-padding w3-xlarge">
    <div class="w3-col s12 w3-center">{% trans %}info.tour_data{% endtrans %}
    </div>
      <div class="w3-col l6 m12 s12">
        <label class="w3-small w3-text-red">{% trans %}part_seven.tour{% endtrans %}</label>
        <select class="w3-select w3-input" name="category" onchange="updateTourData()">
          <option class="w3-opacity" value="">{% trans %}part_seven.tour{% endtrans %}</option>
          {% for category in categories %}
            {% if category.no_stock == 0 %}

          <option value="{{category.id}}">{{category.name}}
          
          {% endif%}
         
         {% endfor %}
        </select>
      </div>
      
      <div class="w3-col l2 m4 s12">
        <label class="w3-small w3-text-red">{% trans %}part_seven.adult{% endtrans %}</label>
        <input type="number" name="adult" class="w3-input" step="1" min="0" placeholder="{% trans %}part_seven.adult{% endtrans %}">
      </div>

      <div class="w3-col l2 m4 s12">
        <label class="w3-small w3-text-red">{% trans %}part_seven.children{% endtrans %}</label>
        <input type="number" name="children" class="w3-input" step="1" min="0" placeholder="{% trans %}part_seven.children{% endtrans %}">
      </div>
      
      <div class="w3-col l2 m4 s12">
        <label class="w3-small w3-text-red">{% trans %}part_seven.baby{% endtrans %}</label>
        <input type="number" name="baby" class="w3-input" step="1" min="0" placeholder="{% trans %}part_seven.baby{% endtrans %}">
      </div>
    </div>
    <div class="w3-row w3-medium" id="is-available">
      <div class="w3-col l4 m3 s2">&nbsp;</div>
      <div class="w3-col l4 m6 s8 w3-margin-top w3-center">
        <span class="w3-btn w3-blue w3-center w3-round w3-border" onclick="getAvailable()">
          <i class="fa fa-check"></i>&nbsp;
        <span class=""> {% trans %}part_seven.get_available{% endtrans %}</span>
        </span>
      </div>
    </div>

    <div class="w3-row-padding w3-xlarge set-visible w3-hide">
      <div class="w3-col l3 m1 w3-hide-small">&nbsp;
        <input name='wp' type="hidden">
        <input name='ev' type="hidden">
      </div>
      <div class="w3-col l3 m5 s12">
        <label class="w3-small w3-text-red">{% trans %}part_seven.date{% endtrans %}</label>
        <p class="w3-input client-tour-day"></p>
      </div>
      
      <div class="w3-col l3 m5 s12">
        <label class="w3-small w3-text-red">{% trans %}part_seven.hour{% endtrans %}</label>
        <p class="w3-input client-tour-time"></p>
      </div>
    </div>

    <div class="w3-row-padding w3-xlarge set-visible w3-hide">

      <div class="w3-col s12 w3-text-blue w3-large w3-center">
        <span class="">{% trans %}time_left{% endtrans %}</span> 
        <br><i class="time_left"></i>&nbsp;
        <span class=""></span>
      </div> 

<!-- part 3 -->
    <div class="w3-col s12 w3-center">{% trans %}info.personal_data{% endtrans %}</div>

      <div class="w3-col l3 m6 s12">
        <label class="w3-small w3-text-red">{% trans %}part_seven.name{% endtrans %}</label>
        <input type="text" name="name" class="w3-input" placeholder="{% trans %}part_seven.name{% endtrans %}">
      </div>

      <div class="w3-col l3 m6 s12">
        <label class="w3-small w3-text-red">{% trans %}part_seven.email{% endtrans %}</label>
        <input type="email" name="email" class="w3-input" placeholder="{% trans %}part_seven.email{% endtrans %}">
      </div>

      <div class="w3-col l3 m6 s12">
        <label class="w3-small w3-text-red">{% trans %}part_seven.telephone{% endtrans %}</label>
        <input type="tel" name="telephone" class="w3-input" placeholder="{% trans %}part_seven.telephone{% endtrans %}">
      </div>

      <div class="w3-col l3 m6 s12">
        <label class="w3-small w3-text-red">{% trans %}part_seven.address{% endtrans %}</label>
        <input type="text" name="address" class="w3-input" placeholder="{% trans %}part_seven.address{% endtrans %}">
      </div>
    </div>

<!-- part 3 -->

<!-- part 4 -->

    <div class="w3-row-padding w3-xlarge wp-active w3-hide"></div>

<!-- part 4 -->
    
    <div class="w3-row-padding w3-xlarge w3-hide set-visible">  
      <div class="w3-col s12 w3-left-align" style="line-height:28px">
        <label class="w3-small w3-text-red w3-margin-top">{% trans %}part_seven.rgpd{% endtrans %}</label>
        <span style="cursor:pointer" onclick='showRgpd()'>
          <i class="fa fa-plus w3-text-blue"></i>
        </span>
        <br>
        <input type="checkbox" name="check_rgpd" class="w3-check" checked>
        <span class="w3-small" style="line-height:10px">{% trans %}part_seven.rgpd_txt{% endtrans %}</span>
      </div>
      <div class="w3-col s12 w3-margin-top w3-center w3-medium">
       <span class="w3-btn w3-green w3-round w3-border" onclick="checkOut()">
        <i class="fa fa-check"></i>
        <span class=""> {% trans %}info.confirm{% endtrans %} <span class="wp-btn w3-hide">/{% trans %}pay_now{% endtrans %}</span></span>
      </span>
      </div>
    </div> 
    <input type="hidden" name="_csrf_token" value="{{csrf_token('authenticate') }}">
  </form>
  
  {% if about %}

  <section class="w3-padding-64">
    {% for c in about %}
      {{ app.request.locale == c.locales.name ? c.rgpdHtml|raw : false}}
    {% endfor %}
  </section>
  {% endif %}

  {% else %}

    <h2 class="w3-center"> {% trans %}not_available{% endtrans %}</h2>

  {% endif %}

  
</div>

</section>

