<script src="https://js.stripe.com/v3/"></script>

<style>
.StripeElement{height: 45px;padding: 11px 12px;background-color: #fdf5e6; border-bottom: 3px solid #3f51b5}
.StripeElement--focus{box-shadow: 0 1px 3px 0 #cfd7df}
.StripeElement--invalid{border-color: #fa755a}
.StripeElement--webkit-autofill{background-color: #fefde5 !important}
</style>

  <div class="w3-col s12 w3-center">{% trans %}order_info{% endtrans %}</div>

  <div class="w3-col l12">
    <div class="w3-col l3 m1 w3-hide-small">&nbsp;</div>
    <div class="w3-col l6 m10 s12 w3-medium w3-padding w3-white w3-border">
    
    {%set total = 0%}
    {% for ticket in tickets%}
      {% set total = total + ticket.total%}
      <label class="">{{ticket.quantity}}x {{ticket.type}}:</label> 
      <span class="w3-right">{{(ticket.subtotal/100)|number_format(2)}}<span class="w3-small">{{company.currency.currency}}</span></span><br>
    {% endfor %}

      <label class="">{% trans %}deposit{% endtrans %}:</label> 
      {% set deposit = category.deposit == 0 ? 100 : category.deposit*100 %}
      <span class="w3-right">{{deposit}}%</span><br>
      <label class="w3-xlarge">{% trans %}total_to_pay{% endtrans %}:</label> 
      <span class="w3-xlarge w3-right">{{(total/100)|number_format(2)}}<span class="w3-small">{{company.currency.currency}}</span></span>
    </div>
  </div>

  <div class="w3-col l3 m1 w3-hide-small">&nbsp;</div>
  <div class="paylog w3-col l6 m10 s12">
    <!--form id="payment-form"-->
      <label class="w3-small w3-text-red">{% trans %}part_seven.card_n{% endtrans %}</label>
      <div id="card-element" style="padding: 10px 8px"></div>
      <div id="card-errors" class="w3-text-red w3-small" role="alert"></div>
      <div class="set-token"></div>
    <!--/form-->
  </div>
  <input type="hidden" id="card-button" data-secret="{{payment_intent.data.client_secret}}">
<script>

  var key = '{{company.stripePK}}'
  var stripe = ''
  var elements = ''
  var style = ''
  var card = ''
  var displayError = ''

  function buildStripe(k){
    if (k){
      stripe = Stripe(k)
      elements = stripe.elements()
      style = {
        base: {
          color: '#3f51b5',
          fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
          fontSmoothing: 'antialiased',
          fontSize: '18px',
          '::placeholder': {
            color: '#C8BFE7',
            text: '{% trans %}part_seven.card_n{% endtrans %}'
          }
        },
        card:{
          hidePostalCode:true
        },
        invalid: {
          color: '#fa755a',
          iconColor: '#fa755a'
        }
      }
      $('#card-errors').empty()
      card = elements.create('card', {style: style})
      card.mount('#card-element');
      card.addEventListener('change', function(event) {
        displayError = document.getElementById('card-errors')
        displayError.textContent = event.error ? event.error.message: ''
      })
    }
  }

  function handleCard(){
    stripe.handleCardPayment($('#card-button').data('secret'), card,{
      payment_method_data: {
        billing_details: {
          name: $('input[name=name]').val(),
          email: $('input[name=email]').val(),
          phone: $('input[name=telephone]').val()
        }
      },
      receipt_email: $('input[name=email]').val()
    }
    ).then(function(result) {
      if (result.error) {
        $('.w3-overlay').hide()
        modalConditions(1, result.error.message, '{% trans %}check{% endtrans %}') 
      } 
      else
        getUrlReceipt(result.paymentIntent.id)
    })
  }

  //pi_id = payment_intent_id
  function getUrlReceipt(pi_id){
    var html = ''
      $.ajax({  
      url :'{{ path('home_get_charge')}}',
      type: "POST",
      cache: false,
      data: 'pi_id='+pi_id,
      success: function(data){
        $(".w3-overlay, #loader-cont").hide();
        //console.log(data)
        if (data.status == 1){

          info = data.data.data.data[0]
          card.destroy()
          $('#get-available').trigger('reset');
          $('.set-visible, .wp-active, .wp-btn').addClass('w3-hide');
          $('.wp-active').empty();
          $('iframe').remove();

          html ='<div style="margin-top:-8px" class="w3-right-align w3-xlarge w3-padding-small">{% trans %}order{% endtrans %} <span class="w3-xxxlarge">'+data.message+'</span></div><div class="w3-large">{% trans %}thank_you{% endtrans %}</div><div class="w3-large w3-center w3-text-deep-orange">{% trans %}spam_txt{% endtrans %}</div><div class="w3-right-align"><a class="w3-btn w3-border w3-white w3-round w3-medium" target="_blank" href='+info.receipt_url+'> {% trans %}receipt{% endtrans %}</a></div>'
          modalConditions(0, html, '{% trans %}success{% endtrans %}')

        }
        else{
          modalConditions(1, data.message, '{% trans %}check{% endtrans %}') 
        }
      },
      error:function(data){
        $(".w3-overlay, #loader-cont").hide();
        modalConditions(2, '{% trans %}wifi_error{% endtrans %}', '{% trans %}error{% endtrans %}')
      }
    })
  }

  setTimeout(function(){buildStripe('{{company.stripePK}}') }, 1500)

</script>

