<style>
.description-txt{color: #3f51b5;line-height: 1.8;font-weight:600; font-size: 15px}
</style>

<section>
  <div class="w3-container bgimg-6 w3-padding-32" id="precos">
    <div class="w3-row" style="max-width:1124px;margin: 0 auto">
    <div class="w3-col l1 w3-hide-medium w3-hide-small">&nbsp;</div>
    <div class="w3-col l10 m12 s12">


      {% if categories %}
      
        {% for category in categories %}

          {% if loop.index is even %}
          <div class="w3-row">
          {% endif %}

        <div class="w3-container w3-col l6 m6 s12 w3-padding w3-padding-16">
          <div class="w3-display-container">

          <div class="w3-display-topleft w3-center w3-padding" style="background: rgba(0, 0, 0, 0.6)">
            <h2 class="bold w3-text-white w3-large" style="text-transform: uppercase;margin:0">
              {{ category.name}}

              {% for review in feedback %}
                  {% if review.id == category.id %}
                  <span class="w3-medium" style="margin-left:8px">
                    <sup>{{ review.average|round(1, 'floor') }} 
                      <sup><i class="fa fa-star w3-text-yellow"></i>&nbsp;{{ review.reviews }} </sup>
                    </sup>
                  </span>
                {% endif %}
              {% endfor %}
            </h2>
          </div>

          <img alt="{{category.name}}" class="w3-card-4" src="/upload/category/{{ category.image }}" onerror="this.src='/upload/category/no-image.png'" style="width:100%">
          <div class="w3-display-bottomright w3-center" style="margin:11px 8px">
            <span class="w3-tag w3-padding-small w3-white" style="text-transform: uppercase">Aprox: {{ category.duration}} Min.</span>


          </div> 
          </div>
            <h3 class="description-txt"> {{ category.description }}</h3>

          {% if category.warrantyPayment %}
            <div class="w3-border-top w3-pale-blue w3-padding-small">  
              <i class=" w3-text-blue fa fa-info-circle w3-xlarge"></i>&nbsp;
              {{category.warrantyPaymentTxt}}
            </div>
          {% endif %}

          <div class="w3-padding-8 w3-border-top">
          {% if category.no_stock %} 
            <span class="w3-right w3-margin-right w3-large">
              <span class="fa-stack fa-lg">
                <i class="fa w3-text-black fa-ticket fa-stack-1x fa-rotate-90"></i>
                <i class="fa fa-ban fa-stack-2x w3-text-red w3-opacity"></i>
              </span>
            </span>
          {% else %}

            <span class="w3-btn w3-blue w3-right w3-round w3-border" style="margin-top:10px" onclick="navigation('#reservas', {{ category.id }})">
              <i class="fa fa-calendar"></i>&nbsp;
              <span>{% trans %}part_seven.get_available{% endtrans %}</span>
            </span>
            {% endif %}

            <p class="">
            {% if category.adultAmount > 0 %}
                <span>{% trans %}part_tree.adult{% endtrans %}</span>&nbsp;
                <span>{{ category.adultAmount }}<span class="w3-small">{{company.currency.currency}}</span></span>
                <br>
              {% else %}
                <span>{% trans %}part_tree.adult{% endtrans %}</span>&nbsp;
                <span>-/-</span>
                <br>
              {% endif %}
              {% if category.childrenAmount > 0 %}
                <span>{% trans %}part_tree.children{% endtrans %}</span>&nbsp;
                <span>{{ category.childrenAmount}}<span class="w3-small">{{company.currency.currency}}</span></span>
                <br>
              {% else %}
                <span>{% trans %}part_tree.children{% endtrans %}</span>&nbsp;
                <span>-/-</span>
                <br>
              {% endif %}
                <span>{% trans %}part_tree.baby{% endtrans %}</span>&nbsp;
                <span>-/-</span>
                <br>


              </p>
            </div>
          </div>
          
          {% if loop.index is even %}
          </div>
          {% endif %}

        {% endfor %}
      {% endif %}
      
      </div>
    </div>
  </div>
</section>