<section class="w3-container bg_img-7 w3-khaki w3-padding-16 w3-border-top" style="color: #05788d!important" id="contatos">
  
 <div class="w3-padding-8">
  <div class="w3-row w3-padding-16 w3-section">


   <h3 class="w3-center">
    <span class='HORARIO_TXT'>{% trans %}part_five.schedule_txt{% endtrans %}</span>
   </h3>

   <div class="w3-col m6 w3-center s12 w3-container w3-padding-16">
    <div class="w3-container">
     <div class="info-txt">
      <h2 class="w3-center">
       <span class='HORARIO_TEMPO1'>{% trans %}part_five.schedule_summer{% endtrans %}</span>
      </h2>
      <h3 class="w3-center">
       <span class='HORARIO_TEMPO_TXT1'>{% trans %}part_five.schedule_summer_txt{% endtrans %}</span>
      </h3>
     </div>
    </div>
   </div>

   <div class="w3-col m6 w3-center s12 w3-container w3-padding-16">
    <div class="w3-container">
     <div class="info-txt">
      <h2 class="w3-center">
       <span class='HORARIO_TEMPO2'>{% trans %}part_five.schedule_winter{% endtrans %}</span>
      </h2>
      <h3 class="w3-center">
       <span class='HORARIO_TEMPO_TXT2'>{% trans %}part_five.schedule_winter_txt{% endtrans %}</span>
      </h3>
     </div> 
    </div>
   </div>

   <h3 class="w3-center">
    <span class='CONTATOS_TXT'>{% trans %}part_six.contact_txt{% endtrans %}</span>
   </h3>

   <div class="w3-col m6 w3-center s12 w3-container w3-padding-8">
    <div class="w3-container">
     <div class="info-txt">
      <h2 class="w3-center">
       <i class="fa-ta ta-4 fa-ta-mobile"></i>
      </h2>
      <h3 class="w3-center">
       <a class="mobile-call" href="tel:{{company.telephone}}"> {{company.telephone}}</a>
      </h3>
     </div>
    </div>
   </div>

   <div class="w3-col m6 w3-center s12 w3-container w3-padding-8">
    <div class="w3-container">
     <div class="info-txt">
      <h2 class="w3-center">
       <i class="fa-ta ta-4 fa-ta-email"></i>
      </h2>
      <h4 class="w3-center mail-txt">{{company.email}}</h4>
     </div>
    </div>
   </div>

<div class=" w3-col  w3-xxlarge w3-padding-8 s12 w3-center w3-opacity-min">
  {% if company.linkFacebookActive == true %}
  <a href="{{company.linkFacebook}}" target="_blank" style="display:inline; padding:0px;margin: 2px;">
    <i class="fa fa-facebook-official w3-hover-opacity w3-text-indigo"></i>
  </a>
  {% endif %}
  
  {% if company.linkInstagramActive == true %}
  <a href="{{company.linkInstagram}}" target="_blank" style="display:inline; padding:0px;margin: 2px;">
    <i class="fa fa-instagram w3-hover-opacity w3-text-brown"></i>
  </a>
  {% endif %}
  
  {% if company.linkPinterestActive == true %}
  <a href="{{company.linkPinterest}}" target="_blank" style="display:inline; padding:0px;margin: 2px;">
    <i class="fa fa-pinterest-p w3-hover-opacity w3-text-red"></i>
  </a>
  {% endif %}
  
  {% if company.linkTwitterActive == true %}
  <a href="{{company.linkTwitter}}" target="_blank" style="display:inline; padding:0px;margin: 2px;">
    <i class="fa fa-twitter w3-hover-opacity w3-text-blue"></i>
  </a>
  {% endif %}
  
  {% if company.linkLinkenActive == true %}
  <a href="{{company.linkLinken}}" target="_blank" style="display:inline; padding:0px;margin: 2px;">
    <i class="fa fa-linkedin w3-hover-opacity w3-text-blue"></i>
  </a>
  {% endif %}
  
  {% if company.linkBehanceActive == true %}
  <a href="{{company.linkBehance}}" target="_blank" style="display:inline; padding:0px;margin: 2px;">
    <i class="fa fa-behance w3-hover-opacity w3-teal"></i>
  </a>
  {% endif %}
  
  {% if company.linkYoutubeActive == true %}
  <a href="{{company.linkYoutube}}" target="_blank" style="display:inline; padding:0px;margin:2px;font-size: 30px">
    <i class="fa fa-youtube w3-hover-opacity w3-text-red"></i>
  </a>
  {% endif %}
</div>


  </div>

 </div>

<a style="position:absolute;margin-top:-32px;z-index:1" target="_blank" href='https://www.google.pt/maps/dir//{{company.name}}/@{{company.CoordsGoogleMaps}},16.33z/data=!4m5!3m4!1s0x0:0xf0cf03939dd0825a!8m2!3d37.0873492!4d-8.4263098'>
    <img class="qr-code FIND_US w3-btn" title="{% trans %}part_one.find_us{% endtrans %}" src="{{ asset('images/qr.jpg') }}"/>
    </a>
</section>