<section>
<div class="w3-row">
 <div class="rope-1 l1 s12"></div>
</div>

<div class="w3-container bgimg-7 w3-padding-32" id="contatos">
 <div class="w3-padding-16">
  <h2 class="w3-center">
   <i class="fa-ta ta-4 fa-ta-contact">&nbsp;</i>
   <span class='CONTATOS'>{% trans %}link.contact{% endtrans %}</span>
  </h2>
  <div class="w3-row w3-padding-16 w3-section">
   <h3 class="w3-center">
    <span class='CONTATOS_TXT'>{% trans %}part_six.contact_txt{% endtrans %}</span>
   </h3>

   <div class="w3-col m6 w3-center s12 w3-container w3-padding-8">
    <div class="w3-container">
     <div class="info-txt">
      <h2 class="w3-center">
       <i class="fa-ta ta-4 fa-ta-mobile"></i>
      </h2>
      <h3 class="w3-center">
       <a class="mobile-call" href="tel:<?php echo $tel; ?>"> +351969617828</a>
      </h3>
     </div>
    </div>
   </div>

   <div class="w3-col m6 w3-center s12 w3-container w3-padding-8">
    <div class="w3-container">
     <div class="info-txt">
      <h2 class="w3-center">
       <i class="fa-ta ta-4 fa-ta-email"></i>
      </h2>
      <h4 class="w3-center mail-txt">tarugabenagiltours@gmail.com</h4>
     </div>
    </div>
   </div>

   <div class="w3-col w3-center s12 w3-container w3-padding-8"> 
    <a class="no-txt-dec" href="https://facebook.com/Taruga-benagil-tours-1429577477372009/" target="_blank">
     <i class="ta-28 fa fa-facebook w3-margin" style="padding: 5px 11px 5px 11px;"></i>
    </a> 
    <a class="no-txt-dec" href="https://instagram.com/tarugabenagiltours/" target="_blank">
     <i class="ta-28 fa fa-instagram w3-margin"></i>
    </a> 
    <a class="no-txt-dec" href="https://youtube.com/channel/UCXdOWNzDhQCvrO05cekWV8A" target="_blank">
     <i class="ta-28 fa fa-youtube w3-margin"></i>
    </a>
   </div>
  </div>

 </div>
</div>

<div class="w3-row">
 <div class="rope-2 l1 s12"></div>
</div>
</section>