<div id='bt-top' class='top w3-hide w3-hide-small'>
  <button class="w3-btn w3-padding totop" onclick="navigation('#home')">
    <i class="fa fa-arrow-up"></i>
  </button>
</div>
<div class="w3-center w3-tiny" style="margin-top: -18px"><a href="https://demo.darioviegas.com" target="_blank">D&P 2019</a></div>
<div style="margin-top:-53px;margin-left:13px;width:45px" class="w3-tooltip">
<span style="position:absolute;left:-8px;bottom:50px" class="w3-text totop w3-tag w3-animate-zoom w3-text-white ARBITRARY_CENTER">{% trans %}arbitrary.name{% endtrans %}
</span>
<button class="w3-btn  my-btn w3-white" style="padding: 3px 6px" onclick="$('#modal-resolution-center').show()">
  <img style="width:31px" src="{{ asset('images/center.png') }}">
</button>
</div>

