<section class="w3-container bgimg-5 w3-padding-32 w3-text-white" id="horarios">
 <div class="w3-padding-16">
  <h2 class="w3-center">
   <i class="w3-text-white fa-ta ta-4 fa-ta-schedule">&nbsp;</i>
   <span class='HORARIO'>{% trans %}link.schedule{% endtrans %}</span>
  </h2>

  <div class="w3-row w3-padding-16 w3-section">
   <h3 class="w3-center">
    <span class='HORARIO_TXT'>{% trans %}part_five.schedule_txt{% endtrans %}</span>
   </h3>

   <div class="w3-col m6 w3-center s12 w3-container w3-padding-16">
    <div class="w3-container">
     <div class="info-txt">
      <h2 class="w3-center">
       <span class='HORARIO_TEMPO1'>{% trans %}part_five.schedule_summer{% endtrans %}</span>
      </h2>
      <h3 class="w3-center">
       <span class='HORARIO_TEMPO_TXT1'>{% trans %}part_five.schedule_summer_txt{% endtrans %}</span>
      </h3>
     </div>
    </div>
   </div>

   <div class="w3-col m6 w3-center s12 w3-container w3-padding-16">
    <div class="w3-container">
     <div class="info-txt">
      <h2 class="w3-center">
       <span class='HORARIO_TEMPO2'>{% trans %}part_five.schedule_winter{% endtrans %}</span>
      </h2>
      <h3 class="w3-center">
       <span class='HORARIO_TEMPO_TXT2'>{% trans %}part_five.schedule_winter_txt{% endtrans %}</span>
      </h3>
     </div> 
    </div>
   </div>

  </div>
 </div>
</section>

