<script>
window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup":{"background":"rgba(214,209,156,0.85)","text":"#333"},
      "button":{"background":"#3f51b5","text":"#FFF"}},
      "content": {"message": "{% trans %}cookies.txt{% endtrans %}", 
      "dismiss": "{% trans %}cookies.btn{% endtrans %}",
      "link": "{% trans %}cookies.link{% endtrans %}",
      "href": "https://cookiesandyou.com/"
    }
  })
})

mySidenav = document.getElementById("mySidenav");
overlayBg = document.getElementById("myOverlay");
loader = document.getElementById("loader-cont");

count = 0;

path = "https://www.google.pt/maps/@37.087802,-8.4264864,3a,75y,185.03h,76.94t/data=!3m6!1e1!3m4!1s9suOi359S8Fqb6ihifQaAQ!2e0!7i13312!8i6656";

function w3_open() {
    if (mySidenav.style.display === "block") {
        mySidenav.style.display = "none";
         overlayBg.style.display = "none";
         loader.style.display = "none";
    } else {
        mySidenav.style.display = "block";
         overlayBg.style.display = "block";
         loader.style.display = "none";
    }
}

function w3_close() {
    mySidenav.style.display = "none";
    overlayBg.style.display = "none";
}


window.onscroll = function() {myFunction()}
function myFunction() {
    var topo = document.getElementById("bt-top");
    document.body.scrollTop > 4000 || document.documentElement.scrollTop > 4000 ?
    topo.className = "top w3-animate-zoom w3-hide-small" : 
    topo.className = topo.className.replace("top w3-animate-zoom w3-hide-small", "top w3-hide w3-hide-small");
}

function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


function navigation(pos,id){
  w3_close();
  vl = 45;
  $(".nav-space").val() ? vl = vl + parseInt($(".nav-space").val()) : vl;
  $("html, body").animate({
    scrollTop: $(pos).offset().top -vl
  }, 750)
  if (id){
    $('select[name=category]').val(id);
    updateTourData();
  }
}




function updateTourData(id){
  
  //$('#get-available').trigger('reset')
  $('.set-visible, .wp-active, .wp-btn').addClass('w3-hide');
  $('.wp-active').empty()

}


stockDate = [];

function getAvailable(){

  var html = '';
  var hours = '';

  $('.at-last, .required').addClass('w3-hide');
  $('.get-dates, #booking_date, #booking_hour').val('');
  $('.order_available').datetimepicker();

  $('.removal').remove();

  $('.w3-overlay, #loader-cont').show();

  dataValue = $('#get-available').serialize();

  setTimeout(function(){
    $.ajax({  
      url: '{{ path('index_available') }}',
      type: "POST",
      data: dataValue,
      
      cache: false,
      
      success: function(data){
        //console.log(data)
        $('.w3-overlay, #loader-cont').hide();
        //user required fields messages 
        if (data.status == 0){
            for(k = 0; k < data.message.length; k++ )
              $('.'+data.message[k]).removeClass('w3-hide');
            $('#modal-info').show();
          }

        //no stock available 
        else if (data.status == 2){
          $('.'+data.message).removeClass('w3-hide');
          data.max ? $('.MAX').html(data.max) : $('.MAX').empty();
          $('#modal-no-stock').show();
        }
        else if (data.status == 1){
          timeDecrease(data.expiration);
        $('input[name=wp]').val(data.wp)
        stockDate = data.available;
        date = [];

        for (var k in data.available)
          date.push(data.available[k].datetime);
          
        if($('.order_available').data("DateTimePicker")) 
          $('.order_available').data("DateTimePicker").date(null);

        $('.get-dates').val('');
        $('#modal-available-dates').show();
        $('.no-hours').addClass('w3-hide');
        $('.w3-overlay').hide();
        $('.order_available').data('DateTimePicker').destroy();
        $('.order_available').datetimepicker({
          format : 'DD/MM/YYYY',
          ignoreReadonly: true,
          inline: true,
          sideBySide: false,
          icons: {
            time: "fa-3x fa fa-clock-o",
            date: "fa-3x fa fa-calendar",
            up: "fa-3x fa fa-arrow-up",
            down: "fa-3x fa fa-arrow-down",
            left: "fa-3x fa fa-arrow-left",
            right: "fa-3x fa fa-arrow-right"
          },
          keepOpen: true,
          enabledDates: date,
          locale: '{{app.request.locale}}',
          minDate: data.minDate,
          maxDate: date[date.length -1]
        })
        $('.order_available').data("DateTimePicker").date(null);
        $('.get-dates').val('');
      }
      else{
        $('#modal-check').show();
      }
    },
    error:function(data){
      $("#myOverlay, #loader-cont").hide();
      $('#modal-error').show();
    }
  })
}, 500)
}

$('.order_available').on('dp.change', function(e){
  var options= '';
  var complete = '';
  $('.get-dates').val(moment(e.date).format("DD/MM/YYYY"));
  d = new RegExp(moment(e.date).format("YYYY-MM-DD"), 'g');
  
    for (var k in stockDate){
      r = stockDate[k].datetime.match(d);
    if(r){
      complete = stockDate[k].datetime.split(" ");
      options += '<option data-left='+stockDate[k].onlyLeft+' value="'+stockDate[k].id+'">'+complete[1]+'</option>';
    }
  }
  $('.set-hours').html(options);
})


function closeModalEvents(){
  $('#modal-available-dates').hide();
  $('#booking_tourtype').val('');
  $('.at-last').addClass('w3-hide');
  if($('.order_available').data("DateTimePicker")) 
    $('.order_available').data('DateTimePicker').destroy();
  $('.get-dates, .set-hours').val('').removeClass('w3-pale-red');
}

function changeEventGetHour(v){
  $('#booking_hour').val(v)
}

function saveModalEvents(){

  userDate = $('#get-available-datetime input[name=date]').val();
  userTime = $('#get-available-datetime select[name=time] option:selected').text();
  event = $('#get-available-datetime select[name=time]').val();

  $('.required').addClass('w3-hide');

  if (!$('.get-dates').val()) $('.date').removeClass('w3-hide');
  if (!$('.set-hours').val()) $('.hour').removeClass('w3-hide');

  if ($('.get-dates').val() && $('.set-hours').val()) {
    $('#booking_date').val($('.get-dates').val());
    $('#modal-available-dates').hide();
    $('.at-last').removeClass('w3-hide');
    $('.order_available').data("DateTimePicker").date(null);

    navigation('#is-available');

    $('.client-tour-day').html(userDate);
    $('.client-tour-time').html(userTime);
    $('input[name=ev]').val(event);



    //lets check if the category has payment required
    //then build payment
    $.ajax({ 
      url:'{{ path('category_payment') }}',
      type: "POST",
      data: $('#get-available').serialize(),
      success: function(data){  
        $("#myOverlay, #loader-cont").hide()
        if (data.status == 0){
          $('.wp-active').empty().addClass('w3-hide')
          $('.wp-btn').addClass('w3-hide')
          console.log(data)
        }
        if (data.status == 1){
          console.log(data.data)
        }        
        else {
          $('.wp-active').html(data).removeClass('w3-hide')
          $('.wp-btn').removeClass('w3-hide')
        }
      },
      error:function(data){
        $("#myOverlay, #loader-cont").hide();
        $('#modal-error').show();
      }
    })

    $('.set-visible').removeClass('w3-hide');
  }

}




function showRgpd(){
  $("#myOverlay, #loader-cont").show();
  setTimeout(function(){
    $.ajax({ 
      url:'{{ path('index_rgpd') }}',
      type: "POST",
      success: function(data){  
        $("#myOverlay, #loader-cont").hide()
        if (data.status == 1){
          $('#modal-rgpd').show();
          $('.rgpd-title').html(data.message);
          $('.rgpd-text').html(data.data);
        }        
        else {
          $('.GDPR_NOT_FOUND').removeClass('w3-hide');      
          $('#modal-info').show();
        }
      },
      error:function(data){
        $("#myOverlay, #loader-cont").hide();
        $('#modal-error').show();
      }
    })
  }, 500)
}


function checkOut(){
  $('.required').addClass('w3-hide');
  $('.debugger').empty()
  $("#myOverlay, #loader-cont").show();

  //console.log($('#get-available').serialize())
  if($('#card-button').length){
    console.log('entrou')
    buyNow()
  }
  else{
  
  setTimeout(function(){
    $.ajax({ 
      url: '{{ path('set_booking') }}',
      type: "POST",
      cache: false,
      data: $('#get-available').serialize(),
      success: function(data){
        //console.log(data)

        $("#myOverlay, #loader-cont").hide();

        //time of purchase reached 
        if (data.status == 3)
          $('#modal-check').show();

        //sucess 
        else if (data.status == 1){
          navigation('#reservas');
          clearInterval(timer);
          $('#modal-success').show();
          $('.set-order-id').html(data.data);
          $('#get-available').trigger('reset');
          $('.set-visible, .wp-active, .wp-btn').addClass('w3-hide');
          $('.wp-active').empty();
          $('.icon-unknown').removeClass('w3-hide');
        }

        //show what went wrong
        else if (data.status == 0 || data.status == 2){
          for(k = 0; k<data.data.length;k++)
            $('.'+data.data[k]).removeClass('w3-hide');
          
          $('.debugger').html(data.message)
          $('#modal-info').show();
        }
        else{
          $('#modal-check').show();
        }
      
      },
      error:function(data){
        $("#myOverlay, #loader-cont").hide();
        $('#modal-error').show();
      }
    })
  }, 500)
}
}


typeof(Storage) !== "undefined" ? false : setTimeout(function(){$('#modal-no-storage').show()},1500);

'{{ id }}' != '#home' ? setTimeout(function(){navigation('{{id}}');},1000) : false;

var tl = new Cleave('input[name=telephone]', {
    phone: true,
    phoneRegionCode: ''
});

var timer ='';

function timeDecrease(v){

  if (timer) 
    clearInterval(timer);

  timer = setInterval(function() {
    
    if (v == 0){
      $('#modal-check').show();
      clearInterval(timer);
    }

    $('.time_left').text(v);
    
    v--;
  }, 1000)
}

</script>





