<script src="{{ asset('js/jquery-2.1.1.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>

<script>

window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup":{"background":"rgba(214,209,156,0.85)","text":"#333"},
      "button":{"background":"#3f51b5","text":"#FFF"}},
      "content": {"message": "{% trans %}cookies.txt{% endtrans %}", 
      "dismiss": "{% trans %}cookies.btn{% endtrans %}",
      "link": "{% trans %}cookies.link{% endtrans %}",
      "href": "https://cookiesandyou.com/"
    }
  })
})


mySidenav = document.getElementById("mySidenav")
overlayBg = document.getElementById("myOverlay")
loader = document.getElementById("loader-cont")

function w3_open() {
    if (mySidenav.style.display === "block") {
        mySidenav.style.display = "none"
         overlayBg.style.display = "none"
         loader.style.display = "none"
    } else {
        mySidenav.style.display = "block"
         overlayBg.style.display = "block"
         loader.style.display = "none"
    }
}

function w3_close() {
    mySidenav.style.display = "none"
    overlayBg.style.display = "none"
}

function navigation(pos,id){
  w3_close()
  vl=45
  $(".nav-space").val() ? vl = vl + parseInt($(".nav-space").val()) : vl
  $("html, body").animate({
    scrollTop: $(pos).offset().top -vl
  }, 750)
  }

</script>
