<script src="{{ asset('js/jquery-11.0.min.js') }}"></script>
<script src="{{ asset('js/moment-with-locales.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ asset('js/cleave.min.js')}}"></script>
<script src="{{ asset('js/addons/cleave-phone.pt-PT.js') }}"></script>
<script src="{{ asset('js/addons/cleave-phone.en-EN.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>

<script>

c_en=[]
c_pt=[]

{% for category in categories %}
  {% if category.no_stock == false %}
    c_en.push({id:{{category.id}},text:'{{category.nameEn|trim}}' })
    c_pt.push({id:{{category.id}},text:'{{category.namePt|trim}}' })
{% endif %} 
{% endfor %}

window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup":{"background":"rgba(214,209,156,0.85)","text":"#333"},
      "button":{"background":"#3f51b5","text":"#FFF"}},
      "content": {"message": "{% trans %}cookies.txt{% endtrans %}", 
      "dismiss": "{% trans %}cookies.btn{% endtrans %}",
      "link": "{% trans %}cookies.link{% endtrans %}",
      "href": "https://cookiesandyou.com/"
    }
  })
})

function categoriesBuild(f){

  var html = '<option class="TOUR w3-opacity" value=""></option>'

  if (f == 'en_EN')
    for (var k in c_en)
    html +='<option value="'+c_en[k].id+'">'+c_en[k].text+'</option>'
  else
    for (var k in c_pt)
      html +='<option value="'+c_pt[k].id+'">'+c_pt[k].text+'</option>'

  $('select[name=category]').html(html)

}

session_local = ''

{%if app.session.get('_locale') %}
  session_local = '{{app.session.get('_locale').name}}'
{% endif %}

session_local ? languages(session_local) : languages('{{locale}}')

//initialize
languages('{{locale}}')

function languages(local){

  categoriesBuild(local)

  //console.log(local)

  $("#myOverlay, #loader-cont").show()
  $.ajax({
    type: "POST",
    url :'{{ path('index_translate') }}',
    data:'lang='+local,
    cache:false,
    dataType:'json',
    success: function(data) {
      data = data.data
      $(".ONDEESTAMOS").html(data.link.where_we_are)
      $(".AEQUIPA").html(data.link.the_team)
      $(".PRECOS").html(data.link.price)
      $(".HORARIO").html(data.link.schedule)
      $(".CONTATOS").html(data.link.contact)
      $(".RESERVAS").html(data.link.booking)
      $(".KAYAKS").html(data.link.kayak)

      $(".INTRO").html(data.part_one.intro)
      $(".LOCAL").html(data.part_one.local)
      $(".FIND_US").attr('title',data.part_one.find_us)
      $(".TICKET_SHOP").html(data.part_one.ticket_shop)

      $(".IMPORTANTINFO").html(data.part_two.important_info)
      $(".RESERVAS").html(data.part_two.booking)
      $(".RESERVAS_TXT").html(data.part_two.booking_txt)
      $(".LUMINOSIDADE").html(data.part_two.light)
      $(".LUMINOSIDADE_TXT").html(data.part_two.light_txt)
      $(".ESTACIONAMENTO").html(data.part_two.parking)
      $(".ESTACIONAMENTO_TXT").html(data.part_two.parking_txt)
      $(".PARAAVISITA").html(data.part_two.what_to_take)
      $(".PARAAVISITA_TXT").html(data.part_two.what_to_take_txt)
      $(".MARES").html(data.part_two.ties)
      $(".MARES_TXT").html(data.part_two.ties_txt)
      $(".ATENCAO").html(data.part_two.attention).text(data.part_two.attention)
      $(".ATENCAO_TXT").html(data.part_two.attention_txt)
      $(".VERIFIQUE").html(data.part_two.check)
      $(".DATES_RED_TXT").html(data.part_two.no_bookings_txt)

      $(".ADULTO").html(data.part_tree.adult)
      $(".CRIANCA").html(data.part_tree.children)
      $(".DURACAOPASSEIO").html(data.part_tree.duration)

      $(".KAYAK_TXT_INTRO").html(data.part_four.kayak_txt)
      $(".KAYAK_INFO").html(data.part_four.kayak_txt_i_info)
      $(".KAYAK_CONDITIONS").html(data.part_four.kayak_txt_conditions)
      $(".KAYAK_SCHEDULES").html(data.part_four.kayak_schedules)
      $(".KAYAK_SINGLE").html(data.part_four.kayak_single+' '+data.part_four.kayak_single_price)
      $(".KAYAK_DOUBLE").html(data.part_four.kayak_double+' '+data.part_four.kayak_double_price)
      $(".PADDLE").html(data.part_four.paddle+' '+data.part_four.paddle_price)

      $(".HORARIO_TXT").html(data.part_five.schedule_txt)
      $(".HORARIO_TEMPO1").html(data.part_five.schedule_summer)
      $(".HORARIO_TEMPO_TXT1").html(data.part_five.schedule_summer_txt)
      $(".HORARIO_TEMPO2").html(data.part_five.schedule_winter)
      $(".HORARIO_TEMPO_TXT2").html(data.part_five.schedule_winter_txt)
      $(".CONTATOS_TXT").html(data.part_six.contact_txt)

      $(".NAME").attr("placeholder",data.part_seven.name).text(data.part_seven.name)
      $(".ADDRESS").attr("placeholder",data.part_seven.address).text(data.part_seven.address)
      $(".ADULT").attr("placeholder",data.part_seven.adult).text(data.part_seven.adult)
      $(".CHILDREN").attr("placeholder",data.part_seven.children).text(data.part_seven.children)
      $(".BABY").attr("placeholder",data.part_seven.baby).text(data.part_seven.baby)
      $(".DATE").attr("placeholder",data.part_seven.date).text(data.part_seven.date)
      $(".MESSAGE").attr("placeholder",data.part_seven.message)
      $(".EMAIL").attr("placeholder",data.part_seven.email).text(data.part_seven.email)
      $(".TELEPHONE").attr("placeholder",data.part_seven.telephone).text(data.part_seven.telephone)
      $(".SUBMIT").text(data.part_seven.submit)
      $(".HOUR_TXT0, .HOUR_TXT, .HOUR").text(data.part_seven.hour)
      $(".TOUR").html(data.part_seven.tour)
      $(".RGPD").text(data.part_seven.rgpd)
      $(".RGPD_TXT").html(data.part_seven.rgpd_txt)
      $(".BOOKING").text(data.part_seven.booking)
      $(".SPAM_TXT").text(data.part_seven.spam_txt)
      $(".BOOK_EMAIL").text(data.part_seven.book_email)
      $(".BOOK_PHONE").text(data.part_seven.book_phone)
      $(".BOOK_AFTER").text(data.part_seven.book_after)
      $(".EMAIL_INVALID").text(data.part_seven.email_invalid)
      $(".ZERO").text(data.part_seven.zero)
      $(".OTHER_BUY_IT").text(data.part_seven.other_buy_it)
      $(".GET_AVAILABLE").text(data.part_seven.get_available)

      $(".NO_WEB_STORAGE").text(data.info.no_webstorage)
      $(".CREDIT_CARD_NR").attr("placeholder",data.info.credit_card_nr).text(data.info.credit_card_nr)
      $(".CREDIT_CARD_NAME").attr("placeholder",data.info.name_credit_card).text(data.info.name_credit_card)
      $(".CREDIT_CARD_DATE").attr("placeholder",data.info.date_credit_card).text(data.info.date_credit_card)
      $(".TOUR_DATA").text(data.info.tour_data)
      $(".PERSONAL_DATA").text(data.info.personal_data)
      $(".CREDIT_CARD_DATA").text(data.info.credit_card_data)
      $(".WP_SET_NO_CC_DATA").text(data.info.wp_set_no_cc_data)
      $(".DOUBTS").text(data.info.doubts)
      $(".HOME").text(data.info.home)
      $(".USEFULL_INFO").text(data.info.usefull_info)
      $(".GALLERY").text(data.info.gallery)

      $(".CONFIRM").text(data.info.confirm)

      $(".FILL_ALL").text(data.info.fill_all)

      $(".CVV_INVALID").text(data.part_seven.cvv_invalid)
      $(".NO_MATCH_NAMES").text(data.part_seven.no_match_names)
      $(".CARD_NR_INVALID").text(data.part_seven.card_nr_invalid)
      $(".TELEPHONE_INVALID").text(data.part_seven.telephone_invalid)
      $(".NAME_INVALID").text(data.part_seven.name_invalid)
      $(".DATE_CARD_INVALID").text(data.info.date_card_invalid)

      $(".BUY_NOW").text(data.info.buy_now)
      $(".DATE_HOUR").text(data.info.choose_date_hour)
      $(".CHOOSE_DATE_CALENDAR").attr("placeholder",data.info.choose_date_calendar)
      $(".CHOOSE_HOUR").text(data.info.choose_hour)

      $(".CLOSE").text(data.info.close)
      $(".SAVE").text(data.info.save)
      $(".ERROR").text(data.error)
      $(".WIFIERROR").text(data.wifi_error)
      $(".SUCCESS").text(data.success)
      $(".ORDER").text(data.order)
      $(".THANKYOU").text(data.thank_you)
      
      $(".MESSAGE_TXT").text(data.part_seven.message)
      $(".NO_STOCK").text(data.part_seven.no_stock)
      $(".SORRY").text(data.part_seven.sorry)

      $(".ARBITRARY").html(data.arbitrary.txt)
      $(".ARBITRARY_CENTER").text(data.arbitrary.name)
      $(".REQUIRED").text(data.required)

      $(".SESSION").text(data.session)
      $(".CHECK").text(data.check)
      $(".SESSION_INFO").text(data.session_info)

      $(".cc-dismiss").text(data.cookies.btn)
      $(".cc-message").html(data.cookies.txt+'<br><a class="cc-link" target="_blank" href="https://cookiesandyou.com/">'+data.cookies.link+'</a>')
      
      $('.current-locale').val(local)

      switch (local){
        case 'pt_PT':
          $('.EN').addClass('w3-hide')
          $('.PT').removeClass('w3-hide')
        break
        case 'en_EN':
          $('.PT').addClass('w3-hide')
          $('.EN').removeClass('w3-hide')
        break
      }
      setTimeout(function(){
        w3_close()
        $("#myOverlay, #loader-cont").hide()
      }, 250)
    },

    error:function(data){
      setTimeout(function(){
        w3_close()
        $("#myOverlay, #loader-cont").hide()
      }, 250)
    }
  })
}


mySidenav = document.getElementById("mySidenav")
overlayBg = document.getElementById("myOverlay")
loader = document.getElementById("loader-cont")

count = 0

path = "https://www.google.pt/maps/@37.087802,-8.4264864,3a,75y,185.03h,76.94t/data=!3m6!1e1!3m4!1s9suOi359S8Fqb6ihifQaAQ!2e0!7i13312!8i6656"

function w3_open() {
    if (mySidenav.style.display === "block") {
        mySidenav.style.display = "none"
         overlayBg.style.display = "none"
         loader.style.display = "none"
    } else {
        mySidenav.style.display = "block"
         overlayBg.style.display = "block"
         loader.style.display = "none"
    }
}

function w3_close() {
    mySidenav.style.display = "none"
    overlayBg.style.display = "none"
}


window.onscroll = function() {myFunction()}
function myFunction() {
    var topo = document.getElementById("bt-top")
    document.body.scrollTop > 4000 || document.documentElement.scrollTop > 4000 ?
    topo.className = "top w3-animate-zoom w3-hide-small" : 
    topo.className = topo.className.replace("top w3-animate-zoom w3-hide-small", "top w3-hide w3-hide-small")
}

function onClick(element) {
  document.getElementById("img01").src = element.src
  document.getElementById("modal01").style.display = "block"
  var captionText = document.getElementById("caption")
  captionText.innerHTML = element.alt
}


function navigation(pos,id){
  w3_close()
  vl=45
  $(".nav-space").val() ? vl = vl + parseInt($(".nav-space").val()) : vl
  $("html, body").animate({
    scrollTop: $(pos).offset().top -vl
  }, 750)
  if (id){
    $('select[name=category]').val(id)
    updateTourData()
  }
}

function updateTourData(){
  $('.set-visible, .wp-active').addClass('w3-hide')
}

stockDate=[]

function getAvailable(){

  var html = '';
  
  hours = ''
  $('.at-last, .required').addClass('w3-hide')
  $('.get-dates, #booking_date, #booking_hour').val('')
  $('.order_available').datetimepicker()

  $('.removal').remove()

  $('.w3-overlay, #loader-cont').show()

  dataValue = $('#get-available').serialize()

  setTimeout(function(){
    $.ajax({  
      url:'{{ path('index_available') }}',
      type: "POST",
      data:dataValue,
      cache:false,
      success: function(data){
        console.log(data)
          $('.w3-overlay, #loader-cont').hide()

          //user required fields messages 
          if (data.status == 0){
            for(k = 0; k < data.message.length; k++ )
              $('.'+data.message[k]).removeClass('w3-hide')
            $('#modal-info').show()
          }

          //no stock available 
          else if (data.status == 2){
            $('.'+data.message).removeClass('w3-hide')
            data.max ? $('.MAX').html(data.max) : $('.MAX').empty() 
            $('#modal-no-stock').show()
          }

        else if (data.status == 1){
        $('input[name=wp]').val(data.wp)
        stockDate = data.available
        date = []

        for (var k in data.available)
          date.push(data.available[k].datetime)
          
          if($('.order_available').data("DateTimePicker")) 
            $('.order_available').data("DateTimePicker").date(null) 
            $('.get-dates').val('') 
            $('#modal-available-dates').show()
            $('.no-hours').addClass('w3-hide')
            $('.w3-overlay').hide()
            $('.order_available').data('DateTimePicker').destroy() 
            $('.order_available').datetimepicker({
              format : 'DD/MM/YYYY',
              ignoreReadonly: true,
              inline: true,
              sideBySide: false,
              icons: {
                time: "fa-3x fa fa-clock-o",
                date: "fa-3x fa fa-calendar",
                up: "fa-3x fa fa-arrow-up",
                down: "fa-3x fa fa-arrow-down",
                left: "fa-3x fa fa-arrow-left",
                right: "fa-3x fa fa-arrow-right"
              },
              keepOpen: true,
              //debug:true,
              enabledDates: date,
              locale: data.locale,
              minDate: data.minDate
            })
        $('.order_available').data("DateTimePicker").date(null)
        $('.get-dates').val('')
      }
      
      else{
        $('#modal-check').show()
      }
    
    },
    error:function(data){
      $('.w3-overlay').hide()
      $('#info-client').show()                
      $('#info-client-head').removeClass('w3-green amber').addClass('w3-red').html('<span onclick="$(\'#info-client\').hide()" class="w3-button w3-display-topright w3-large"><i class="fa fa-times"></i></span><h1><i class="fa fa-exclamation-triangle"></i> error</h1>')
        $('#client-txt').html($(".WIFIERROR").text())
    }
  })
}, 500)
}


$('.order_available').on('dp.change', function(e){
   var options= ''
    var complete =''
    $('.get-dates').val(moment(e.date).format("DD/MM/YYYY"))
    d = new RegExp(moment(e.date).format("YYYY-MM-DD"), 'g')
    for (i=0 ; i<stockDate.length; i++){   
         r = stockDate[i].datetime.match(d)
         if(r){
            complete = stockDate[i].datetime.split(" ")
            options += '<option value="'+stockDate[i].id+'">'+complete[1]+'</option>'
         }
    }
    $('.set-hours').html(options)
})


function closeModalEvents(){
  $('#modal-available-dates').hide()
  $('#booking_tourtype').val('')
  $('.at-last').addClass('w3-hide')
  if($('.order_available').data("DateTimePicker")) $('.order_available').data('DateTimePicker').destroy()
  $('.get-dates, .set-hours').val('').removeClass('w3-pale-red')
}

function changeEventGetHour(v){
  $('#booking_hour').val(v)
}

//userDate=''
//userTime=''

function saveModalEvents(){

  userDate = $('#get-available-datetime input[name=date]').val()
  userTime= $('#get-available-datetime select[name=time] option:selected').text();
  event = $('#get-available-datetime select[name=time]').val()

  $('.required').addClass('w3-hide')

  if (!$('.get-dates').val()) $('.date').removeClass('w3-hide')
  if (!$('.set-hours').val()) $('.hour').removeClass('w3-hide')

  if ($('.get-dates').val() && $('.set-hours').val()) {
    $('#booking_date').val($('.get-dates').val())
    $('#modal-available-dates').hide()
    $('.at-last').removeClass('w3-hide')
    $('.order_available').data("DateTimePicker").date(null)

    navigation('#is-available')

    $('.client-tour-day').html(userDate)
    $('.client-tour-time').html(userTime)
    $('input[name=ev]').val(event)

    $('input[name=wp]').val() == 'true' ? $('.wp-active').removeClass('w3-hide') : $('.wp-active').addClass('w3-hide')

    $('.set-visible').removeClass('w3-hide')

    userEvent = {
      'event': event,
      'adult': $('input[name=adult]').val(),
      'children': $('input[name=children]').val(),
      'baby':$('input[name=baby]').val()}

      sessionStorage.setItem('userEvent', JSON.stringify(userEvent))
      var uobject = sessionStorage.getItem('userEvent')
    //console.log('uobject: ', JSON.parse(uobject))
  }

}


function showRgpd(){
  $("#myOverlay, #loader-cont").show()
  setTimeout(function(){
    $.ajax({ 
      url:'{{ path('index_rgpd') }}',
      type: "POST",
      success: function(data){  
        //console.log(data)
        $("#myOverlay, #loader-cont").hide()
        if (data.status == 1){
          $('#modal-rgpd').show()
          $('.rgpd-title').html(data.message)
          $('.rgpd-text').html(data.data)
        }        
        else {
          obj=''
          for(i=0;i<data.data.length;i++)
            $('.'+data.data[i]).removeClass('w3-hide')
          $('#modal-fields').show()
        }
      },
      error:function(data){
        $("#myOverlay, #loader-cont").hide()
        $('#modal-error').show()
      }
    })
  }, 500)
}

function checkOut(){
  $('.required').addClass('w3-hide')
  $("#myOverlay, #loader-cont").show()

  //console.log($('#get-available').serialize())

  setTimeout(function(){
    $.ajax({ 
      url: '{{ path('set_booking') }}',
      type: "POST",
      cache: false,
      data: $('#get-available').serialize()+'&evt='+sessionStorage.getItem('userEvent'),
      success: function(data){
        
        console.log(data)

        $("#myOverlay, #loader-cont").hide()
        if (data.status == 1){
          navigation('#reservas')
          $('#modal-success').show()
          $('.set-order-id').html(data.data)
          $('#get-available').trigger('reset')
          $('.set-visible, .wp-active').addClass('w3-hide')
          sessionStorage.clear()
          $('.icon-unknown').removeClass('w3-hide')
        }
        else if (data.status == 0){
          for(k = 0; k<data.data.length;k++)
            $('.'+data.data[k]).removeClass('w3-hide')
          $('#modal-info').show()
        }

        else{
          $('#modal-check').show()
        }
      
      },
      error:function(data){
        $("#myOverlay, #loader-cont").hide()
        $('#modal-error').show()
      }
    })
  }, 500)
}

typeof(Storage) !== "undefined" ? false : setTimeout(function(){$('#modal-no-storage').show();},1500)

'{{ id }}' != '#home' ? setTimeout(function(){navigation('{{id}}');},1000) : false


var tl = new Cleave('input[name=telephone]', {
    phone: true,
    phoneRegionCode: '{{locale}}'
})


var dc = new Cleave('input[name=date_card]', {
    date: true,
    datePattern: ['m', 'Y']
});

var cc = new Cleave('input[name=card_nr]', {
    creditCard: true,
    delimiter: '-',
    onCreditCardTypeChanged: function (type) {
        type = type.split('15')[0]
        if(type == "unknown"){
          $('.icon').addClass('w3-hide').removeClass('w3-animate-zoom')
          $('.icon-unknown').removeClass('w3-hide')
        }
        else{
          $('.icon').addClass('w3-hide').removeClass('w3-animate-zoom')
          $('.icon-' + type).removeClass('w3-hide').addClass('w3-animate-zoom')
        }

    }
})

</script>





