<section>
  <div class="w3-row bgimg-2 w3-padding-32" id="kayak">
    <div class="w3-padding-16">
      <h2 class="w3-center">
        <i class="fa-ta-2 w3-jumbo fa-ta-2-kayak">&nbsp;</i>      
        <span class="KAYAKS">{% trans %}link.kayak{% endtrans %}</span>
      </h2>
      <div class="w3-row">
        <div class="w3-col l2 m2 s1">&nbsp;</div>
        <div class="w3-col l8 m8 s10">
          <h4 class="w3-center">
            <span class="KAYAK_TXT_INTRO">{% trans %}part_four.kayak_txt{% endtrans %}</span>
            <br><br>
          </h4>
        </div>
      </div>
    </div>
    <div class="w3-row">
      <div class="w3-col l2 m1 s0">&nbsp;</div>
      <div class="w3-col l8 m10 s12">
        <div class="w3-row-padding">
          <div class="w3-half">
            <div class="w3-col s12 ggl">
              <img class="team-images w3-card-2 W100" alt="Taruga Benagil Tours, Kayaks, Benagil, Algarve, sup" src="{{ asset('images/kl.jpg') }}" onclick="onClick(this)">
            </div>
          </div>
          <div class="w3-half">
            <div class="w3-col s12 ggl">
              <img class="team-images w3-card-2 W100" alt="Taruga Benagil Tours, Kayaks, Benagil, Algarve, sup" src="{{ asset('images/ket.jpg') }}" onclick="onClick(this)">
            </div>
            <div class="w3-col s12 ggl">
              <img class="team-images w3-card-2 W100" alt="Taruga Benagil Tours, Kayaks, Benagil, Algarve, sup" src="{{ asset('images/keb.jpg') }}" onclick="onClick(this)">
            </div>
          </div>
          <div class="w3-col s12 w3-padding-16">
            <h4 class="w3-center">
              <i class="fa-ta ta-3 w3-text-red fa-ta-exclamation-triangle">&nbsp;</i>
              <span class="KAYAK_INFO w3-text-red w3-xlarge">{% trans %}part_four.kayak_txt_i_info{% endtrans %}</span>
              <br>
              <br>
              <span class="KAYAK_CONDITIONS">{% trans %}part_four.kayak_txt_conditions{% endtrans %}</span>
            </h4>
          </div>
          <div class="w3-col s12 ggl">
            <img class="team-images w3-card-2 W100" alt="Taruga Benagil Tours, Kayaks, Benagil, Algarve, sup" src="{{ asset('images/kab.png') }}" onclick="onClick(this)">
          </div>
        </div>
        <div class="w3-col s12 w3-col s12 w3-center w3-padding-16">
          <h4>
            <span class="KAYAK_SCHEDULES w3-xlarge">{% trans %}part_four.kayak_schedules{% endtrans %}</span>
          </h4>
          <div class="w3-col w3-text-amber w3-col s12 w3-center">
             <span class="KAYAK_SINGLE w3-xlarge">{% trans %}part_four.kayak_single{% endtrans %}  {% trans %}part_four.kayak_single_price{% endtrans %}</span>
          </div>
          <div class="w3-col w3-col w3-text-orange s12 s4 w3-center">
             <span class="KAYAK_DOUBLE w3-xlarge">{% trans %}part_four.kayak_double{% endtrans %}  {% trans %}part_four.kayak_double_price{% endtrans %}</span>
          </div>
          <div class="w3-col w3-col s12 w3-text-brown s4 w3-center">
             <span class="PADDLE w3-xlarge">{% trans %}part_four.paddle{% endtrans %}  {% trans %}part_four.paddle_price{% endtrans %}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w3-row">
    <div class="rope-1 l1 s12"></div>
  </div>
</section>