<div id="modal-resolution-center" class="w3-modal" style="padding-top:100px" onclick="$(this).hide()">
  <span class="w3-closebtn w3-text-white w3-opacity w3-hover-opacity-off w3-xlarge w3-container w3-display-topright">
    <i class="fa fa-remove"></i>
  </span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-white w3-padding-32 w3-padding-small">
    <img style="width:31px" src="{{ asset('images/center.png') }}">&nbsp;
    <span class="w3-large"> {% trans %}arbitrary.name{% endtrans %} </span>
    <div class="w3-left-align">{% trans %}arbitrary.txt{% endtrans %}</div>
  </div>
</div>

<div id="modal-available-dates" class="w3-modal" style="z-index:9999;padding-top:12px;padding-bottom:32px; background-color: rgba(255,255,255,.95)">
  <span onclick="closeModalEvents()" class="w3-padding w3-right" style="cursor:pointer">
    <i class="w3-xxlarge fa fa-times"></i>
  </span>

  <div class="w3-modal-content w3-animate-zoom w3-transparent">
    <div class="w3-container w3-padding w3-text-black" style="margin-top:32px">

      <h2>
        <i class="fa fa-calendar"></i>
        <span> {% trans %}info.choose_date_hour{% endtrans %}</span>
      </h2>
    </div>
    
    <form id="get-available-datetime">
    
    <div class="w3-container w3-padding">
      <div class="w3-row w3-padding-4">
        <div class="w3-col s12 w3-xlarge w3-margin-bottom" style="margin-top:-28px">
          <span style="margin-top:-4px" class="w3-right w3-large w3-hide date required w3-text-red w3-animate-zoom">{% trans %}required{% endtrans %} </span>
          <input class="w3-input get-dates" style="padding:0px 8px" name="date" readonly placeholder="{% trans %}info.choose_date_calendar{% endtrans %} *" type="text">
        </div>
        <div class="w3-col s12 w3-large w3-block">
          <div style="position:relative;height:370px;zoom:95%">
            <input class="order_available" readonly type="hidden">
          </div>
        </div>
        <div class="w3-col s12 w3-xlarge">
          <span style="margin-top:-4px" class="w3-large w3-hide hour required w3-text-red w3-animate-zoom w3-right">{% trans %}required{% endtrans %} </span>
          <select class="w3-input set-hours" name="time" onchange="changeEventGetHour(this.value)">
          </select>
         
        </div>
      </div>
    </div>

    </form>
    <div class="w3-row-padding w3-medium w3-padding-large w3-xlarge">
      <span class="w3-border w3-round w3-btn w3-white" onclick="closeModalEvents()">
        <i class="fa fa-times"></i>
      </span>
      <span class="w3-btn w3-green w3-border w3-round w3-right" onclick="saveModalEvents()">
        <i class="fa fa-check"></i>
      </span>
    </div>
  </div>
</div>

<div id="modal-info" class="w3-modal" style="z-index:9999;padding-top:60px;padding-bottom:32px">
    <div class="w3-modal-content w3-animate-zoom" style="max-width:400px">
    <div class="w3-col s12">
      <div class="w3-row">
        <div class="modal-head w3-panel w3-leftbar w3-col s12 w3-left-align">
          <span class="w3-closebtn w3-padding-small w3-right" onclick="$('#modal-info').hide()" style="cursor:pointer">
            <i class="fa fa-times"></i>
          </span>
          <h2>
            <span class="icon"></span>
            <span class="modal-head-text"></span>
          </h2>
          <p class="modal-text w3-xlarge w3-padding-small"></p>
          <div class="w3-margin-bottom"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="modal-no-stock" class="w3-modal" style="z-index:9999;padding-top:60px; padding-bottom: 32px">
  <div class="w3-modal-content w3-animate-zoom" style="max-width:400px">
    <div class="w3-col s12">
      <div class="w3-row">
        <div class="w3-panel w3-leftbar w3-col s12 w3-pale-yellow w3-border-amber w3-left-align w3-large">
          <span class="w3-closebtn w3-padding-small" onclick="$('#modal-no-stock').hide()">
            <i class="fa fa-times"></i>
          </span>
          <h2>
            <i class="fa fa-warning"></i>
            <span>{% trans %}part_seven.sorry{% endtrans %}</span>
          </h2>
          <div>{% trans %}part_seven.no_stock{% endtrans %}</div>
          <div class="MAX w3-center"></div>
          <div class="w3-margin-bottom"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--SESSION END MODAL -->
<div id="modal-check" class="w3-modal" style="z-index:9999;padding-top:60px; padding-bottom: 32px">
  <div class="w3-modal-content w3-animate-zoom" style="max-width:400px">
    <div class="w3-col s12">
      <div class="w3-row">
        <div class="w3-panel w3-leftbar w3-col s12 w3-pale-yellow w3-border-amber w3-left-align">
          <span class="w3-closebtn w3-padding-small" onclick="$('#modal-check').hide()">
            <i class="fa fa-times"></i>
          </span>
          <h2>
            <i class="fa fa-warning"></i>
            <span>{% trans %}check{% endtrans %}</span>
          </h2>
          <p class="w3-center w3-xlarge w3-padding-small">{% trans %}session{% endtrans %}</p>
          <div>{% trans %}session_info{% endtrans %}</div>
          <div class="w3-margin-bottom"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal-rgpd" class="w3-modal" style="padding-top:100px;z-index:9999" onclick="$(this).hide()">
  <div class="w3-modal-content w3-animate-zoom w3-white w3-padding-32 w3-padding-small w3-margin-bottom">
      <span class="w3-xlarge w3-container w3-btn w3-white w3-display-topright" onclick="$('#modal-rgpd').hide()">
    <i class="fa fa-times"></i>
  </span>
    <h2 class="w3-center rgpd-title"></h2>
    <div class="w3-white w3-padding-32 w3-padding-small w3-border-top rgpd-text">
    </div>
  </div>
</div>