
<nav class="w3-sidenav w3-card-2 w3-animate-left w3-sand" style="top:0px; opacity: 0.95" id="mySidenav">
 
 <div class="w3-border-top w3-border-bottom w3-right-align" style="margin-top:2px; padding: 6px 0px 10px 0px">
 <span onclick="w3_close()" class="w3-transparent w3-margin w3-padding-4" style="cursor:pointer">
  <i class="fa fa-2x fa-times"></i>
 <span>
 </div>

<a href="javascript:void(0)" onclick="navigation('#home')" class='w3-padding-8 nav-text-m w3-khaki w3-border-bottom'>
  <span class='w3-medium' style="text-transform:uppercase">{% trans %}info.home{% endtrans %}</span>
 </a>

 <a href="javascript:void(0)" onclick="navigation('#precos')" class='w3-margin-left w3-padding-8 nav-text-m'>
  <span>{% trans %}link.price{% endtrans %}</span>
 </a>
  <a href="javascript:void(0)" onclick="navigation('#reservas')" class='w3-margin-left w3-padding-8 nav-text-m'> 
  <span>{% trans %}link.booking{% endtrans %}</span>
 </a>
  <!--a href="javascript:void(0)" onclick="navigation('#reservas')" class='w3-margin-left w3-padding-8 nav-text-m'> 
  <span>{% trans %}link.help_improve{% endtrans %}</span>
 </a-->

  <form action="{{ path('index_info') }}" method="get" class='w3-padding-8 w3-border-bottom w3-border-top' onclick="$(this).trigger('submit')">
    <input type="hidden" name="id" value="home">
    <span class='w3-medium nav-text-m w3-margin-left' style="text-transform:uppercase">{% trans %}info.usefull_info{% endtrans %}</span>
  </form>

  <form action="{{ path('index_info') }}" method="get" class='w3-padding-8 w3-margin-left' onclick="$(this).trigger('submit')">
    <input type="hidden" name="id" value="aequipa_iii">
    <span class='nav-text-m w3-margin-left'>{% trans %}info.doubts{% endtrans %}</span>
 </form>

  <form action="{{ path('index_info') }}" method="get" class='w3-padding-8 w3-margin-left' onclick="$(this).trigger('submit')">
    <input type="hidden" name="id" value="aequipa_ii">
    <span class='nav-text-m w3-margin-left'>{% trans %}info.gallery{% endtrans %}</span>
 </form>

  <form action="{{ path('index_info') }}" method="get" class='w3-padding-8 w3-margin-left' onclick="$(this).trigger('submit')">
    <input type="hidden" name="id" value="contatos">
    <span class='nav-text-m w3-margin-left'>{% trans %}link.contact{% endtrans %}</span>
 </form>

<a href="{{ path('index_help_improve') }}" class='w3-padding-8 nav-text-m w3-border-top'>
  <span class='w3-medium' style="text-transform:uppercase">{% trans %}link.help_improve{% endtrans %}</span>
</a>

<div class="w3-border-top w3-border-bottom">
 <li class='w3-center w3-padding w3-opacity-min' style="display: inline-flex;margin-left:34px">
    {% if locales %}

        {% for local in locales %}
         {% set l = app.request.locale != local.name ? 'w3-opacity' : '' %}
        <a href="{{ path('index_user_translate', {lang: local.name, page: 'index'}) }}" onclick="$('.w3-overlay').show()" class="{{l}} w3-hover-opacity" style="padding:0px">
          <img style="cursor:pointer;height:36px;width:36px;margin:7px 8px" class="w3-border w3-round w3-right" src='{{local.filename}}' title="{{local.name}}">
        </a>
        {% endfor %}

    {% endif %}
 </li>

</div>

<div class="w3-xxlarge w3-padding-small w3-center w3-opacity-min">
  <img src="{{ asset('upload/gallery/') }}{{company.logo}}" style=" z-index: -1;position:absolute;left:0;margin-top: 0px;width: 196px;opacity:0.1">
  {% if company.linkFacebookActive == true %}
  <a href="{{company.linkFacebook}}" target="_blank" style="display:inline; padding:0px;margin: 2px;">
    <i class="fa fa-facebook-official w3-hover-opacity w3-text-indigo"></i>
  </a>
  {% endif %}
  
  {% if company.linkInstagramActive == true %}
  <a href="{{company.linkInstagram}}" target="_blank" style="display:inline; padding:0px;margin: 2px;">
    <i class="fa fa-instagram w3-hover-opacity w3-text-brown"></i>
  </a>
  {% endif %}
  
  {% if company.linkPinterestActive == true %}
  <a href="{{company.linkPinterest}}" target="_blank" style="display:inline; padding:0px;margin: 2px;">
    <i class="fa fa-pinterest-p w3-hover-opacity w3-text-red"></i>
  </a>
  {% endif %}
  
  {% if company.linkTwitterActive == true %}
  <a href="{{company.linkTwitter}}" target="_blank" style="display:inline; padding:0px;margin: 2px;">
    <i class="fa fa-twitter w3-hover-opacity w3-text-blue"></i>
  </a>
  {% endif %}
  
  {% if company.linkLinkenActive == true %}
  <a href="{{company.linkLinken}}" target="_blank" style="display:inline; padding:0px;margin: 2px;">
    <i class="fa fa-linkedin w3-hover-opacity w3-text-blue"></i>
  </a>
  {% endif %}
  
  {% if company.linkBehanceActive == true %}
  <a href="{{company.linkBehance}}" target="_blank" style="display:inline; padding:0px;margin: 2px;">
    <i class="fa fa-behance w3-hover-opacity w3-teal"></i>
  </a>
  {% endif %}
  
  {% if company.linkYoutubeActive == true %}
  <a href="{{company.linkYoutube}}" target="_blank" style="display:inline; padding:0px;margin:2px;font-size: 30px">
    <i class="fa fa-youtube w3-hover-opacity w3-text-red"></i>
  </a>
  {% endif %}
  {% if company.linkSnapchatActive== true %}
  <a href="{{company.linkSnapchat}}" target="_blank" style="display:inline; padding:0px;margin: 2px;">
    <i class="fa fa-snapchat w3-hover-opacity w3-text-brown"></i>
  </a>
  {% endif %}
</div>

</nav>