<section class="w3-top w3-card-2">
    <div class='nav-container w3-sand'>
        <ul class="w3-navbar" id="myNavbar">
            <li>
                <span onclick="navigation('#home')" class="w3-animate-zoom">
                    <img src="{{ asset('upload/gallery/') }}{{company.logo}}" alt="{{company.name}}, sup, kayak" style="position:absolute;width:96px;left:8px">
                </span>
            </li>
            <li class="w3-right">
                <a href="javascript:void(0)" class="w3-right" onclick="w3_open()">
                    <i class="fa fa-2x fa-bars w3-padding-right w3-padding-left"></i>
                </a>
                {% if locales %}
                
                {% for local in locales %}
                {% set l = app.request.locale != local.name ? 'w3-opacity' : '' %}
                
                <a href="{{ path('index_user_translate', {lang: local.name, page: page}) }}" onclick="$('.w3-overlay').show()" class="{{l}} w3-hover-opacity w3-right" style="padding:0px">
                    <img style="cursor:pointer;height:36px;width:36px;margin:7px 8px" class="w3-opacity-min w3-border w3-round w3-right" src='{{local.filename}}' title="{{local.name}}">
                </a>
                {% endfor %}
                
                {% endif %}
            </li>
        </ul>
    </div>
    
    {% if warning.visible == 1 %}
    
    <div class="no-cave-rides">
        <p class="marquee">
            <i class="fa-ta fa-ta-exclamation-triangle w3-text-white w3-xlarge"></i>&nbsp;
            <span> {{ app.request.locale == 'pt_PT' ? warning.infoPt : warning.infoEn }}</span>
        </p>
    </div>
    
    {% endif %}

</section>