
<section class="w3-top w3-card-2">
 <div class='nav-container'>
  <ul class="w3-navbar" id="myNavbar">
   <li>
    <a href="javascript:void(0)" onclick="navigation('#home')" class="w3-animate-zoom logo-lg w3-hide-medium w3-hide-small"></a>
    <a href="javascript:void(0)" onclick="navigation('#home')" class="w3-animate-zoom logo-md w3-hide-large w3-hide-small"></a>
    <a href="javascript:void(0)" style="margin-top:2px" onclick="navigation('#home')" class="w3-animate-zoom logo-sm w3-hide-large w3-hide-medium" id="mylogo"></a>
   </li>

    <!-- Right-sided navbar links -->
 
   <li class="w3-hide-small w3-hide-medium nav-desk-center">
    <a href="javascript:void(0)" onclick="navigation('#ondeestamos')" class='nav-text'>
     <i class="fa-ta ta-3 fa-ta-marker"></i>
     <br>
     <span class='ONDEESTAMOS'>{% trans %}link.where_we_are{% endtrans %}</span>
    </a>

    <a href="javascript:void(0)" onclick="navigation('#aequipa')" class='nav-text'>
     <i class="fa-ta ta-3 fa-ta-team"></i>
     <br>
     <span class='AEQUIPA'>{% trans %}link.the_team{% endtrans %}</span>
    </a>

    <a href="javascript:void(0)" onclick="navigation('#precos')" class='nav-text'>
     <i class="fa-ta ta-3 fa-ta-euro"></i>
     <br>
     <span class='PRECOS'>{% trans %}link.price{% endtrans %}</span>
    </a>

    <a href="javascript:void(0)" onclick="navigation('#kayak')" style="padding: 4px 8px 0px 8px" class='nav-text'>
     <i class="fa-ta-2 fa-ta-2-kayak" style="font-size: 37px"></i>
     <br>
     <span class='KAYAKS'>{% trans %}link.kayak{% endtrans %}</span>
    </a>

    <a href="javascript:void(0)" onclick="navigation('#horarios')" class='nav-text'>
     <i class="fa-ta ta-3 fa-ta-schedule"></i>
     <br>
     <span class='HORARIO'>{% trans %}link.schedule{% endtrans %}</span>
    </a>

    <a href="javascript:void(0)" onclick="navigation('#contatos')" class='nav-text'>
     <i class="fa-ta ta-3 fa-ta-contact"></i>
     <br>
     <span class='CONTATOS'>{% trans %}link.contact{% endtrans %}</span>
    </a>

    <a href="javascript:void(0)" onclick="navigation('#reservas')" class='nav-text'>
     <i class="fa-ta ta-3 fa-ta-booking"></i>
     <br>
     <span class='RESERVAS'>{% trans %}link.booking{% endtrans %}</span>
    </a>
   </li>

   <li class="w3-right w3-hide-small w3-hide-medium nav-desk-right-top" style="display:inline-flex;margin-right:8px;margin-top: 4px;margin-bottom:-14px">
        <img style="cursor:pointer;height:36px;width:36px;margin:0px 8px" class="lang-action pt active-lang w3-border" src='/images/icon-pt.jpg' title="pt_PT" onclick="languages(this.title,1)">
        <img style="cursor:pointer;height:36px;width:36px;margin:0px 8px" class="lang-action en active-lang w3-border" src='/images/icon-en.jpg' title="en_EN" onclick="languages(this.title,2)">
   </li>
   <li class="w3-right w3-hide-small w3-hide-medium nav-desk-socials">
    <a class="nav-desk-fcb" href="https://facebook.com/Taruga-benagil-tours-1429577477372009/" target="_blank">
     <i class="fa fa-facebook"></i>
    </a>
    <a class="nav-desk-inst" href="https://instagram.com/tarugabenagiltours/" target="_blank">
     <i class="fa fa-instagram"></i>
    </a>
    <a class="nav-desk-ytb" href="https://youtube.com/channel/UCXdOWNzDhQCvrO05cekWV8A" target="_blank">
     <i class="fa fa-youtube"></i>
    </a>
   </li>
    <li class="w3-right w3-hide-large">
      <a href="javascript:void(0)" class="w3-right w3-hide-large" onclick="w3_open()">
        <i class="fa fa-2x fa-bars w3-padding-right w3-padding-left"></i>
      </a>
    </li>
   </ul>
  </div>
  
    {% if warning.visible == 1 %}
      <div class="no-cave-rides">
        <p class="marquee">
            <i class="fa-ta fa-ta-exclamation-triangle w3-text-white w3-xlarge"></i>&nbsp;
            <span class="PT">{{ warning.infoPt }}</span>
            <span class="EN w3-hide">{{ warning.infoEn }}</span>
        </p>
     </div>
    {% endif %}

</section>