<style>

.map-responsive{
    overflow:hidden;
    padding-bottom:56%;
    position:relative;
    height:0
}
.map-responsive iframe, .w{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute
}

</style>

<section class="part_one">
  <div class='bgimg-1 w3-padding-32' id="ondeestamos">
   <div class="w3-padding-16">
    <h2 class="w3-center">
     <i class="fa-ta ta-4 fa-ta-marker">&nbsp;</i>
     <span class="ONDEESTAMOS">{% trans %}link.where_we_are{% endtrans %}</span>
    </h2>

    <div class="w3-row w3-padding-16">

      <div class="w3-col l12 w3-margin-bottom">
        <h4 class="w3-center w3-margin-bottom w3-padding-small">
          <span class='INTRO'>{% trans %}part_one.intro{% endtrans %}</span>
        </h4>
      </div>   
      <!--div class="w3-col s6 w3-right-align">
        <h4 class="w3-margin-right w3-padding-small">
            <div class="w3-hide-small w3-hide-medium">
          <br>
          </div>
         
          <span class='LOCAL'>{% trans %}part_one.local{% endtrans %}</span>
          <br>
          <b>{% trans %}part_one.gps{% endtrans %}</b>
        </h4>
      </div-->
      <div class="w3-col s12 w3-center">
        <a class="w3-padding-small" href='https://www.google.pt/maps/place/Taruga+Tours/@37.0877204,-8.4284601,16.33z/data=!4m5!3m4!1s0x0:0xf0cf03939dd0825a!8m2!3d37.0873492!4d-8.4263098'>
            <img class="qr-code FIND_US" title="{% trans %}part_one.find_us{% endtrans %}" src="{{ asset('images/qr.jpg') }}"/>
          </a>
        </div>


    <div class="w3-col m6 w3-container w3-margin-top">
      <video id="video" loop controls class="banner-img w3-container tickets-container">
      </video>  
    </div>

     <div class="w3-col m6 w3-container w3-margin-top">
      <div class="w3-container tickets-container">
        <div class="map-responsive">
        <div id="map" class="w"></div>
      </div>
      </div>
     </div>
    </div>
   </div>
  </div>


  <div class="w3-row">
   <div class="rope-1 l1 s12"></div>
  </div>

  <div class="w3-padding-16 bgimg-6">
   <h2 class="w3-center">
    <i class="fa-ta ta-4 fa-ta-ticket-shop">&nbsp;</i>
    <span class="TICKET_SHOP">{% trans %}part_one.ticket_shop{% endtrans %}</span>
   </h2>

   <div class="w3-row w3-padding-16 w3-section ticket-cont">
    <div class="w3-col l2">&nbsp;</div>

    {% for ts in ts %}
     <div class="w3-col l4 m6 w3-center s12 w3-container w3-padding-16">
      <div class="w3-container tickets-container">
       <img class="width-100p" alt="Taruga Benagil Tours, caves, Benagil, Algarve, Portugal, sup, kayak" src="{{ts.img|e}}"/>
      </div>
     </div>
    {% endfor %}
    </div>
   </div>

  <div class="w3-row">
   <div class="rope-2 l1 s12"></div>
  </div>
</section>