
<style>
.w3-cell-row{display:table;width:100%}.w3-cell{display:table-cell}
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
</style>

<section>
  <div class="w3-row">
    <div class="rope-1 l1 s12"></div>
  </div>

  <div class="w3-container bgimg-6 w3-padding-32" id="precos">
    <div class="w3-padding-8 w3-content">
      <h2 class="w3-center">
        <i class="fa-ta ta-4 fa-ta-euro">&nbsp;</i>
        <span class='PRECOS'>{% trans %}link.price{% endtrans %}</span>
      </h2>
      {% if categories %}

      <div class="w3-cell-row">
        {% for category in categories %}

        <div class="w3-container w3-half w3-mobile w3-cell w3-padding w3-padding-16">
          <p class="w3-center w3-xlarge w3-text-brown" style="text-transform: uppercase">
            <span class="TOUR_TXT1 PT bold">{{ category.namePt }}</span>
            <span class="TOUR_TXT1 EN w3-hide bold">{{ category.nameEn }}</span>
          </p>
          <img class="w3-card-4" src="/upload/category/{{ category.image }}" onerror="this.src='/upload/category/no-image.png'" style="width:100%">
          <p class="w3-center">
            <span class="PT">{{ category.descriptionPt }}</span>
            <span class="EN w3-hide">{{ category.descriptionEn }}</span>
          </p>
          <div class="w3-padding-8 w3-border-top">
            <button class="w3-btn w3-blue w3-right w3-large BUY_NOW" onclick="navigation('#reservas', {{ category.id }})">Comprar</button>
            <p class="">
            {% if category.adultPrice > 0 %}
                <span class='ADULTO'>{% trans %}part_tree.adult{% endtrans %}</span>&nbsp;
                <span class="PT">{{ category.adultPrice|number_format(2, '.', ',') }}€</span>
                <span class="EN w3-hide">{{ category.adultPrice|number_format(2, '.', ',') }}€</span>
                <br>
              {% else %}
                <span class='ADULTO'>{% trans %}part_tree.adult{% endtrans %}</span>&nbsp;
                <span class="PT">-/-</span>
                <span class="EN w3-hide">-/-</span>
                <br>
              {% endif %}
              {% if category.childrenPrice > 0 %}
                <span class='CRIANCA'>{% trans %}part_tree.children{% endtrans %}</span>&nbsp;
                <span class="PT">{{ category.childrenPrice|number_format(2, '.', ',') }}€</span>
                <span class="EN w3-hide">{{ category.childrenPrice|number_format(2, '.', ',') }}€</span>
                <br>
              {% else %}
                <span class='CRIANCA'>{% trans %}part_tree.children{% endtrans %}</span>&nbsp;
                <span class="PT">-/-</span>
                <span class="EN w3-hide">-/-</span>
                <br>
              {% endif %}
              </p>
            </div>
          </div>
        {% endfor %}
        </div>
      {% endif %}
      </div>
    </div>

  <div class="w3-row">
    <div class="rope-2 l1 s12"></div>
  </div>
</section>