
<style>.day{background:rgba(76,175,80,0.7);color:#000}
.prev,.picker-switch,.next, .dow{background-color: #EEE}
</style>

<section class="w3-container w3-padding-16 bgi_mg-3 w3-khaki reservas-cont w3-border-top" id="reservas">

 <div class="w3-padding-8">
  <h2 class="w3-center">
    <i class="fa-ta ta-4 fa-ta-booking">&nbsp;</i>
    <span class="RESERVAS">{% trans %}link.booking{% endtrans %}</span><br>
    <span class="FILL_ALL w3-xlarge">{% trans %}info.fill_all{% endtrans %}</span>
  </h2>

  {% if categories %}

  <form id="get-available" class="w3-sand w3-padding-8 w3-border reservas-cont">
    <div class="w3-row-padding w3-xlarge">
    <div class="w3-col s12 w3-center TOUR_DATA">{% trans %}info.tour_data{% endtrans %}
    </div>
      <div class="w3-col l6 m12 s12">
        <label class="TOUR w3-small w3-text-red">{% trans %}part_seven.tour{% endtrans %}</label>
        <select class="w3-select w3-input" name="category" onchange="updateTourData()">
           <option class="TOUR w3-opacity" value="">{% trans %}part_seven.tour{% endtrans %}</option>
          {% for category in categories %}
          {% if category.no_stock == false %} 
          <option class="PT" value="{{category.id}}">{{category.namePt}}</option>
          <option class="EN w3-hide" value="{{category.id}}">{{category.nameEn}}</option>
          {% endif %} 
          {% endfor %}
        </select>
      </div>
      
      <div class="w3-col l2 m4 s12">
        <label class="ADULT w3-small w3-text-red">{% trans %}part_seven.adult{% endtrans %}</label>
        <input type="number" name="adult" class="w3-input ADULT" step="1" min="0" placeholder="{% trans %}part_seven.adult{% endtrans %}">
      </div>

      <div class="w3-col l2 m4 s12">
        <label class="CHILDREN w3-small w3-text-red">{% trans %}part_seven.children{% endtrans %}</label>
        <input type="number" name="children" class="w3-input CHILDREN" step="1" min="0" placeholder="{% trans %}part_seven.children{% endtrans %}">
      </div>
      
      <div class="w3-col l2 m4 s12">
        <label class="BABY w3-small w3-text-red">{% trans %}part_seven.baby{% endtrans %}</label>
        <input type="number" name="baby" class="w3-input BABY" step="1" min="0" placeholder="{% trans %}part_seven.baby{% endtrans %}">
      </div>
    </div>

    <div class="w3-row w3-medium" id="is-available">
      <div class="w3-col l4 m3 s2">&nbsp;</div>
      <div class="w3-col l4 m6 s8 w3-margin-top w3-center">
        <span class="w3-btn w3-blue w3-center" onclick="getAvailable()">
          <i class="fa fa-check"></i>&nbsp;
        <span class="GET_AVAILABLE"> {% trans %}part_seven.get_available{% endtrans %}</span>
        </span>
      </div>
    </div>

    <div class="w3-row-padding w3-xlarge set-visible w3-hide">
      <div class="w3-col l3 m1 w3-hide-small">&nbsp;
        <input name='wp' type="hidden">
        <input name='ev' type="hidden">
      </div>
      <div class="w3-col l3 m5 s12">
        <label class="DATE w3-small w3-text-red">{% trans %}part_seven.date{% endtrans %}</label>
        <p class="w3-input client-tour-day"></p>
      </div>
      
      <div class="w3-col l3 m5 s12">
        <label class="HOUR w3-small w3-text-red">{% trans %}part_seven.hour{% endtrans %}</label>
        <p class="w3-input client-tour-time"></p>
      </div>
    </div>
  
    <div class="w3-row-padding w3-xlarge set-visible w3-hide">  
<!-- part 3 -->
    <div class="w3-col s12 w3-center PERSONAL_DATA">{% trans %}info.personal_data{% endtrans %}</div>

      <div class="w3-col l3 m6 s12">
        <label class="NAME w3-small w3-text-red">{% trans %}part_seven.name{% endtrans %}</label>
        <input type="text" name="name" class="w3-input NAME" placeholder="{% trans %}part_seven.name{% endtrans %}">
      </div>

      <div class="w3-col l3 m6 s12">
        <label class="EMAIL w3-small w3-text-red">{% trans %}part_seven.email{% endtrans %}</label>
        <input type="email" name="email" class="w3-input EMAIL" placeholder="{% trans %}part_seven.email{% endtrans %}">
      </div>

      <div class="w3-col l3 m6 s12">
        <label class="TELEPHONE w3-small w3-text-red">{% trans %}part_seven.telephone{% endtrans %}</label>
        <input type="tel" name="telephone" class="w3-input TELEPHONE" placeholder="{% trans %}part_seven.telephone{% endtrans %}">
      </div>

      <div class="w3-col l3 m6 s12">
        <label class="ADDRESS w3-small w3-text-red">{% trans %}part_seven.address{% endtrans %}</label>
        <input type="text" name="address" class="w3-input ADDRESS" placeholder="{% trans %}part_seven.address{% endtrans %}">
      </div>
    </div>

<!-- part 3 -->

<!-- part 4 -->

    <div class="w3-row-padding w3-xlarge wp-active w3-hide"> 
    <div class="w3-col s12 w3-center CREDIT_CARD_DATA w3-padding-8">{% trans %}info.credit_card_data{% endtrans %}
    </div>

      <div class="w3-col l4 m7 s12">
        <label class="CREDIT_CARD_NAME w3-small w3-text-red">{% trans %}info.name_credit_card{% endtrans %}</label>
        <input type="text" name="name_card" class="w3-input CREDIT_CARD_NAME" placeholder="{% trans %}info.name_credit_card{% endtrans %}">
      </div>

      <div class="w3-col l2 m5 s12">
        <label class="CREDIT_CARD_DATE w3-small w3-text-red">{% trans %}info.date_credit_card{% endtrans %}</label>
          <input type="text" name="date_card" class="w3-input" placeholder="MM/YYYY">
      </div>

      <div class="w3-col l4 m8 s12">

        <label class="CREDIT_CARD_NR w3-small w3-text-red">{% trans %}info.credit_card_nr{% endtrans %}</label>
        <input type="text" name="card_nr" class="w3-input CREDIT_CARD_NR" placeholder="{% trans %}info.credit_card_nr{% endtrans %}">

        <div class="w3-right" style="margin-top:-54px">
          <div class="w3-left icon icon-unknown w3-grayscale-min w3-opacity-min">
            <i class="fa fa-credit-card"></i>
          </div>
          <div class="w3-left icon-amex icon w3-hide">
            <i class="fa fa-cc-amex w3-text-blue"></i>
          </div>
          <div class="w3-left icon-visa icon w3-hide">
            <i class="fa fa-cc-visa  w3-text-indigo"></i>
          </div>
          <div class="w3-left icon-diners icon w3-hide">
            <i class="fa fa-cc-diners-club w3-text-blue"></i>
          </div>
          <div class="w3-left icon-mastercard icon w3-hide">
           <i class="fa fa-cc-mastercard w3-text-orange"></i>
          </div>
          <div class="w3-left icon-jcb icon w3-hide">
            <i class="fa fa-cc-jcb w3-text-dark-grey"></i>
          </div>
          <div class="w3-left icon-discover icon w3-hide">
            <i class="fa fa-cc-discover w3-text-orange"></i>
          </div>
          <div class="w3-left icon-maestro icon w3-hide">
            <img src="{{ asset('images/maestro.png') }}" class="cc-img"></i>
          </div>
          <div class="w3-left icon-uatp icon w3-hide">
            <img src="{{ asset('images/uatp.png') }}" class="cc-img"></i>
          </div>

        </div>
      
      </div>

      <div class="w3-col l2 m4 s12">
        <label class="w3-small w3-text-red">CVV *</label>
        <input type="number" max="999" maxlength="3" name="cvv" class="w3-input" placeholder="CVV *">
      </div>
    </div>

<!-- part 4 -->
    
    <div class="w3-row-padding w3-xlarge w3-hide set-visible">  
      <div class="w3-col s12 w3-left-align" style="line-height:28px">
        <label class="RGPD w3-small w3-text-red w3-margin-top">{% trans %}part_seven.rgpd{% endtrans %}</label>
        <span style="cursor:pointer" onclick='showRgpd()'>
          <i class="fa fa-plus w3-text-blue"></i>
        </span>
        <br>
        <input type="checkbox" name="check_rgpd" class="w3-check" checked>
        <span class="RGPD_TXT w3-small" style="line-height:10px">{% trans %}part_seven.rgpd_txt{% endtrans %}</span>
      </div>

      <div class="w3-col l4 m3 s2">&nbsp;</div>
        <div class="w3-col l4 m6 s8 w3-margin-top w3-center w3-medium">
       <span class="w3-btn w3-green" onclick="checkOut()">
        <i class="fa fa-check"></i>
        <span class="CONFIRM"> {% trans %}info.confirm{% endtrans %}</span>
      </span>
      </div>
    </div> 
    <input type="hidden" name="_csrf_token" value="{{csrf_token('authenticate') }}">
  </form>

<section class="w3-padding-64">
   <h4 class="w3-center w3-content">
    <p class='SPAM_TXT blink'>{% trans %}part_seven.spam_txt{% endtrans %}</p>
    <p class='BOOKING bold'>{% trans %}part_seven.booking{% endtrans %}</p>
    <p class='BOOK_EMAIL w3-text-red'>{% trans %}part_seven.book_email{% endtrans %}</p>
    <p class='BOOK_PHONE'>{% trans %}part_seven.book_phone{% endtrans %}</p>
   </h4>
   <h4 class="w3-center w3-content">
    <span class='BOOK_AFTER'>{% trans %}part_seven.book_after{% endtrans %}</span>
   </h4>
</section>
  {% else %}

    <h2 class="w3-center">Nothing available!</h2>

  {% endif %}

  
</div>
</section>

<script>



</script>

