
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/w3.css') }}">
<link rel="stylesheet" href="{{ asset('css/css.css') }}">
<link rel="stylesheet" href="{{ asset('font/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/nanogallery2.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/mystyle.css') }}">
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css">
