    <script src="{{ asset('js/image-resize.min.js') }}"></script>
    <style>
    .ql-snow{background: white}
    .icon{background:url("{{ asset('images/icon-') }}{{ seeBooking.language }}.jpg");height: 48px;width: 48px;background-size: contain}
    .bolder{font-weight: bolder}
    </style>

    <form id="bookingstatus" class="w3-col w3-row-padding">
      <div class="w3-col l4 m6 s12">
        <input type="hidden" name="index" value="{{ seeBooking.index }}">
        <input type="hidden" id="bookingstatus_id" name="bookingstatusId"  value="{{ seeBooking.booking }}">
        <label><i class="fas fa-user-tie"></i> Nome</label>
        <input class="w3-input w3-border" readonly value="{{ seeBooking.username }}">
      </div>
      <div class="w3-col l4 m6 s12">
        <label><i class="fas fa-phone-square"></i> Telefone</label>
        <input class="w3-input w3-border" readonly value="{{ seeBooking.telephone }}">
      </div>
      <div class="w3-col l4 m5 s12">
        <label><i class="fas fa-envelope-square"></i> Email</label>
        <input id="bookingstatus_email" name="email" class="w3-input w3-white w3-border EMAIL" placeholder="Email" value="{{ seeBooking.email }}">
      </div>
      <div class="w3-col l4 m7 s12">
        <label><i class="fas fa-address-card"></i> Morada</label>
        <input class="w3-input w3-border" readonly value="{{ seeBooking.address }}">
      </div>
      <div class="w3-col l8 s12">
        <label><i class="fas fa-ship"></i> Tour</label>
        <input class="w3-input w3-border" readonly value="{{ seeBooking.tour }}">
      </div>
      <div class="w3-col l4 m4 s12">
        <label><i class="fas fa-calendar-check"></i> Data</label>
        <input class="w3-input w3-border" readonly value="{{ seeBooking.date }}">
      </div>
      <div class="w3-col l4 m4 s12">
        <label><i class="fas fa-clock"></i> Hora</label>
        <input class="w3-input w3-border" readonly value="{{ seeBooking.hour }}">
      </div>
      <div class="w3-col l4 m4 s4">
        <label><i class="far fa-user"></i> Adulto</label>
         <input class="w3-input w3-border" readonly value="{{ seeBooking.adult }}">
      </div>
      <div class="w3-col l4 m4 s4">
        <label><i class="fas fa-child"></i> Criança</label>
         <input class="w3-input w3-border" readonly value="{{ seeBooking.children }}">
      </div>
      <div class="w3-col l4 m4 s4">
        <label><i class="far fa-smile"></i> Bébé</label>
         <input class="w3-input w3-border" readonly value="{{ seeBooking.baby }}">
      </div>
      <div class="w3-col l4 m4 s12">
        <label><i class="fas fa-user-cog"></i> Alterar Estado</label>
        <select id='bookingstatus_status' name="status" class="w3-input w3-white w3-border" style="height:45px">
          <option value='{{ seeBooking.status }}'>{{ seeBooking.status }}</option>
          <option class="w3-text-blue bolder" value='CANCELED'>CANCELED</option>
          <option class="w3-text-green bolder" value='CONFIRMED'>CONFIRMED</option>
          <option class="w3-text-red bolder" value='PENDING'>PENDING</option>
        </select> 
      </div>
      <div class="w3-col l12 s12">
        <label><i class="fas fa-notes-medical"></i> Notas</label>
        <div id="editor" class="w3-col s12 w3-white" style="height:150px">
        {{ seeBooking.notes | raw }}
        </div>
      </div>
      <div class="w3-col l3 m6 s12">
        <label><i class="fas fa-paste"></i> Texto Fácil</label>
        <select id="booking_easy_text" onchange="setEasyText($(this).find(':selected').data('quill'))" class="w3-input w3-white NOTES w3-border" style="height:45px">
          <option data-html='' data-quill=''>Escolha </option>
         {% for easytext in seeBooking.easyText%}
          <option value="{{ easytext.id }}" data-html="{{ easytext.easytexthtml }}" data-quill="{{ easytext.easytext }}" >{{easytext.name}}</option>
         {% endfor %}
        </select>
      </div>
      <div class="w3-col s12 w3-border-bottom">&nbsp;</div>
    </form>

<script>

function setEasyText(v){
  quill.setContents(v)
}

$('#bookingstatus').on('submit',function(e){
  $('.w3-overlay').show()
  var html = ''
  e.preventDefault()
  setTimeout(function(){
    $.ajax({  
      url:'{{ path('admin_booking_send_status') }}',
      type: "POST",
      data:$('#bookingstatus').serialize()+'&notes='+quill.root.innerHTML,
      success: function(data){
        $('.w3-overlay').hide()
        if (data.status == 1){

          $("#modal-booking-set-status").hide()

          if(data.data.status == 'CANCELED') 
            c = 'w3-blue'
          else if(data.data.status == 'CONFIRMED')
            c = 'w3-green'
          else
            c = 'w3-red'

          setTimeout(function(){
            table.cell({row:data.data.index, column:1}).data(data.data.status)
            table.row(data.data.index).draw()
          }, 750)
          setTimeout(function(){
            $('tr#'+data.data.id).addClass('blink w3-pale-green')
            $('#btn-'+data.data.id).removeClass('w3-red w3-blue w3-green').addClass('w3-white')
          }, 1000)

          setTimeout(function(){
            $('tr#'+data.data.id).removeClass('blink w3-pale-green')
            $('#btn-'+data.data.id).addClass(c).removeClass('w3-white')
          }, 5000)

          
          if (data.stock_it == 1){
            $('#modal-success').show()
            html += data.message+'<br>Reserva #'+data.data.id+' foi cancelada e o stock resposto nas disponibilidades.<br> Se a reserva se encontra em canceled, e mudar para outro estado.<br><span class="w3-text-red">NÃO muda as disponibilidades,<br>NÃO retira do stock.</span>'
            $('.success-message').html(html).addClass('w3-center w3-large')
          }
        }
        else{
          $('#modal-success').show()
          html += data.message+'<br>' 
          $('.success-message').html(html).addClass('w3-center w3-large')
        }
      },
      error:function(data){
        $('.w3-overlay').hide()
        $('#modal-error').show()
      }
    })
  }, 500)
})

 delta =''

var quill = new Quill('#editor', {
 modules: {
    toolbar: [
      ['bold', 'italic'],
      [{ 'header': [4, 3, 2, 1, false] }],
      ['link', 'blockquote', 'code-block', 'image', 'video'],
      [{ list: 'ordered' }, { list: 'bullet' }],
      [{ color:  [] }, { background: [] }],
    ],
     imageResize: {
        displaySize: true,
        handleStyles: {
         backgroundColor: 'black',
         border: 'none'
                // other camelCase styles for size display
            }
    }
  },
  placeholder: 'Insira Texto Fácil.....',
  theme: 'snow'  // or 'bubble',

})
</script>
