    <script src="{{ asset('js/image-resize.min.js') }}"></script>

    <style>
    /*.setflag{background:url({{ asset('images/') }}{{ seeBooking.language }}.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover}*/
    .icon{background:url({{ asset('images/icon-') }}{{ seeBooking.language }}.jpg);
    height: 48px;width: 48px;background-size: contain}
    </style>

    <form id="bookingstatus" class="w3-col w3-row-padding">
      <div class="w3-col l4 m6 s12">
        <input type="hidden" id="bookingstatus_id" name="bookingstatusId">
        <label><i class="fas fa-user-tie"></i> Nome</label>
        <input class="w3-input w3-border" readonly value="{{ seeBooking.username }}">
      </div>
      <div class="w3-col l4 m6 s12">
        <label><i class="fas fa-phone-square"></i> Telefone</label>
        <input class="w3-input w3-border" readonly value="{{ seeBooking.telephone }}">
      </div>
      <div class="w3-col l4 m5 s12">
        <label style="color:#05788d"><i class="fas fa-envelope-square"></i> Email</label>
        <input id="bookingstatus_email" name="email" class="w3-input w3-border EMAIL" placeholder="Email" value="{{ seeBooking.email }}">
      </div>
      <div class="w3-col l4 m7 s12">
        <label><i class="fas fa-address-card"></i> Morada</label>
        <input class="w3-input w3-border" readonly value="{{ seeBooking.address }}">
      </div>
      <div class="w3-col l8 s12">
        <label><i class="fas fa-ship"></i> Tour</label>
        <input class="w3-input w3-border" readonly value="{{ seeBooking.tour }}">
      </div>
      <div class="w3-col l4 m4 s12">
        <label><i class="fas fa-calendar-check"></i> Data</label>
        <input class="w3-input w3-border" readonly value="{{ seeBooking.date }}">
      </div>
      <div class="w3-col l4 m4 s12">
        <label><i class="fas fa-clock"></i> Hora</label>
        <input class="w3-input w3-border" readonly value="{{ seeBooking.hour }}">
      </div>
      <div class="w3-col l4 m4 s4">
        <label><i class="far fa-user"></i> Adulto</label>
         <input class="w3-input w3-border" readonly value="{{ seeBooking.adult }}">
      </div>
      <div class="w3-col l4 m4 s4">
        <label><i class="fas fa-child"></i> Criança</label>
         <input class="w3-input w3-border" readonly value="{{ seeBooking.children }}">
      </div>
      <div class="w3-col l4 m4 s4">
        <label><i class="far fa-smile"></i> Bébé</label>
         <input class="w3-input w3-border" readonly value="{{ seeBooking.baby }}">
      </div>
      <div class="w3-col l4 m4 s12">
        <label style="color:#05788d"><i class="fas fa-user-cog"></i> Alterar Estado</label>
        <select id='bookingstatus_status' name="status" class="w3-input w3-border" style="height: 50px">
          <option value='{{ seeBooking.status }}'>{{ seeBooking.status }}</option>
          <option value='CANCELED'>CANCELED</option>
          <option value='CONFIRMED'>CONFIRMED</option>
          <option value='PENDING'>PENDING</option>
        </select> 
      </div>
      <div class="w3-col l12 s12">
        <label><i class="fas fa-signal"></i> Mensagem</label>
         <textarea class="w3-input w3-border" readonly>{{ seeBooking.message}}</textarea>
      </div>
      <div class="w3-col l12 s12">
        <label style="color:#05788d"><i class="fas fa-notes-medical"></i> Notas</label>
        <div id="editor" class="w3-col s12 w3-sand" style="height: 375px">
        {{ seeBooking.notes | raw }}
        </div>
      </div>
      <div class="w3-col l3 m6 s12">
        <label style="color:#05788d"><i class="fas fa-paste"></i> Texto Fácil</label>
        <select id="booking_easy_text" onchange="setEasyText($(this).find(':selected').data('quill'))" class="w3-input NOTES w3-border" style="height: 50px">
          <option data-html='' data-quill=''>Escolha </option>
         {% for easytext in seeBooking.easyText%}
          <option value="{{ easytext.id }}" data-html="{{ easytext.easytexthtml }}" data-quill="{{ easytext.easytext }}" >{{easytext.name}}</option>
         {% endfor %}
        </select>
      </div>
      <div class="w3-col s12 w3-border-bottom">&nbsp;</div>
    </form>

<script>

function setEasyText(v){
  quill.setContents(v)
}

$('#bookingstatus').on('submit',function(e){
  $('.w3-overlay').show()
  e.preventDefault()
  //console.log($('#bookingstatus').serialize())
  setTimeout(function(){
    $.ajax({  
      url:'{{ path('admin_booking_send_status') }}',
      type: "POST",
      data:$('#bookingstatus').serialize()+'&notes='+quill.root.innerHTML,
      success: function(data){
        $('.w3-overlay').hide()
        searchValue()
        $("#modal-booking-set-status").hide()
      },
      error:function(data){
        $('.w3-overlay').hide()
        $('#modal-error').show()
      }
    })
  }, 500)
})

 delta =''

var quill = new Quill('#editor', {
 modules: {
    toolbar: [
      ['bold', 'italic'],
      [{ 'header': [4, 3, 2, 1, false] }],
      ['link', 'blockquote', 'code-block', 'image', 'video'],
      [{ list: 'ordered' }, { list: 'bullet' }],
      [{ color:  [] }, { background: [] }],
    ],
     imageResize: {
        displaySize: true,
        handleStyles: {
         backgroundColor: 'black',
         border: 'none'
                // other camelCase styles for size display
            }
    }
  },
  placeholder: 'Insira Texto Fácil.....',
  theme: 'snow'  // or 'bubble',

})






</script>
