
<link href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
<style>
li { list-style-type:none}
ul{padding: 0px}
.timepicker{background:#FFF;border:1px solid #DDD;padding: 8px 0px}
.bootstrap-datetimepicker-widget table td span {border-radius: 0px}
.bootstrap-datetimepicker-widget table td span:hover {background: #DDD}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {border: 0px solid #FFF!important}
.w3-input {border-bottom: 0px solid #05788d}
input, select{color: #000!important}

</style>
<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-tags"></i> Categoria <i class="far fa-plus-square fa-fw"></i></b></h5>
</header>

<div class="w3-container w3-padding-16">
  
  {{ form_start(form, {'attr': {'id': 'category-form'}})  }}

  <div class="w3-row w3-border w3-sand">

    <div class="w3-row-padding">
      <div class="w3-col s12 w3-center w3-text-indigo"><h3>Especificações</h3></div>
      <div class="w3-col s4 l2 m2 w3-margin-bottom" title="Em destaque no banner">
        {{ form_label(form.highlight)}}<br>
        {{ form_widget(form.highlight)}}
      </div>
      <div class="w3-col s4 l2 m2 w3-margin-bottom" title="Vamos mostrar esta Categoria aos clientes no site">
        {{ form_label(form.is_active)}}<br>
        {{ form_widget(form.is_active)}} 
      </div>
      <div class="w3-col s4 l1 m2 w3-margin-bottom" title="Veiculo é partilhado diversas compras/reservas individuais?">
        {{ form_label(form.shared)}}<br>
        {{ form_widget(form.shared)}}
      </div>
      <div class="w3-col s12 l2 m3 w3-margin-bottom" title="A duração desta Categoria">
        <div style="position:relative">
          {{ form_label(form.duration) }}
          {{ form_widget(form.duration) }}
        </div>
      </div>
      <div class="w3-col s12 l2 m3 w3-margin-bottom" title="A lotação desta Categoria">
        {{ form_label(form.availability) }}
        {{ form_widget(form.availability) }}
      </div>
      <div class="w3-col s12 l3 m12 w3-center" title="Vamos meter uma imagem para esta categoria">
        <div class="w3-white w3-center w3-margin-bottom w3-border w3-imput w3-section set-image-container w3-padding" style="cursor:pointer" onclick="$('.set-image').trigger('click')">
          <i class="fa fa-camera w3-jumbo" style="color:#05788d"></i>
        </div>
        {{ form_widget(form.image)}}
      </div>
    </div>

    <div class="w3-row-padding">
      <div class="w3-col s12 w3-center w3-text-indigo"><h3>Informações</h3></div>
      <div class="w3-col l6 m6 s12 w3-margin-bottom">
        {{ form_label(form.name_pt) }}
        {{ form_widget(form.name_pt) }}
      </div>
      <div class="w3-col l6 m6 s12 w3-margin-bottom">
        {{ form_label(form.name_en) }}
        {{ form_widget(form.name_en)}}
      </div>
      <div class="w3-col l6 m12 s12 w3-margin-bottom">
        {{ form_label(form.description_pt)}}
        {{ form_widget(form.description_pt)}}
      </div>
      <div class="w3-col l6 m12 s12 w3-margin-bottom">
        {{ form_label(form.description_en)}}
        {{ form_widget(form.description_en)}}
      </div>

      <div class="w3-col l6 m12 s12 w3-margin-bottom not-shared w3-hide">
        <label onclick="viewShortInfo()" style="cursor:pointer" title="Texto que aparece email e pdf, clicar para ver +">Info (PT) <i class="w3-text-blue fa fa-info-circle"></i></label>
        {{ form_widget(form.small_description_pt)}}
      </div>
      <div class="w3-col l6 m12 s12 w3-margin-bottom not-shared w3-hide">
        <label onclick="viewShortInfo()" style="cursor:pointer" title="Texto que aparece email e pdf, clicar para ver +">Info (EN) <i class="w3-text-blue fa fa-info-circle"></i></label>
         {{ form_widget(form.small_description_en)}}
      </div>

    </div>

    <div class="w3-row-padding">
      <div class="w3-col s12 w3-center w3-text-indigo"><h3>Preços</h3></div>
      <div class="w3-col l4 m6 s12 w3-margin-bottom shared">
        {{ form_label(form.children_price)}}
        {{ form_widget(form.children_price)}}
      </div> 
      <div class="w3-col l4 m6 m6 s12 w3-margin-bottom">
        <span class="shared">{{ form_label(form.adult_price)}}</span>
        <label class="not-shared w3-hide">{%trans%}vehicle_price{%endtrans%}</label>
        {{ form_widget(form.adult_price)}}
      </div>
    </div>

    <div class="w3-row-padding">
      <div class="w3-col s12 w3-center w3-text-indigo"><h3>Pagamento</h3></div>
       <div class="w3-col l2 w3-margin-bottom" title="Activar/desativar o pagamento Online de acordo com percentagem do campo Depósito">
        {{ form_label(form.warranty_payment)}}<br>
        {{ form_widget(form.warranty_payment)}}
      </div>
      <div class="w3-col l4 m4 s12 w3-margin-bottom" title="Depósito %">
        {{ form_label(form.deposit) }}
        {{ form_widget(form.deposit) }}
      </div>
    </div>
    <div class="w3-row-padding">
      <div class="w3-col l6 w3-margin-bottom" title="Texto PT a informar o cliente sobre a garantia da pagamento">
        {{ form_label(form.warranty_payment_pt)}}<br>
        {{ form_widget(form.warranty_payment_pt)}}
      </div>
      <div class="w3-col l6 w3-margin-bottom" title="Texto EN a informar o cliente sobre a garantia da pagamento">
        {{ form_label(form.warranty_payment_en)}}<br>
        {{ form_widget(form.warranty_payment_en)}}
      </div>
    </div>

    <div class="w3-row-padding">
      <div class="w3-col s12 w3-center w3-text-indigo"><h3>Eventos</h3></div>
      <div class="w3-col l3 m1 s0 w3-hide-small">&nbsp;</div>
      <div class="w3-col l6 m10 s12">
        <label for="category_name_pt">Horas a q se realiza* </label>
        <textarea class="w3-input w3-border" required readonly id="receive-hour" placeholder="Escolha as horas, no relógio, de quando se realiza o evento" rows="2"></textarea>
        <div class="w3-row-padding w3-margin-top">
          <div class="w3-col s6">
            <span class="w3-btn w3-border w3-block w3-white" id="clear-hour"><i class="fa fa-eraser"></i> Limpar</span>
          </div>
          <div class="w3-col s6">
            <span class="w3-btn w3-block w3-border w3-light-green" id="add-hour">
              <i class="fa fa-check"></i> <span class="w3-hide-small">Adicionar</span> Hora
            </span>
          </div>
        </div>

        <div class="w3-col s12">
          <div style="position:relative" class="w3-padding">
            <input type="text" class="w3-hide" id="datetimepicker3">
          </div>
        </div>
        {{ form_widget(form.event)}}
      </div>

      {{ form_widget(form.blockdate)}}
      
      <div class="w3-hide">
        {{ form_widget(form.submit)}}
      </div>
    </div>

      <div class="w3-col s12 w3-margin-top w3-margin-bottom w3-border-top">
        <span class="w3-btn w3-border w3-green w3-right w3-margin-top" onclick="$('#category-form').trigger('submit')">
            <i class="fa fa-check"></i> Guardar
          </span>
      </div>

  </div>
      {{ form_end(form) }}
  </div>

<script src="{{ asset('js/moment-with-locales.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>

<script>

  var loadFile = function(event) {
    $('.set-image-container').html('<img id="output" class="w3-image w3-animate-zoom">')
    var output = document.getElementById('output')
    output.src = URL.createObjectURL(event.target.files[0])
  }

hoursn = []
uniquen = []
position = 0

eventObj = $('#category_event').data("prototype")
blockdateObj = $('#category_blockdate').data("prototype")

$('#category_event').html('<div class="w3-hide">'+eventObj+'</div>')

$('#category_blockdate').html('<div class="w3-hide">'+blockdateObj+'</div>')

$('#clear-hour').click(function(){
  hoursn = []
  uniquen = []
  $('#receive-hour').text('')
  $('#category_event___name___event').val('')
})

$('#add-hour').click(function(){
  hoursn.push($('.timepicker-hour').text()+':'+$('.timepicker-minute').text())

  $.each(hoursn, function(i, el){
    if($.inArray(el, uniquen) === -1) uniquen.push(el)
  })

  $('#receive-hour').text(uniquen)
  $('#category_event___name___event').val(uniquen)
  $('#category_blockdate___name___event').val(uniquen)
})

$('#datetimepicker3').datetimepicker({keepOpen: true,format: 'H:m',stepping:5,inline: true,sideBySide:true, icons: {
  time: "fa fa-clock-o",
  date: "fa fa-calendar",
  up: "fa fa-chevron-up",
  down: "fa fa-chevron-down"
  }
})

$('#category_duration').datetimepicker({format: 'HH:mm', ignoreReadonly:true ,icons: {
  time: "fa fa-clock-o",
  date: "fa fa-calendar",
  up: "fa fa-chevron-up",
  down: "fa fa-chevron-down"
  }
}).val('00:00')



  $('#category-form').on('submit',function(e){
  obj=''
  e.preventDefault()
  $('.w3-overlay').show()
  $('.required').addClass('w3-hide')
  //setTimeout(function(){
    $.ajax({  
      url:'{{ path('admin_category_add') }}',
      type: "POST",
      data: new FormData($(this)[0]),
      processData: false,
      contentType: false,
      cache: false,
      success: function(data){  
        $('.w3-overlay').hide()
        //console.log(data)
        if (data.message == 'success'){
          //$('#datetimepicker3').data('DateTimePicker').destroy()
          ajaxUpload('category-list')
        }
        else if (data.message=='fail'){
          for(i=0;i<data.data.length;i++)
            obj += data.data[i]+'<br>'
          $('#set-fields').html(obj)

          $('#modal-fields').show()
        }
      },
      error:function(data){
        $('.w3-overlay').hide()
        $('#modal-error').show()
      }
    })
  //}, 500)
})

setTimeout(function(){ $('#category_shared').prop( "checked", true )}, 0);

function setShared(){
  if($('#category_shared').is(":checked")){
    $('.shared').removeClass('w3-hide') 
    $('.not-shared').addClass('w3-hide')
  }
  else{
    $('.shared').addClass('w3-hide') 
    $('.not-shared').removeClass('w3-hide')
  }
}


  function viewShortInfo(){
    $('.w3-overlay').show()
    window.open('/images/short_info.jpg','window','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,directories=no,width=550,height=450');
    setTimeout(function(){ 
      $('.w3-overlay').hide()
    }, 500)
  }

</script>

