
<style>

 .dt-button{background: #FFF;border:1px solid #ccc;
 display: inline-block; padding: 8px 16px; vertical-align: middle;overflow: hidden;text-decoration: none; color: inherit;
    background-color: inherit;text-align: center; cursor: pointer; white-space: nowrap;color: #000!important;background-color: #87CEEB!important;font-size:18px}
select.input-sm, input .form-control .input-sm {height: 36px}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    height: 24px;width: 24px;border-radius: 16px; text-align: center;line-height: 23px;font-size: 24px;border-radius: 0px;border: 1px solid #ddd;box-shadow: 0 0 0 #000}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child {padding-left: 38px}
.dt-button-collection{ width:100%;background: rgba(0,0,0,0.3);position: fixed;left:0px;padding: 96px 16px; z-index:99999;margin-top: 0px!important;top:0px}

.w3-input {border-bottom: 0px solid #05788d}
input, select, textarea {color: #000!important}
.form-control{ border: 1px solid #ccc!important;height: 50px;padding: 0px 0px 0px 4px;padding-bottom: 0px}
div.dataTables_length select {height: 50px}
table.dt-rowReorder-float{position:absolute !important;opacity:0.8;table-layout:fixed;outline:2px solid #888;outline-offset:-2px;z-index:2001}tr.dt-rowReorder-moving{outline:2px solid #555;outline-offset:-2px}body.dt-rowReorder-noOverflow{overflow-x:hidden}table.dataTable td.reorder{text-align:center;cursor:move}
table.dataTable thead > tr > th {padding-left: 8px!important}
.grabbing {cursor: -webkit-grabbing; cursor: grabbing}
</style>

<header class="w3-container" style="padding-top:22px">
   <h5><b><i class="far fa-edit fa-fw"></i> Categorias</b></h5>
</header>
<div class="w3-row-padding">
  <div class="w3-col s12">

  <div style="overflow-x:auto">

  <table id="dataTable" class="w3-border table table-striped centered hover table-bordered" style="width:100%">
    <thead class="w3-sand">
      <tr>
      <th class="w3-center">Ord</th>
      <th class="">#</th>
      <th class="w3-center">Acções</th>    
      <th class="w3-center">Nome PT</th>    
      <th class="w3-center">Nome EN</th>    
      <th class="w3-center">Preço Adulto</th>    
      <th class="w3-center">Preço Criança</th>    
      <th class="w3-center">Descriçao PT</th>    
      <th class="w3-center">Descriçao EN</th>    
      <th class="w3-center">Horas</th>    
      <th class="w3-center">Activo</th>
      <th class="w3-center">Destaque</th>
      <th class="w3-center">Lotação</th>
      <th class="w3-center">Duração</th>
      <th class="w3-center">Gart.Pag.</th>
      <th class="w3-center">Gart.Pag.PT</th>
      <th class="w3-center">Gart.Pag.EN</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories%}
       <tr>
        <td class="grabbing">{{category.order}}</td>
        <td>{{category.id}}</td>
        <td>
          <div style="width:154px;min-width:154px">
          <span class="w3-tooltip">
            <span style="position:absolute;left:0;bottom:32px" class="w3-round w3-text w3-tag">Editar a categoria</span>
            <button class="w3-btn w3-border w3-blue w3-tooltip" style="width: 13px" onclick="editCategory({{category.id}},'{{ category.namePt}}')"> 
              <i class="far fa-edit fa-fw"></i>
            </button>
          </span>
          <span class="w3-tooltip">
            <span style="position:absolute;left:0;bottom:32px" class="w3-round w3-text w3-tag">Apagar a categoria</span>
          <button class="w3-btn w3-border w3-red" style="width: 13px" onclick="deleteCategoryConfirm({{category.id}},'{{ category.namePt }}')">
            <i class="fas fa-trash-alt"></i>
          </button>
        </span>
        <span class="w3-tooltip">
            <span style="position:absolute;left:0;bottom:32px" class="w3-round w3-text w3-tag">Adicionar disponibilidade</span>
            <button class="w3-btn w3-border w3-indigo" onclick="addAvailable({{category.id}},'{{ category.namePt}}')">
              <i class="far fa-calendar-check"></i>
            </button>
          </span>
        </div>
        </td>
        <td>{{ category.namePt }}</td>
        <td>{{ category.nameEn }}</td>
        <td class="w3-center">{{ category.adultAmount}}</td>
        <td class="w3-center">{{ category.childrenAmount}}</td>
        <td>{{ category.descriptionPt }}</td>
        <td>{{ category.descriptionEn }}</td>
        <td>{{ category.event }}</td>
        <td class="w3-center">
          {% if category.isActive == 1 %}
            <i class="w3-text-green w3-xlarge fas fa-check-circle"></i>
          {% else %}
            <i class="w3-text-red w3-xlarge fas fa-times-circle"></i>
          {% endif %}
        </td>
         <td class="w3-center">
          {% if category.highLight == 1 %}
            <i class="w3-text-green w3-xlarge fas fa-check-circle"></i>
          {% else %}
            <i class="w3-text-red w3-xlarge fas fa-times-circle"></i>
          {% endif %}
        </td>
        <td class="w3-right-align">{{ category.availability }}</td>
        <td class="w3-right-align">{{ category.duration }}</td>
        <td class="w3-center">
          {% if category.warrantyPayment == 1 %}
            <i class="w3-text-green w3-xlarge fas fa-check-circle"></i>
          {% else %}
            <i class="w3-text-red w3-xlarge fas fa-times-circle"></i>
          {% endif %}
        </td>
        <td>{{ category.warrantyPaymentPt }}</td>
        <td>{{ category.warrantyPaymentEn }}</td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot class="w3-sand">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
</div>
</div>

<script>
 /*
tablecategory = [2,4,5]

if(!localStorage.getItem("tablecategory") ){
  localStorage.setItem("tablecategory", JSON.stringify(tablecategory))
  stored = JSON.parse(localStorage.getItem("tablecategory"))
}
else
  stored = JSON.parse(localStorage.getItem("tablecategory"))
*/

function addAvailable(id,name){
  $('.w3-overlay').show()
  setTimeout(function(){
  $.ajax({  
    url:'{{ path("admin_available_new") }}',
    type: "POST",
    data:'id='+id,
    success: function(data){
      //console.log(data)
      $('.w3-overlay').hide()
      $('#set-id-available').text(name)
      $('#set-available').html(data)
      $('#modal-new-available').show()
      if (data.message == 'success'){
      }
    },
    error:function(data){
      $('.w3-overlay').hide()
      $('#modal-error').show()
    }
  })
  }, 500)
}

stored = tablecategory = [1, 4, 7, 8, 15, 16]

function editCategory(id, name){
  $('.w3-overlay').show()
  setTimeout(function(){
  $.ajax({  
    url:'{{ path('admin_category_show_edit') }}',
    type: "POST",
    data:'id='+id,
    success: function(data){
      $('.w3-overlay').hide()
      $('#set-id').text(name)
      $('#set-category').html(data)
      $('#modal-edit-category').show()
    },
    error:function(data){
      $('.w3-overlay').hide()
      $('#modal-error').show()
    }
  })
  }, 500)
}


function deleteCategoryConfirm(id,n){
  $('#delete-category').html('<p class="w3-center w3-large">Tem a certeza que pretende apagar a categoria, <b>'+n+'</b> ?</p>')
  $('#delete-id').val(id)
  $('#modal-delete-category').show()
}

function deleteCategory(id){
  $('.w3-overlay').show()
  setTimeout(function(){
  $.ajax({  
    url:'{{ path('admin_category_delete') }}',
    type: "POST",
    data:'id='+id,
    success: function(data){
      $('.w3-overlay').hide()
      console.log(data)
      $('#modal-delete-category').hide()
      if (data.status == 1){
        ajaxUpload('category-list')
      }
      else{
        $('#info-client').show()                
        $('#info-client-head').removeClass('w3-green w3-red w3-amber').addClass('w3-blue').html('<span onclick="$(\'#info-client\').hide()" class="w3-button w3-display-topright w3-large"><i class="fa fa-times"></i></span><h1><i class="fa fa-info-circle"></i> Verifique</h1>')
        $('#client-txt').html(data.message)
      }
    },
    error:function(data){
      $('.w3-overlay').hide()
      $('#modal-error').show()
    }
  })
}, 500)
}

$(function(){

  table = $('#dataTable').DataTable({
    dom: 'lBfrtip',
    rowReorder: true,
    buttons: [
        {
        extend:    'excelHtml5',
        text:      '<i class="far fa-file-excel"></i>',
        titleAttr: 'Excel',
        exportOptions: {
          columns: ':visible'
          }
        },
        {
        extend:    'pdfHtml5',
        text:      '<i class="far fa-file-pdf"></i>',
        titleAttr: 'PDF',
        exportOptions: {
          columns: ':visible'
          },
          customize: function (doc) {
            //doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('')
              doc['footer']=(function(page, pages) {
                return {
                  columns: [
                    {
                      alignment: 'right',
                      text: ['']
                    },
                  ],
                  margin: 20
                }
              })
            }
        },
        {
        extend: 'colvis',
        columns: ':gt(0)',
        text:      '<i class="far fa-eye-slash"></i>',
        titleAttr: 'Colunas',
        exportOptions: {
          columns: ':visible' // [ 0, 1, 2, 3, 4, 5]
        }
      }
    ],
    columnDefs: [
      //{ className:"my_class", "targets": [4] },
      //{ "orderData":[ 2 ], "targets": [ 3 ] },
        {
          "targets": stored,
          "visible": false
          //"searchable": false
        }
    ],
    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      responsive: false,
      searching: true,
      language: {
        "lengthMenu": "Mostrar _MENU_ por pagina",
        "zeroRecords": "0 Resultados",
        "info": "Mostrar _PAGE_ de _PAGES_",
        "infoEmpty": "Sem resultados",
        "search": "Pesquisar",
        "paginate": {
        "previous": "Anterior",
        "next": "Seguinte",
      }
    }
  })
  $('#dataTable_length, .dt-buttons').addClass('w3-center w3-col s12 m6 l4 w3-section')
  $('#dataTable_filter').addClass('w3-col s8 m12 l4 w3-center w3-section')

  table.on( 'row-reorder', function ( e, diff, edit ) {
    var result = []
    for ( var i=0, ien=diff.length ; i<ien ; i++ ) {
      var rowData = table.row( diff[i].node ).data()  
      result.push({'id':rowData[1],'from':diff[i].oldData,'to':diff[i].newData})
    }
    //console.log(result)

    if (result.length>0){

      $.ajax({  
        url:'{{ path('admin_category_order') }}',
        type: "POST",
        data:'result='+JSON.stringify(result),
        dataType: 'json',
        success: function(data){
          $('.w3-overlay').hide()
          //console.log(data)
          if (data.status != 1){
            $('#info-client').show()                
            $('#info-client-head').removeClass('w3-green w3-red w3-amber').addClass('w3-blue').html('<span onclick="$(\'#info-client\').hide()" class="w3-button w3-display-topright w3-large"><i class="fa fa-times"></i></span><h1><i class="fa fa-info-circle"></i> Verifique</h1>')
          $('#client-txt').html('Não foi possivel mudar a ordem. Tente novamente!')
          }
        },
        error:function(data){
          $('.w3-overlay').hide()
          $('#modal-error').show()
        }
      })
    }
  })
})





</script>
