
{% extends "admin/p-base.html.twig" %}

{% block content %}

<script src="https://js.stripe.com/v3/"></script>

<style>
.w3-input{border-bottom: 3px solid #3f51b5; color: #3f51b5!important;font-weight:bold}
.StripeElement{height: 45px;padding: 11px 12px;background-color: #fdf5e6; border-bottom: 3px solid #3f51b5}
.StripeElement--focus{box-shadow: 0 1px 3px 0 #cfd7df}
.StripeElement--invalid{border-color: #fa755a}
.StripeElement--webkit-autofill{background-color: #fefde5 !important}
::-webkit-input-placeholder {opacity: 0.3}
::-moz-placeholder {opacity: 0.3}
:-ms-input-placeholder{opacity: 0.3}
:-moz-placeholder {opacity: 0.3}
</style>

<form id="payment-form">
<div class="w3-container">

<div class="w3-xxlarge w3-row w3-xlarge w3-padding w3-margin-top">
  <i class="fa fa-money fa-fw"></i> Extra
</div>

  <div class="w3-row-padding w3-card-2 w3-sand w3-padding w3-large w3-margin-bottom" style="max-width:600px;margin:0 auto">
    
    <div class="w3-col s12 w3-xlarge validate-no-show">
      <label>{{translator.local}}</label>
      <label class="w3-small required w3-hide w3-right w3-text-red">Local</label>
      <select name="locale" class="w3-input">
      {%for local in locales%}
      <option value="{{local.name}}">{{local.name}}</option>
      {%endfor%}
      </select>
    </div>
    
    <div class="w3-col s12 w3-xlarge">
      <label class="text-description">{{translator.description}}</label>
      <label class="w3-small required text-required w3-hide w3-right w3-text-red"></label>
      <input type="text" name="description" class="w3-input" placeholder="{{translator.description}}">
      <span class="description"></span>
    </div>

    <div class="w3-col s12 w3-xlarge add-border">
      <label class="text-amount">{{translator.amount}}</label>
      <label class="w3-small required text-required w3-hide w3-right w3-text-red"></label>
      <input type="number" step="any" name="amount" class="w3-input" placeholder="Min: 0.50, Máx:5000.00">
      <span class="amount w3-right"></span>
    </div>

    <div class="w3-col s12 w3-right w3-margin-top no-show">
      <span class="w3-button admin-validate w3-block w3-blue w3-border w3-right w3-margin-bottom" onclick="validatePayment()">
        <span class="text-next">{{translator.next}}</span> <i class="fa fa-chevron-right"></i>
      </span>
      
      <p class="w3-hide validate-show">
        <i class="fa fa-info-circle w3-text-blue"></i> Clique no botão Validar para criar um pagamento com base na Descrição e Montante inseridos.<br> O cliente preenche/faculta os campos seguintes. 
      </p>
      <span class="w3-button text-validate w3-block w3-hide w3-green w3-border w3-right w3-margin-bottom" onclick="showUserToProceed()">
        {{translator.validate}} <i class="fa fa-check"></i>
      </span>
    </div>

    <div class="w3-col s12 show w3-xlarge w3-hide w3-margin-top">
      <label class="text-name">{{translator.name}} </label><span class="w3-text-red w3-xxlarge">*</span>
      <input type="text" name="name" class="u-name w3-input" placeholder="{{translator.name}} *">
      <span class="name"></span>
    </div>

    <div class="w3-col s12 show w3-xlarge w3-hide">
      <label>Email </span></label><span class="w3-text-red w3-xxlarge">*</span>
      <input type="text" name="email" class="u-email w3-input" placeholder="Email *">
       <span class="email"></span>
    </div>
    <div class="w3-col s12 show w3-xlarge w3-hide">
      <label class="text-phone">{{translator.phone}} </label><span class="w3-text-red w3-xxlarge">*</span>
      <input type="number" class="u-phone w3-input" name="phone" placeholder="{{translator.phone}} *">
      <span class="phone"></span>
    </div>

    <div class="w3-col s12 w3-margin-top w3-hide is-user-validated w3-xlarge w3-border-top">
        <label class="text-insert_card_n">{{translator.insert_card_n}} </label><span class="w3-text-red w3-xxlarge">*</span>
        <div id="card-element" class="w3-input" style="padding: 10px 8px"></div>
        <div id="card-errors" class="w3-text-red w3-small" role="alert"></div>
        <div class="set-token"></div>
    </div>

    <div class="w3-col s12 w3-margin-top show not-user-validated w3-hide">
      <span class="w3-button user w3-block w3-blue w3-border w3-right w3-margin-bottom" onclick="validateUserData()">
        <span class="text-next">{{translator.next}}</span> <i class="fa fa-chevron-right"></i>
      </span>
    </div>

    <div class="w3-col s12 w3-margin-top w3-hide is-user-validated">
      <span class="w3-button w3-block w3-green w3-border w3-right w3-margin-bottom" id="card-button" data-secret="{{payment_intent.data.client_secret}}" onclick="buyNow()">
      <i class="fa fa-check"></i><span class="text-pay_now"> {{translator.pay_now}}</span>
        </span>
    </div>
  </div>
</div>
</form>
<script>

text=[]

function validatePayment(){
  var html = ''
  $('.w3-overlay').show()

  setTimeout(function(){
  $.ajax({
      url :'{{ path('validate_extra_payment')}}',
      type: "POST",
      cache: false,
      data: $('#payment-form').serialize(),
      success: function(data){
        //console.log(data)
        $('.w3-overlay').hide()
        if (data.status == 1){
          //console.log(data)
          $('.text-validate, .validate-show').removeClass('w3-hide')
          $('.admin-validate, .text-next.admin, .validate-no-show').addClass('w3-hide')
          text = data.data.text
          $('input[name=description]').removeAttr('type','text').attr('type','hidden')
          $('input[name=amount]').removeAttr('type','number').attr('type','hidden')
          $('.description').text(data.data.payment.description)
          $('.amount').text(parseFloat(data.data.payment.amount).toFixed(2)+'{{company.currency.currency}}')

        }
        else if (data.status == 2){
          for (var k in data.data)
            html+= data.data[k]+'<br>'
          modalConditions(1, html, '{{translator.check}}') 
        }
        else{
          modalConditions(1, data.message, '{{translator.check}}') 
        }
      },
      error:function(data){
        $('.w3-overlay').hide()
        modalConditions(2, '{{translator.wifi_error}}', '{{translator.error}}')
      }
    })
  }, 500)
}

function showUserToProceed(){
  $('.add-border').addClass('w3-border-bottom')
  $('.show').removeClass('w3-hide')
  $('.no-show, .validate-show').addClass('w3-hide')
  $('.text-validate').text(text.validate)
  $('.text-description').text(text.description)
  $('.text-phone').text(text.phone)
  $('.text-next').text(text.next)
  $('.text-insert_card_n').text(text.insert_card_n)
  $('.text-amount').text(text.amount)
  $('.text-name').text(text.name)
  $('.text-pay_now').text(text.pay_now)
}

function validateUserData(){
  var html = ''
  $('.w3-overlay').show()
  setTimeout(function(){

  $.ajax({  
      url :'{{ path('validate_user_data')}}',
      type: "POST",
      cache: false,
      data: $('#payment-form').serialize(),
      success: function(data){
        //console.log(data)
        $('.w3-overlay').hide()
        if (data.status == 1){
          //console.log(data)
          $('.is-user-validated').removeClass('w3-hide')
          $('.not-user-validated').addClass('w3-hide')
          $('input[name=name]').removeAttr('type','text').attr('type','hidden')
          $('input[name=email]').removeAttr('type','text').attr('type','hidden')
          $('input[name=phone]').removeAttr('type','number').attr('type','hidden')
          $('.name').text( $('input[name=name]').val())
          $('.email').text( $('input[name=email]').val())
          $('.phone').text( $('input[name=phone]').val())

        }
        else if (data.status == 2){
          for (var k in data.data)
            html+= data.data[k]+'<br>'
          modalConditions(1, html, '{{translator.check}}') 
        }
        else{
          modalConditions(1, data.message, '{{translator.check}}') 
        }
      },
      error:function(data){
        $('.w3-overlay').hide()
        modalConditions(2, '{{translator.wifi_error}}', '{{translator.error}}')
      }
    })
  }, 500)
}

$(document).ready(function(){
  buildStripe(key)
});

  var key = '{{company.stripePK}}'
  var stripe = ''
  var elements = ''
  var style = ''
  var card = ''
  var displayError = ''

  function buildStripe(k){
    
    if (k){
      stripe = Stripe(k)
      elements = stripe.elements()
      style = {
        base: {
          color: '#32325d',
          fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
          fontSmoothing: 'antialiased',
          fontSize: '18px',
          '::placeholder': {
            color: '#aab7c4'
          }
        },
        invalid: {
          color: '#fa755a',
          iconColor: '#fa755a'
        }
      }
      $('#card-errors').empty()
      card = elements.create('card', {hidePostalCode: true, style: style})
      card.mount('#card-element');
      card.addEventListener('change', function(event) {
        displayError = document.getElementById('card-errors')
        displayError.textContent = event.error ? event.error.message: ''
      })
    }
  }

  function handleCard(){
    stripe.handleCardPayment($('#card-button').data('secret'), card,{
      payment_method_data: {
        billing_details: {
          name: $('.u-name').val(),
          email: $('.u-email').val(),
          phone: $('.u-phone').val()
        }
      },
      receipt_email: $('.u-email').val()
    }
    ).then(function(result) {
      if (result.error) {
        $('.w3-overlay').hide()
        modalConditions(1, result.error.message, '{{translator.check}}') 
      } 
      else
        getUrlReceipt(result.paymentIntent.id)   
    })
  }

  //pi_id = payment_intent_id
  function getUrlReceipt(pi_id){
      $.ajax({  
      url :'{{ path('get_charge_extra_payment')}}',
      type: "POST",
      cache: false,
      data: 'pi_id='+pi_id,
      success: function(data){
        $('.w3-overlay').hide()
        //console.log(data)
        if (data.status == 1){
          info = data.data.data.data[0]
          $('#payment-form').trigger('reset')
          modalConditions (0, '<div class="w3-center w3-large"><a class="w3-button w3-border w3-blue w3-round" target="_blank" href='+info.receipt_url+'>{{translator.receipt}}</a></div>', '{{translator.success}}')
          $('.paylog, iframe, .is-user-validated').remove()

        }
        else{
          modalConditions(1, data.message, text.check) 
        }
      },
      error:function(data){
        $('.w3-overlay').hide()
        modalConditions(2, text.wifi_error, text.error)
      }
    })
  }

function buyNow(){
    $('#card-errors').empty()
    $('.w3-overlay').show()
    setTimeout(function(){
      stripe.createToken(card).then(function(result) {
        if (result.error) {
          var errorElement = document.getElementById('card-errors')
          errorElement.textContent = result.error.message
          $('.w3-overlay').hide()
          return
        }
        $.ajax({
          url :'{{ path('charge_extra_payment')}}',
          type: "POST",
          data: $('#payment-form').serialize()+'&secret='+$('#card-button').data('secret'),
          cache: false,
          success: function(data){
            if(data.data != 'succeeded'){
              handleCard()
            }
            else if (data.status == 1){
              $('.w3-overlay').hide()
              $('#payment-form').trigger('reset')
              modalConditions(0, data.message, '{{translator.success}}')
            }
            else{
              $('.w3-overlay').hide()
              modalConditions(1, data.message, '{{translator.check}}') 
            }
          },
          error:function(data){
            modalConditions(2, '{{translator.wifi_error}}', '{{translator.error}}')
          }
        })
      });
    }, 500)
  }


</script>

{% endblock %}