
{% extends "admin/p-base.html.twig" %}

{% block content %}

<script src="https://js.stripe.com/v3/"></script>

<style>
.w3-input{border-bottom: 3px solid #3f51b5}
.StripeElement{height: 45px;padding: 11px 12px;background-color: #fdf5e6; border-bottom: 3px solid #3f51b5}
.StripeElement--focus{box-shadow: 0 1px 3px 0 #cfd7df}
.StripeElement--invalid{border-color: #fa755a}
.StripeElement--webkit-autofill{background-color: #fefde5 !important}
</style>

<form id="payment-form">

<div class="w3-container">

<div class="w3-xxlarge w3-row w3-xlarge w3-padding w3-margin-top">
  <i class="fa fa-money fa-fw"></i> {{translator.payment}} Extra
</div>

  <div class="w3-row-padding w3-card-2 w3-sand w3-padding w3-large" style="max-width:600px;margin:0 auto">
    <div class="w3-col s12 w3-xlarge">
      <label>{{translator.description}}:</label>
      <label class="w3-small required w3-hide w3-right w3-text-red">{{translator.required}}</label>
      <input type="text" name="description" class="w3-input" placeholder="{{translator.description}}">
      <span class="description"></span>
    </div>

    <div class="w3-col s12 w3-xlarge">
      <label>{{translator.amount}}:</label>
      <label class="w3-small required w3-hide w3-right w3-text-red">{{translator.required}}</label>
      <input type="number" step="any" name="amount" class="w3-input" placeholder="Formato 0.00">
      <span class="amount w3-right"></span>
    </div>

    <div class="w3-col s12 w3-right w3-margin-top no-show">
      <span class="w3-button w3-block w3-blue w3-border w3-right w3-margin-bottom" onclick="showUserToProceed()">
        {{translator.next}} <i class="fa fa-chevron-right"></i>
      </span>
    </div>


    <div class="w3-col s12 show w3-xlarge w3-hide">
      <label>Email <span class="w3-text-red w3-xxlarge">*</span></label>
      <input type="text" name="email" class="u-email w3-input" placeholder="Email *">
    </div>
    <div class="w3-col s12 show w3-xlarge w3-hide">
      <label>{{translator.phone}} <span class="w3-text-red w3-xxlarge">*</span></label>
      <input type="text" class="u-phone w3-input" name="phone" placeholder="{{translator.phone}} *">
    </div>
    <div class="w3-col s12 w3-margin-top show w3-xlarge w3-hide">
        <label>{{translator.insert_card_n}} <span class="w3-text-red w3-xxlarge">*</span></label>
        <div id="card-element" class="w3-input" style="padding: 10px 8px"></div>
        <div id="card-errors" class="w3-text-red w3-small" role="alert"></div>
        <div class="set-token"></div>
    </div>
    <div class="w3-col s12 w3-right w3-margin-top show w3-hide">
      <span class="w3-button w3-block w3-green w3-border w3-right w3-margin-bottom" id="card-button" data-secret="{{payment_intent.data.client_secret}}" onclick="buyNow()">
      <i class="fa fa-check"></i> {{translator.pay_now}}
        </span>
    </div>
  </div>
</div>

</form>
<script>

function showUserToProceed(){
  
  $('.required').addClass('w3-hide')
  
  if(!$('input[name=description]').val()){
    $('input[name=description]').prev().removeClass('w3-hide')
    return
  }
  else if(!$('input[name=amount]').val()){
    $('input[name=amount]').prev().removeClass('w3-hide')
    return
  }

  $('.show').removeClass('w3-hide')
  $('.no-show').addClass('w3-hide')
  $('input[name=description]').removeAttr('type','text').attr('type','hidden')
  $('input[name=amount]').removeAttr('type','number').attr('type','hidden')
  $('.description').text($('input[name=description]').val())
  $('.amount').text($('input[name=amount]').val()+'{{company.currency.currency}}')
}

$(document).ready(function(){
  buildStripe(key)
});

  var key = '{{company.stripePK}}'
  var stripe = ''
  var elements = ''
  var style = ''
  var card = ''
  var displayError = ''

  function buildStripe(k){
    
    if (k){
      stripe = Stripe(k)
      elements = stripe.elements()
      style = {
        base: {
          color: '#32325d',
          fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
          fontSmoothing: 'antialiased',
          fontSize: '18px',
          '::placeholder': {
            color: '#aab7c4'
          }
        },
        invalid: {
          color: '#fa755a',
          iconColor: '#fa755a'
        }
      }
      $('#card-errors').empty()
      card = elements.create('card', {hidePostalCode: true, style: style})
      card.mount('#card-element');
      card.addEventListener('change', function(event) {
        displayError = document.getElementById('card-errors')
        displayError.textContent = event.error ? event.error.message: ''
      })
    }
  }

  function handleCard(){
    stripe.handleCardPayment($('#card-button').data('secret'), card,{
      payment_method_data: {
        billing_details: {
          name: $('.u-name').text(),
          email: $('.u-email').text(),
          phone: $('.u-phone').text()
        }
      },
      receipt_email: $('.u-email').text()
    }
    ).then(function(result) {
      if (result.error) {
        $('.w3-overlay').hide()
        modalConditions(1, result.error.message, '{{translator.check}}') 
      } 
      else
        getUrlReceipt(result.paymentIntent.id)   
    })
  }

  //pi_id = payment_intent_id
  function getUrlReceipt(pi_id){
      $.ajax({  
      url :'{{ path('online_get_charge')}}',
      type: "POST",
      cache: false,
      data: 'pi_id='+pi_id,
      success: function(data){
        $('.w3-overlay').hide()
        if (data.status == 1){
          info = data.data.data.data[0]
          console.log(data)
          $('#payment-form').trigger('reset')
          modalConditions (0, data.message.text+' '+data.message.status+'<br><div class="w3-center w3-large"><a class="w3-button w3-border w3-blue w3-round" target="_blank" href='+info.receipt_url+'>{{translator.receipt}}</a></div>', '{{translator.success}}')
          $('.bps').addClass(info.status).text(data.message.status)
          $('.paylog').remove()
        }
        else{
          modalConditions(1, data.message, '{{translator.check}}') 
        }
      },
      error:function(data){
        $('.w3-overlay').hide()
        modalConditions(2, '{{translator.wifi_error}}', '{{translator.error}}')
      }
    })
  }

  function buyNow(){
    $('#card-errors').empty()
    $('.w3-overlay').show()
    setTimeout(function(){
      stripe.createToken(card).then(function(result) {
        if (result.error) {
          var errorElement = document.getElementById('card-errors')
          errorElement.textContent = result.error.message
          $('.w3-overlay').hide()
          return
        }
        $.ajax({
          url :'{{ path('online_charge_credit_card')}}',
          type: "POST",
          data: $('#payment-form').serialize()+'&secret='+$('#card-button').data('secret'),
          cache: false,
          success: function(data){
            if(data.data != 'succeeded'){
              handleCard()
            return
            }
            else if (data.status == 1){
              $('.w3-overlay').hide()
              //buildStripe(key)
              $('#payment-form').trigger('reset')
              modalConditions(0, data.message, '{{translator.success}}')
            }
            else{
              $('.w3-overlay').hide()
              modalConditions(1, data.message, '{{translator.check}}') 
            }
          },
          error:function(data){
            modalConditions(2, '{{translator.wifi_error}}', '{{translator.error}}')
          }
        })
      });
    }, 500)
  }

</script>

{% endblock %}