
<link rel="stylesheet" href="{{ asset('css/full-calendar.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/day-grid-main.min.css') }}">
<script src="{{ asset('js/full-calendar-main.min.js') }}"></script>
<script src="{{ asset('js/day-grid-main.min.js') }}"></script>

<style>
.chart_wrap {position: relative; padding-bottom: inherit;height: 300px}
.chart-container {position: absolute;top: 0;left: 0;width:100%; height:300px}
.fc-unthemed td.fc-today{background:#ddffff}
.fc-day-grid-event .fc-time{display:none}
.fc-event{border-radius:0px}
.fc-event-container{cursor: pointer}
.fc-event, .fc-event:hover{color: #fff!important;padding:2px;font-size: 1em}
.fc-toolbar.fc-header-toolbar {padding: 12px}
.fc-button{border-radius:0px}
.table td, .table th {padding: .3em .4em}
.f-13{font-size:13px}

</style>
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fas fa-tachometer-alt"></i> Painel Controlo</b></h5>
  </header>

  <div class="w3-row-padding">
    <div class="w3-col l6 w3-margin-bottom">
      <header>
        <h3><b>Agendamento Mensal</b></h3>
      </header>

      <div class="w3-card">
        <div id="calendar"></div>
      </div>
    </div>
    <div class="w3-col l6 w3-margin-bottom">
      <header>
        <h3><b>Reservas hoje {{ "now"|date("d/m/Y", "Europe/Lisbon") }}</b></h3>
      </header>
      <div class="w3-card">
        <div class="table-responsive">
          <table class="table">
            <thead class="w3-sand">
              <tr >
                <th class="text-center">#</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Pagamento</th>
                <th class="text-center">Cliente</th>
                <th class="text-center">Desconto</th>
                <th class="text-center w3-text-green">Depósito</th>
                <th class="text-center w3-text-red">Falta</th>
                <th class="text-center w3-text-indigo">Net</th>
              </tr>
            </thead>
            <tbody class="f-13">
          
            {% for b in today %}

              {% if b.paymentStatus == 'canceled' or b.paymentStatus == '' %}
              {%set style="color:#F44336" %}
              {% elseif b.paymentStatus == 'refunded' or b.paymentStatus == 'partial_refund' %}
              {%set style="color:#2196F3" %}
              {% elseif b.paymentStatus == 'succeeded' %}
              {%set style="color:#4CAF50" %}
              {% endif %}

              {% if b.status == 'pending' %}
              {%set bstyle="background:#F44336" %}
              {% elseif b.status == 'canceled' %}
              {%set bstyle="background:#2196F3" %}
              {% else %}
              {%set bstyle="background:#4CAF50" %}
              {% endif %}

              <tr>
                <td class="text-center">{{b.id}}</td>
                <td class="text-center w3-text-white w3-opacity-min" style="{{bstyle}}">{{b.status|trans}}</td>
                <td class="text-center" style="{{style}}">{{b.paymentStatus ? b.paymentStatus|trans : 'Por pagar'}}</td>
                <td class="text-center">{{b.client.username}}</td>
                <td class="text-center">{{(b.promocodeDiscountAmount.amount/100)|number_format(2, '.', ',')}}€
                </td>
                <td class="text-center w3-text-green">{{(b.depositAmount.amount/100)|number_format(2, '.', ',')}}€</td>
                 <td class="text-center w3-text-red">{{(b.toBePaid.amount/100)|number_format(2, '.', ',')}}€</td>
                <td class="text-center w3-text-indigo">{{(b.netTotal.amount/100)|number_format(2, '.', ',')}}€</td>
              </tr>
            
            {% endfor %}
                  
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <header class="w3-container">
    <h3><b>Hoje {{ "now"|date("d/m/Y", "Europe/Lisbon") }}</b></h3>
  </header>
  <div class="w3-row-padding w3-opacity-min">
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-card w3-red w3-padding-16">
        <div class="w3-left"><i class="far fa-hand-point-up w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>
            
            {% set total = 0 %}
            {% for bookings in booking.day0  %}
            {%if bookings.status == "pending"  %}
              {% set total = total + bookings.count %}
            {% endif %}
            {% endfor %}
            {{ total }}

          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Pendentes</h4>
      </div>
    </div>
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-blue w3-card w3-padding-16">
        <div class="w3-left"><i class="far fa-hand-paper w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>

            {% set total = 0 %}
            {% for bookings in booking.day0 %}
            {% if bookings.status == "canceled" %}
              {% set total = total + bookings.count %}
            {% endif %}
            {% endfor %}
            {{ total }}

          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Canceladas</h4>
      </div>
    </div>
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-green w3-card w3-padding-16">
        <div class="w3-left"><i class="far fa-thumbs-up w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>

            {% set total = 0 %}
            {% for bookings in booking.day0 %}
            {% if bookings.status == "confirmed"  %}
              {% set total = total + bookings.count %}
            {% endif %}
            {% endfor %}
            {{ total }}

          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Confirmadas</h4>
      </div>
    </div>
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-card w3-black w3-text-white w3-padding-16">
        <div class="w3-left"><i class="far fa-hand-peace w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>

            {% set total = 0 %}
            {% for bookings in booking.day0%}
            {%if bookings.total %}
              {% set total = total + bookings.total %}
            {% endif %}
            {% endfor %}
            {{ total}}

          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Total</h4>
      </div>
    </div>
  </div>


  <div class="w3-row-padding w3-opacity-min">
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-card w3-pale-yellow w3-padding-16">
        <div class="w3-left"><i class="far fa-money-bill-alt w3-xxxlarge w3-text-green"></i></div>
        <div class="w3-right">
          <h3>
            
            {% set total = 0 %}
            {% for bookings in booking.day_p0 %}
            {%if bookings.payment_status == "processing"%}
              {% set total = total + bookings.count %}
            {% endif %}
            {% endfor %}
            {{ total }}
          
          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Processamento</h4>
      </div>
    </div>
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-pale-red w3-card w3-padding-16">
        <div class="w3-left"><i class="far fa-money-bill-alt w3-xxxlarge w3-text-green"></i></div>
        <div class="w3-right">
          <h3>

            {% set total = 0 %}
            {% for bookings in booking.day_p0 %}
            {%if bookings.payment_status == "canceled" %}
              {% set total = total + bookings.count %}
            {% endif %}
            {% endfor %}
            {{ total }}
          
          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Cancelados</h4>
      </div>
    </div>
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-pale-green w3-card w3-padding-16">
        <div class="w3-left"><i class="far fa-money-bill-alt w3-xxxlarge w3-text-green"></i></div>
        <div class="w3-right">
          <h3>
          
            {% set total = 0 %}
            {% for bookings in booking.day_p0 %}
            {%if bookings.payment_status == "succeeded"  %}
              {% set total = total + bookings.count %}
            {% endif %}
            {% endfor %}
            {{ total }}

          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Efetuados</h4>
      </div>
    </div>
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-pale-blue w3-card w3-padding-16">
        <div class="w3-left"><i class="far fa-money-bill-alt w3-xxxlarge w3-text-green"></i></div>
        <div class="w3-right">
          <h3>
          
            {% set total = 0 %}
            {% for bookings in booking.day_p0 %}
              {%if bookings.payment_status == "refunded" or bookings.payment_status == "partial_refund" %}
                {% set total = total + bookings.count %}
              {% endif %}
            {% endfor %}
            {{ total }}
          
          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Reembolsos</h4>
      </div>
    </div>
  </div>

   <header class="w3-container">
    <h3><b>Amanhã {{ "tomorrow"|date("d/m/Y", "Europe/Lisbon") }}</b></h3>
  </header>
  <div class="w3-row-padding w3-opacity">
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-card w3-red w3-padding-16">
        <div class="w3-left"><i class="far fa-hand-point-up w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>
          
            {% set total = 0 %}
            {% for bookings in booking.day1 %}
            {% if bookings.status == "pending"  %}
              {% set total = total + bookings.count %}
            {% endif %}
            {% endfor %}
            {{ total }}
          
          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Pendentes</h4>
      </div>
    </div>
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-blue w3-card w3-padding-16">
        <div class="w3-left"><i class="far fa-hand-paper w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>
            
            {% set total = 0 %}
            {% for bookings in booking.day1 %}
            {% if bookings.status == "canceled"  %}
              {% set total = total + bookings.count %}
            {% endif %}
            {% endfor %}
            {{ total }}

          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Canceladas</h4>
      </div>
    </div>
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-green w3-card w3-padding-16">
        <div class="w3-left"><i class="far fa-thumbs-up w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>
            
            {% set total = 0 %}
            {% for bookings in booking.day1 %}
            {%if bookings.status == "confirmed"  %}
              {% set total = total + bookings.count %}
            {% endif %}
            {% endfor %}
            {{ total }}

          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Confirmadas</h4>
      </div>
    </div>
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-black  w3-card w3-text-white w3-padding-16">
        <div class="w3-left"><i class="far fa-hand-peace w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>

            {% set total = 0 %}
            {% for bookings in booking.day1 %}
            {% if bookings.total %}
              {% set total = total + bookings.total %}
            {% endif %}
            {% endfor %}
            {{ total }}
          
          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Total</h4>
      </div>
    </div>
  </div>




  <div class="w3-row-padding w3-opacity-min">
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-card w3-pale-yellow w3-padding-16">
        <div class="w3-left"><i class="far fa-money-bill-alt w3-xxxlarge w3-text-green"></i></div>
        <div class="w3-right">
          <h3>

            {% set total = 0 %}
            {% for bookings in booking.day_p1 %}
            {% if bookings.payment_status == "processing"  %}
              {% set total = total + bookings.count %}
            {% endif %}
            {% endfor %}
            {{ total }}
  
          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Processamento</h4>
      </div>
    </div>
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-pale-red w3-card w3-padding-16">
        <div class="w3-left"><i class="far fa-money-bill-alt w3-xxxlarge w3-text-green"></i></div>
        <div class="w3-right">
          <h3>

            {% set total = 0 %}
            {% for bookings in booking.day_p1 %}
            {%if bookings.payment_status == "canceled"  %}
              {% set total = total + bookings.count %}
            {% endif %}
            {% endfor %}
            {{ total }}
          
          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Cancelados</h4>
      </div>
    </div>
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-pale-green w3-card w3-padding-16">
        <div class="w3-left"><i class="far fa-money-bill-alt w3-xxxlarge w3-text-green"></i></div>
        <div class="w3-right">
          <h3>

            {% set total = 0 %}
            {% for bookings in booking.day_p1 %}
            {%if bookings.payment_status == "succeeded"  %}
              {% set total = total + bookings.count %}
            {% endif %}
            {% endfor %}
            {{ total }}

          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Efetuados</h4>
      </div>
    </div>
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-pale-blue w3-card w3-padding-16">
        <div class="w3-left"><i class="far fa-money-bill-alt w3-xxxlarge w3-text-green"></i></div>
        <div class="w3-right">
          <h3>

            {% set total = 0 %}
            {% for bookings in booking.day_p1 %}
            {%if bookings.payment_status == "refunded" or bookings.payment_status == "partial_refund" %}
              {% set total = total + bookings.count %}
            {% endif %}
            {% endfor %}
            {{ total}}
          
          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Reembolsos</h4>
      </div>
    </div>
  </div>


  <div class="w3-row-padding w3-opacity-min">

    <div class="w3-col l3 m6 s12 w3-margin-bottom">
      <header class="w3-container">
        <h5 style="margin-left:-16px"><b>Passageiros {{ "now"|date("m/Y", "Europe/Lisbon") }} (U)</b></h5>
      </header>  
      <div class="chart_wrap w3-card w3-sand w3-sepia-min">
        <div class="chart-container" id="chart0"></div>
      </div>
    </div>

    <div class="w3-col l3 m6 s12 w3-margin-bottom">
      <header class="w3-container">
        <h5 style="margin-left:-16px"><b>Estados {{ "now"|date("m/Y", "Europe/Lisbon") }} (U)</b></h5>
      </header>  
      <div class="chart_wrap w3-card w3-sand w3-grayscale-min">
        <div class="chart-container" id="chart1"></div>
      </div>
    </div>

    <div class="w3-col l3 m6 s12 w3-margin-bottom">
      <header class="w3-container">
        <h5 style="margin-left:-16px"><b>Reservas Global (U)</b></h5>
      </header>  
      <div class="chart_wrap w3-card w3-sand w3-sepia-min">
        <div class="chart-container" id="chart2"></div>
      </div>
    </div>

    <div class="w3-col l3 m6 s12 w3-margin-bottom">
      <header class="w3-container">
        <h5 style="margin-left:-16px"><b>Estados Global (U)</b></h5>
      </header>  
      <div class="chart_wrap w3-card w3-sand w3-grayscale-min">
        <div class="chart-container" id="chart3"></div>
      </div>
    </div>
  </div>



<script type="text/javascript">

google.charts.load('current', {'packages':['corechart']})

a = []

{% for charts in booking.chart%}
  a.push({{ charts|json_encode|raw }})
{% endfor %}

{% for monthcharts in booking_month%}
  a.push({{ monthcharts|json_encode|raw }})
{% endfor %}

google.charts.setOnLoadCallback(function() { drawChart(a[3],0) })
google.charts.setOnLoadCallback(function() { drawChart(a[2],1) })
google.charts.setOnLoadCallback(function() { drawChart(a[0],2) })
google.charts.setOnLoadCallback(function() { drawChart(a[1],3) })

  function drawChart(chrt,i) {
    var data = google.visualization.arrayToDataTable(chrt)

    if (i == 0)
      options = {
      legend: { position: 'bottom', alignment: 'start' },
      width: '100%',
      is3D:true,
      colors: ['#3333FF', '#3366CC', '#0033CC'],
      height: '250px',
      slices: {
        1: {offset: 0.2},
        2: {offset: 0.2},
        3: {offset: 0.2},
      },
    }

    else if (i == 1 || i == 3)
    options = {
      legend: { position: 'bottom', alignment: 'start' },
      width: '100%',
      is3D:true,
      colors: ['#f44336', '#2196F3', '#4CAF50'],
      height: '250px',
      slices: {
        1: {offset: 0.2},
        2: {offset: 0.2},
        3: {offset: 0.2},
      },
    }
    
    else
    
    options = {
      legend: { position: 'bottom', alignment: 'start' },
      width: '100%',
      is3D:true,
      height: '250px',
      slices: {
        1: {offset: 0.2},
        2: {offset: 0.2},
        3: {offset: 0.2},
        4: {offset: 0.2},
        5: {offset: 0.2},
        6: {offset: 0.2},
        7: {offset: 0.2},
        8: {offset: 0.2}
      },
    }
    var chart = new google.visualization.PieChart(document.getElementById('chart'+i))
    chart.draw(data, options)
  }

  function goToDate(dmy){
    $('.w3-overlay').show() 
    setTimeout(function(){
      $.ajax({
        url: '{{ path("admin_booking") }}',
        type: "POST",
        cache: false,
        success: function (data){
          $('#add').html(data)
          $('.w3-sidebar').addClass('w3-hide')
          $('#startDate').val(dmy)
          searchValue()
        },
        error: function (data){
          $('.w3-overlay').hide() 
          $('#modal-error').show()
        }
      })
    }, 500) 
  }

  $(function () {

    var Calendar = FullCalendar.Calendar;

    var calendarEl = document.getElementById('calendar');

    var calendar = new Calendar(calendarEl, {
      plugins: ['dayGrid'],
      header    : {
        left  : 'prev,next, today',
        center: 'title',
        right : false//'dayGridMonth'
      },
      locale: 'pt',
      events : function(info, successCallback, failureCallback) {
        $.ajax({
          url:'{{path("admin_calendar")}}',
          data:'start='+info.start.valueOf()/1000+'&end='+info.end.valueOf()/1000,
          dataType: 'json',
          cache: false,
          success: function(data) {
            if(data.status == 1){
              successCallback(data.data)
            }
          },
          error: function(data){
            console.log(data)
          } 
        })
      },
      height: 'auto',
      eventClick : function(info) {
        var d = new Date(info.event.start);
        month = d.getMonth() + 1;
        dmy = (d.getDate() <= 9 ? '0'+d.getDate() : d.getDate())+'/'+(month <= 9 ? '0'+month : month) +'/'+d.getFullYear();
        goToDate(dmy)
      },  
      editable : false,
      firstDay : 1
    
    });
    calendar.render();
  })

</script>


