
<style>
.chart_wrap {
    position: relative;
    padding-bottom: inherit;
    height: 300px
}

.chart-container {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:300px
}
</style>

  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fas fa-tachometer-alt"></i> Painel Controlo</b></h5>
  </header>
  <header class="w3-container">
    <h5><b>Hoje {{ "now"|date("d/m/Y") }}</b></h5>
  </header>
  <div class="w3-row-padding w3-opacity-min">
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-card w3-red w3-padding-16">
        <div class="w3-left"><i class="far fa-hand-point-up w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>
            {% for bookings in booking.day0 if bookings.status == "pending"  %}
              {{ bookings.count }}
              {% else %}
                0
            {% endfor %}
          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Pendentes</h4>
      </div>
    </div>
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-blue w3-card w3-padding-16">
        <div class="w3-left"><i class="far fa-hand-paper w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>
            {% for bookings in booking.day0 if bookings.status == "canceled"  %}
              {{ bookings.count }}
              {% else %}
                0
            {% endfor %}
          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Canceladas</h4>
      </div>
    </div>
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-green w3-card w3-padding-16">
        <div class="w3-left"><i class="far fa-thumbs-up w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>
            {% for bookings in booking.day0 if bookings.status == "confirmed"  %}
              {{ bookings.count }}
              {% else %}
                0
            {% endfor %}
          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Confirmadas</h4>
      </div>
    </div>
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-card w3-black w3-text-white w3-padding-16">
        <div class="w3-left"><i class="far fa-hand-peace w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>
            {% set totalday0 = 0 %}
            {% for bookings in booking.day0 if bookings.total %}
              {% set totalday0 = totalday0 + bookings.total %}
            {% endfor %}
            {{ totalday0 }}
          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Total</h4>
      </div>
    </div>
  </div>

   <header class="w3-container">
    <h5><b>Amanhã {{ "now"|date_modify("+1 day")|date("d/m/Y") }}</b></h5>
  </header>
  <div class="w3-row-padding w3-opacity">
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-card w3-red w3-padding-16">
        <div class="w3-left"><i class="far fa-hand-point-up w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>
            {% for bookings in booking.day1 if bookings.status == "pending"  %}
              {{ bookings.count }}
              {% else %}
                0
            {% endfor %}
          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Pendentes</h4>
      </div>
    </div>
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-blue w3-card w3-padding-16">
        <div class="w3-left"><i class="far fa-hand-paper w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>
            {% for bookings in booking.day1 if bookings.status == "canceled"  %}
              {{ bookings.count }}
              {% else %}
                0
            {% endfor %}
          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Canceladas</h4>
      </div>
    </div>
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-green w3-card w3-padding-16">
        <div class="w3-left"><i class="far fa-thumbs-up w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>
            {% for bookings in booking.day1 if bookings.status == "confirmed"  %}
              {{ bookings.count }}
              {% else %}
                0
            {% endfor %}
          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Confirmadas</h4>
      </div>
    </div>
    <div class="w3-col l3 m6 s6 w3-margin-bottom">
      <div class="w3-container w3-black  w3-card w3-text-white w3-padding-16">
        <div class="w3-left"><i class="far fa-hand-peace w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>
            {% set totalday1 = 0 %}

            {% for bookings in booking.day1 if bookings.total %}
              {% set totalday1 = totalday1 + bookings.total %}
            {% endfor %}
            {{ totalday1 }}
          </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Total</h4>
      </div>
    </div>
  </div>

  <div class="w3-row-padding w3-opacity-min">

    <div class="w3-col l3 m6 s12 w3-margin-bottom">
      <header class="w3-container">
        <h5 style="margin-left:-16px"><b>Passageiros {{ "now"|date("m/Y") }} (U)</b></h5>
      </header>  
      <div class="chart_wrap w3-card w3-sand w3-sepia-min">
        <div class="chart-container" id="chart0"></div>
      </div>
    </div>

    <div class="w3-col l3 m6 s12 w3-margin-bottom">
      <header class="w3-container">
        <h5 style="margin-left:-16px"><b>Estados {{ "now"|date("m/Y") }} (U)</b></h5>
      </header>  
      <div class="chart_wrap w3-card w3-sand w3-grayscale-min">
        <div class="chart-container" id="chart1"></div>
      </div>
    </div>

    <div class="w3-col l3 m6 s12 w3-margin-bottom">
      <header class="w3-container">
        <h5 style="margin-left:-16px"><b>Reservas Global (U)</b></h5>
      </header>  
      <div class="chart_wrap w3-card w3-sand w3-sepia-min">
        <div class="chart-container" id="chart2"></div>
      </div>
    </div>

    <div class="w3-col l3 m6 s12 w3-margin-bottom">
      <header class="w3-container">
        <h5 style="margin-left:-16px"><b>Estados Global (U)</b></h5>
      </header>  
      <div class="chart_wrap w3-card w3-sand w3-grayscale-min">
        <div class="chart-container" id="chart3"></div>
      </div>
    </div>
  </div>

<script type="text/javascript">

google.charts.load('current', {'packages':['corechart']})

a = []

{% for charts in booking.chart%}
  a.push({{ charts|json_encode|raw }})
{% endfor %}

{% for monthcharts in booking_month%}
  a.push({{ monthcharts|json_encode|raw }})
{% endfor %}

google.charts.setOnLoadCallback(function() { drawChart(a[3],0) })
google.charts.setOnLoadCallback(function() { drawChart(a[2],1) })
google.charts.setOnLoadCallback(function() { drawChart(a[0],2) })
google.charts.setOnLoadCallback(function() { drawChart(a[1],3) })

  function drawChart(chrt,i) {
    var data = google.visualization.arrayToDataTable(chrt)

    if (i == 0)
      options = {
      legend: { position: 'bottom', alignment: 'start' },
      width: '100%',
      is3D:true,
      colors: ['#3333FF', '#3366CC', '#0033CC'],
      height: '250px',
      slices: {
        1: {offset: 0.2},
        2: {offset: 0.2},
        3: {offset: 0.2},
      },
    }

    else if (i == 1 || i == 3)
    options = {
      legend: { position: 'bottom', alignment: 'start' },
      width: '100%',
      is3D:true,
      colors: ['#f44336', '#2196F3', '#4CAF50'],
      height: '250px',
      slices: {
        1: {offset: 0.2},
        2: {offset: 0.2},
        3: {offset: 0.2},
      },
    }
    
    else
    
    options = {
      legend: { position: 'bottom', alignment: 'start' },
      width: '100%',
      is3D:true,
      height: '250px',
      slices: {
        1: {offset: 0.2},
        2: {offset: 0.2},
        3: {offset: 0.2},
        4: {offset: 0.2},
        5: {offset: 0.2},
        6: {offset: 0.2},
        7: {offset: 0.2},
        8: {offset: 0.2}
      },
    }
    var chart = new google.visualization.PieChart(document.getElementById('chart'+i))
    chart.draw(data, options)
  }

</script>