<script src="{{ asset('js/image-resize.min.js') }}"></script>

<header class="w3-container" style="padding-top:22px">
   <h5><b><i class="fas fa-signal fa-fw"></i> Texto Fácil</b></h5>
</header>

<div class="w3-row-padding">
  {% for category in easyTexts%}
  <div class="w3-col s6 m4 l3 w3-margin-bottom">
    <div class="w3-card-2 w3-sand w3-border">
      <div class="w3-center w3-col s12 w3-padding-small">
      {{category.name}}
      </div>
      <div class="w3-row">
        <div class="w3-col s6">
          <button class="w3-btn w3-block w3-border w3-blue" onclick="editEasyText('{{category.id}}','{{category.name}}',{{category.easytext}})">
            <i class="far fa-edit fa-fw"></i>
          </button>
        </div>
        <div class="w3-col s6">
        <button class="w3-btn w3-block w3-border w3-red" onclick="deleteEasyTextConfirm('{{ category.id}}','{{ category.name }}')">
          <i class="fas fa-trash-alt"></i>
        </button>
        </div>
      </div>
    </div>
  </div>  
  {% endfor %}
</div>

<div class="w3-container">
{{form_start(form, {'attr': {'id': 'easytext-form'}})}}
<div class="w3-row-padding w3-large w3-sand w3-border">
{{form_widget(form.easytext)}}
{{form_widget(form.easytexthtml)}}

{{form_widget(form.name)}}

	<div id="editor" class="w3-col s12" style="height: 375px"></div>
    <div class="w3-col l6 m0 s0 w3-hide-small w3-hide-medium">&nbsp;</div> 
      	<div class="w3-col l3 m6 s6 w3-margin-top w3-margin-bottom">
        	<button type="reset" class="w3-button w3-block w3-border w3-white" onclick="clearEasyText()">
          	<i class="fa fa-eraser"></i> Limpar
        	</button>
      	</div>
      	<div class="w3-col l3 m6 s6 w3-margin-top w3-margin-bottom">
        	<button class="w3-btn w3-block w3-border w3-green">
          		<i class="fa fa-check"></i> Guardar
          	</button>
      	</div>
	</div>
  <input type="hidden" name="id" id="easytext">
  {{ form_end(form) }}
</div>

<script>
  
delta =''

var quill = new Quill('#editor', {
 modules: {
    toolbar: [
      ['bold', 'italic'],
      [{ 'header': [4, 3, 2, 1, false] }],
      ['link', 'blockquote', 'code-block', 'image', 'video'],
      [{ list: 'ordered' }, { list: 'bullet' }],
      [{ color:  [] }, { background: [] }],
    ],
     imageResize: {
        displaySize: true,
        handleStyles: {
         backgroundColor: 'black',
         border: 'none'
                // other camelCase styles for size display
            }
    }
  },
  placeholder: 'Insira Texto Fácil.....',
  theme: 'snow'  // or 'bubble',

})


function deleteEasyTextConfirm(id, n)
{
  $('#delete-easytext').html('<p class="w3-center w3-large">Tem a certeza que pretende apagar,<br><b>'+n+'</b> ?</p>')
  $('#easytext-id').val(id)
  $('#modal-delete-easytext').show()
}

function deleteEasyText(id){
  $('#modal-delete-easytext').hide()
  $('.w3-overlay').show()
  setTimeout(function(){ 
  $.ajax({
    url:'{{ path('admin_easy_text_delete') }}',  
    type: "POST",
    data:'id='+id,
    success: function(data){
     // console.log(data)
      $('.w3-overlay').hide()
      if (data.message == 'success'){
        ajaxUpload('easy-text')
        
      }
    },
    error:function(data){
      $('.w3-overlay').hide()
      $('#modal-error').show()
    }
  })
  }, 500)
}

function clearEasyText(){
  quill.setContents('')
  $('#easytext, #easy_text_name').val('')
} 


function editEasyText(id,name,easytext){
	quill.setContents(easytext)
  $('#easytext').val(id)
  $('#easy_text_name').val(name)
  //$('#debug').html(quill.root.innerHTML)
}

$('#easytext-form').on('submit',function(e){
  e.preventDefault()
  $('.required').addClass('w3-hide')
  $('.w3-overlay').show()
  $('#easy_text_easytext').val(JSON.stringify(window.delta = quill.getContents()))
  $('#easy_text_easytexthtml').val(quill.root.innerHTML)
  setTimeout(function(){
    $.ajax({  
      url:'{{ path('admin_easy_text') }}',
      type: "POST",
      data:$('#easytext-form').serialize(),
      success: function(data){  
        $('.w3-overlay').hide()
         if (data.message == 'success'){
          ajaxUpload('easy-text')
          quill.setContents('')
          $('#easy_text_name').val('')
        }
        else if (data.message=='fail'){
          for(i=0;i<data.data.length;i++)
            $('.'+data.data[i]).removeClass('w3-hide')
          $('#modal-fields').show()
        }
      },
      error:function(data){
        $('.w3-overlay').hide()
        $('#modal-error').show()
      }
    })
  }, 500)
})
</script>