<script>

function ajaxUpload(block){

    $("a").trigger("focusout")
    $('.note-popover').hide()

    block == 'category-new' || block == 'category-list' ? false : $('#category').removeClass('w3-show')

    switch (block){
        case 'dashboard': 
            url = '{{ path("admin_dashboard") }}' 
        break
        case 'category-new': 
            url = '{{ path("admin_category_new") }}' 
        break
        case 'category-list': 
            url = '{{ path("admin_category_list") }}' 
        break
        case 'gallery-new': 
            url = '{{ path("admin_gallery_new") }}' 
        break
        case 'gallery-list': 
            url = '{{ path("admin_gallery_list") }}' 
        break
        case 'gallery': 
            url = '{{ path("admin_gallery") }}' 
        break
        case 'staff-new': 
            url = '{{ path("admin_staff_new") }}' 
        break
        case 'staff-list': 
            url = '{{ path("admin_staff_list") }}' 
        break
        case 'staff': 
            url = '{{ path("admin_staff") }}' 
        break
        case 'booking': 
            url = '{{ path("admin_booking") }}' 
        break
        case 'available': 
            url = '{{ path("admin_available") }}' 
        break
        case 'easy-text': 
            url = '{{ path("admin_easy_text") }}' 
        break
        case 'available-new': 
            url = '{{ path("admin_available_new") }}' 
        break
        case 'user-list': 
            url = '{{ path("user_list") }}' 
        break
        case 'user-new': 
            url = '{{ path("user_new") }}' 
        break
        case 'warning': 
            url = '{{ path("admin_warning") }}' 
        break

        case 'rgpd': 
            url = '{{ path("admin_rgpd") }}' 
        break
        case 'faqs': 
            url = '{{ path("admin_faqs") }}' 
        break
        case 'terms': 
            url = '{{ path("admin_terms") }}' 
        break
        case 'company': 
            url = '{{ path("admin_company_show_edit") }}' 
        break
        case 'about-us': 
            url = '{{ path("admin_about_us") }}' 
        break
        case 'list-cron': 
            url = '{{ path("list_cron") }}' 
        break
        case 'feedback-list': 
            url = '{{ path("admin_feedback_list") }}' 
        break
        case 'list-extra-payment': 
            url = '{{ path("list_extra_payment") }}' 
        break

    }
    $('.w3-overlay').show() 
    setTimeout(function(){
        $.ajax({
            url:url,
            type: "POST",
            async: true,
            cache: false,
            success: function (data){
                $('#add').html(data)
                $('.w3-overlay').hide()
                $('.w3-sidebar').addClass('w3-hide')
            },
            error: function (data){
                $('.w3-overlay').hide() 
                $('#modal-error').show()
            }
        })
    }, 500)        
}

function dropDownMenu(menu) {
    var x = document.getElementById(menu)
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show"
    } else { 
        x.className = x.className.replace(" w3-show", "")
    }
}

function w3_open() {
    $('.w3-sidebar').hasClass('w3-hide') ? 
        $('.w3-sidebar').removeClass('w3-hide') :
        $('.w3-sidebar').addClass('w3-hide')
}

</script>