
{% extends "admin/p-base.html.twig" %}

{% block content %}

<script src="https://js.stripe.com/v3/"></script>

<style>
.StripeElement{box-sizing: border-box;height: 45px;padding: 11px 12px;border: 1px solid transparent;background-color: white;box-shadow: 0 1px 3px 0 #e6ebf1;-webkit-transition: box-shadow 150ms ease;transition: box-shadow 150ms ease}
.StripeElement--focus{box-shadow: 0 1px 3px 0 #cfd7df}
.StripeElement--invalid{border-color: #fa755a}
.StripeElement--webkit-autofill{background-color: #fefde5 !important}
</style>

<div class="w3-container">

<div class="w3-xxlarge w3-row w3-xlarge w3-padding w3-margin-top">
  <i class="fa fa-cc-stripe"></i> {{translator.payment}}
</div>

  <div class="w3-row-padding w3-card-2 w3-sand w3-padding w3-large" style="max-width:600px;margin:0 auto">
     <div class="w3-col l12 w3-xlarge">
      <label>{{translator.purchase_data}} #{{booking.id}}</label>
    </div>

    <div class="w3-col s12">
      <label>{{translator.tour}}:</label>
      <span class="">
        {% if booking.client.locale.name == 'pt_PT' %}
          {{booking.available.category.namePt}}
        {% else %}
          {{booking.available.category.nameEn}}
        {% endif %}
      </span>
    </div>
    <div class="w3-col s12">
      <label>{{translator.status}}:</label>
        <span class="{{booking.status}}" style="text-transform: uppercase">{{translator.booking_status}}</span>
    </div>
    <div class="w3-col s12">
      <label>{{translator.payment}}:</label>
     <span class="bps {{booking.paymentStatus}}" style="text-transform: uppercase">{{translator.payment_status}}</span>
    </div>
    <div class="w3-col s12">
      <label>{{translator.date}}:</label>
      <span class="">{{booking.available.datetimestart|date('d/m/Y @ H:i')}}</span>
    </div>
    <div class="w3-col s12">
      <label>{{translator.name}}:</label>
      <span class="u-name">{{booking.client.username}}</span>
    </div>
    
    <div class="w3-col s12">
      <label>Email:</label>
      <span class="u-email">{{booking.client.email}}</span>
    </div>
    <div class="w3-col s12">
      <label>{{translator.phone}}:</label>
      <span class="u-phone">{{booking.client.telephone}}</span>
    </div>
    <div class="w3-col s12">
      <label>{{translator.adults}}:</label>
      <span class="">{{booking.adult}}</span>
    </div>

    <div class="w3-col s12">
      <label>{{translator.childrens}}:</label>
      <span class="">{{booking.children}}</span>
    </div>

    <div class="w3-col s12">
      <label>{{translator.babies}}:</label>
      <span class="">{{booking.baby}}</span>
    </div>

    <div class="w3-col s12 w3-xlarge w3-border-top">
      <label>{{translator.amount}}:</label>
       <div class="w3-right">{{(booking.amount.amount/100)|number_format(2)}}{{company.currency.currency}}</div>
    </div>

    {% if paylog is null %}
  
    <div class="paylog w3-col s12 w3-margin-top">
      <form id="payment-form">
        <input type="hidden" name="total" value="1">
        <label>{{translator.insert_card_n}}</label>
        <div id="card-element" class="w3-input" style="padding: 10px 8px"></div>
        <div id="card-errors" class="w3-text-red w3-small" role="alert"></div>
        <div class="set-token"></div>
        <input type="hidden" name="id" value="{{booking.id}}">
      </form>
    </div>
    <div class="paylog w3-col s12 w3-right w3-margin-top">
      <span class="w3-button w3-block w3-green w3-border w3-right w3-margin-bottom" id="card-button" data-secret="{{payment_intent.data.client_secret}}" onclick="buyNow()">
      <i class="fa fa-check"></i> {{translator.pay_now}}
        </span>
    </div>
  {% endif %}
  </div>
</div>

<script>

$(document).ready(function(){

{% if paylog is null %}
  buildStripe(key)
  {% endif %}
});


  var key = '{{company.stripePK}}'
  var stripe = ''
  var elements = ''
  var style = ''
  var card = ''
  var displayError = ''

  function buildStripe(k){
    
    if (k){
      stripe = Stripe(k)
      elements = stripe.elements()
      style = {
        base: {
          color: '#32325d',
          fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
          fontSmoothing: 'antialiased',
          fontSize: '18px',
          '::placeholder': {
            color: '#aab7c4'
          }
        },
        invalid: {
          color: '#fa755a',
          iconColor: '#fa755a'
        }
      }
      $('#card-errors').empty()
      card = elements.create('card', {hidePostalCode: true, style: style})
      card.mount('#card-element');
      card.addEventListener('change', function(event) {
        displayError = document.getElementById('card-errors')
        displayError.textContent = event.error ? event.error.message: ''
      })
    }
  }

  function handleCard(){
    stripe.handleCardPayment($('#card-button').data('secret'), card,{
      payment_method_data: {
        billing_details: {
          name: $('.u-name').text(),
          email: $('.u-email').text(),
          phone: $('.u-phone').text()
        }
      },
      receipt_email: $('.u-email').text()
    }
    ).then(function(result) {
      if (result.error) {
        $('.w3-overlay').hide()
        modalConditions(1, result.error.message, '{{translator.check}}') 
      } 
      else
        getUrlReceipt(result.paymentIntent.id)   
    })
  }


  //pi_id = payment_intent_id
  function getUrlReceipt(pi_id){
      $.ajax({  
      url :'{{ path('online_get_charge')}}',
      type: "POST",
      cache: false,
      data: 'pi_id='+pi_id,
      success: function(data){
        $('.w3-overlay').hide()
        if (data.status == 1){
          info = data.data.data.data[0]
          console.log(data)
          $('#payment-form').trigger('reset')
          modalConditions (0, data.message.text+' '+data.message.status+'<br><div class="w3-center w3-large"><a class="w3-button w3-border w3-blue w3-round" target="_blank" href='+info.receipt_url+'>{{translator.receipt}}</a></div>', '{{translator.success}}')
          $('.bps').addClass(info.status).text(data.message.status)
          $('.paylog').remove()
        }
        else{
          modalConditions(1, data.message, '{{translator.check}}') 
        }
      },
      error:function(data){
        $('.w3-overlay').hide()
        modalConditions(2, '{{translator.wifi_error}}', '{{translator.error}}')
      }
    })
  }

  function buyNow(){
    $('#card-errors').empty()
    $('.w3-overlay').show()
    setTimeout(function(){
      stripe.createToken(card).then(function(result) {
        if (result.error) {
          var errorElement = document.getElementById('card-errors')
          errorElement.textContent = result.error.message
          $('.w3-overlay').hide()
          return
        }
        $.ajax({
          url :'{{ path('online_charge_credit_card')}}',
          type: "POST",
          data: $('#payment-form').serialize()+'&secret='+$('#card-button').data('secret'),
          cache: false,
          success: function(data){
            if(data.data != 'succeeded'){
              handleCard()
            return
            }
            else if (data.status == 1){
              $('.w3-overlay').hide()
              //buildStripe(key)
              $('#payment-form').trigger('reset')
              modalConditions(0, data.message, '{{translator.success}}')
            }
            else{
              $('.w3-overlay').hide()
              modalConditions(1, data.message, '{{translator.check}}') 
            }
          },
          error:function(data){
            modalConditions(2, '{{translator.wifi_error}}', '{{translator.error}}')
          }
        })
      });
    }, 500)
  }

</script>

{% endblock %}