
{% extends "admin/p-base.html.twig" %}

{% block content %}

<script src="https://js.stripe.com/v3/"></script>

<style>
.StripeElement{box-sizing: border-box;height: 45px;padding: 11px 12px;border: 1px solid transparent;background-color: white;box-shadow: 0 1px 3px 0 #e6ebf1;-webkit-transition: box-shadow 150ms ease;transition: box-shadow 150ms ease}
.StripeElement--focus{box-shadow: 0 1px 3px 0 #cfd7df}
.StripeElement--invalid{border-color: #fa755a}
.StripeElement--webkit-autofill{background-color: #fefde5 !important}
.w3-bar{display:none}
</style>


<div class="w3-container">

<div class="w3-xxlarge w3-row w3-xlarge w3-padding w3-margin-top">
  <i class="far fa-cc-stripe"></i> Pagamento
</div>

  <div class="w3-row-padding w3-card-2 w3-sand w3-padding w3-large" style="max-width:600px;margin: 0 auto">
     <div class="w3-col l12 w3-xlarge">
      <label>Dados da compra:</label>
    </div>

    <div class="w3-col s12">
      <label>Tour:</label>
      <span class="">
        {% if booking.client.locale.name == 'pt_PT' %}
          {{booking.available.category.namePt}}
        {% else %}
          {{booking.available.category.nameEn}}
        {% endif %}
      </span>
    </div>
    <div class="w3-col s12">
      <label>Estado:</label>
      <span class="">{{booking.status}}</span>
    </div>
    <div class="w3-col s12">
      <label>Pagamento:</label>
      <span class="">
        {%if (paylog) %}
          {{paylog.getLogObj.status}}
        {% else %}
          pending
        {% endif %}
      </span>
    </div>

    <div class="w3-col s12">
      <label>Data:</label>
      <span class="">{{booking.available.datetimestart|date('d/m/Y @ H:i')}}</span>
    </div>
    <div class="w3-col s12">
      <label>Nome:</label>
      <span class="u-name">{{booking.client.username}}</span>
    </div>
    
    <div class="w3-col s12">
      <label>Email:</label>
      <span class="u-email">{{booking.client.email}}</span>
    </div>
    <div class="w3-col s12">
      <label>Adultos:</label>
      <span class="">{{booking.adult}}</span>
    </div>

    <div class="w3-col s12">
      <label>Crianças:</label>
      <span class="">{{booking.children}}</span>
    </div>

    <div class="w3-col s12">
      <label>Bébes:</label>
      <span class="">{{booking.baby}}</span>
    </div>

    <div class="w3-col s12 w3-xlarge w3-border-top">
      <label>Montante:</label>
       <div class="w3-right">{{(booking.amount.amount/100)|number_format(2)}}{{company.currency.currency}}</div>
    </div>

{% if paylog is null %}
  
    <div class="w3-col s12 w3-margin-top">
      <form id="payment-form">
        <label>Insira nº Cartão</label>
        <div id="card-element" class="w3-input w3-border" style="padding: 10px 8px"></div>
        <div id="card-errors" class="w3-text-red w3-small" role="alert"></div>
        <div class="set-token"></div>
      </form>
    </div>
    <div class="w3-col s12 w3-right w3-margin-top">
      <span class="w3-button w3-block w3-green w3-border w3-right w3-margin-bottom" id="card-button" data-secret="{{payment_intent.data.client_secret}}" onclick="buyNow()">
      <i class="fa fa-check"></i> Efetuar Pagamento
        </span>
    </div>
{% endif %}




  </div>



</div>

<!-- MODAL -->

<div id="info-client" class="w3-modal" style="z-index:99999999">
  <div class="w3-modal-content w3-animate-zoom" style="max-width:450px">
    <div class="w3-container w3-green w3-padding" id="info-client-head">
      <span onclick="$('#info-client').hide()" class="w3-button w3-display-topright w3-large"><i class="fa fa-times"></i></span>
    </div>
    <div class="w3-border-bottom w3-container w3-padding">
      <p id="client-txt"></p>
    </div>
  </div>
</div>

<script>

$(document).ready(function(){

{% if paylog is null %}
  buildStripe(key)
  {% endif %}
});


  var key = '{{company.stripePK}}'
  var stripe = ''
  var elements = ''
  var style = ''
  var card = ''
  var displayError = ''

  function buildStripe(k){
    
    f = `Stripe('`+k+`')`  
    
    if (k){
      stripe = eval(f)
      elements = stripe.elements()
      style = {
        base: {
          color: '#32325d',
          fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
          fontSmoothing: 'antialiased',
          fontSize: '18px',
          '::placeholder': {
            color: '#aab7c4'
          }
        },
        invalid: {
          color: '#fa755a',
          iconColor: '#fa755a'
        }
      }
      $('#card-errors').empty()
      card = elements.create('card', {style: style})
      card.mount('#card-element');
      card.addEventListener('change', function(event) {
        displayError = document.getElementById('card-errors')
        displayError.textContent = event.error ? event.error.message: ''
      })
    }
  }

  function handleCard(){
    stripe.handleCardPayment($('#card-button').data('secret'), card,{
      payment_method_data: {
        billing_details: {
          name: $('.u-name').text()
        }
      },
      receipt_email: $('.u-email').text()
    }
    ).then(function(result) {
      if (result.error) {
        $('.w3-overlay').hide()
        modalConditions (1, result.error.message)
      } 
      else
        getUrlReceipt(result.paymentIntent.id)   
    })
  }

  //pi_id = payment_intent_id
  function getUrlReceipt(pi_id){
      $.ajax({  
      url :'{{ path('online_get_charge')}}',
      type: "POST",
      cache: false,
      data: 'pi_id='+pi_id,
      success: function(data){
        $('.w3-overlay').hide()
        if (data.status == 1){
          info = data.data.data.data[0]
          $('#payment-form').trigger('reset')
          buildStripe(key)
          modalConditions (0, info.status+'<br><a target="_blank" href='+info.receipt_url+'>Stripe</a>')
        }
        else{
          modalConditions (1, data.message)
        }
      },
      error:function(data){
        $('.w3-overlay').hide()
        modalConditions (2, 'wi_fi connection')
      }
    })
  }

  function buyNow(){
    $('#card-errors').empty()
    $('.w3-overlay').show()
    setTimeout(function(){
      stripe.createToken(card).then(function(result) {
        if (result.error) {
          var errorElement = document.getElementById('card-errors')
          errorElement.textContent = result.error.message
          $('.w3-overlay').hide()
          return
        }
        $.ajax({
          url :'{{ path('online_charge_credit_card')}}',
          type: "POST",
          data: $('#payment-form').serialize()+'&secret='+$('#card-button').data('secret'),
          cache: false,
          success: function(data){

            if(data.data != 'succeeded'){
              handleCard()
            return
            }
            else if (data.status == 1){
              $('.w3-overlay').hide()
              buildStripe(key)
              $('#payment-form').trigger('reset')
              modalConditions (0, data.message)
            }
            else{
              $('.w3-overlay').hide()
              modalConditions (1, data.message)
            }
          },
          error:function(data){
            modalConditions (2, 'wi_fi connection')
          }
        })
      });
    }, 500)
  }

//0 = Success
//1 = Check
//2 = Error

function modalConditions(i, text){
  a=[]

  a.push(['w3-blue w3-red w3-amber', 'w3-green', 'Sucesso', 'fa-check'])
  a.push(['w3-green w3-red w3-amber', 'w3-blue', 'Verifique', 'fa-info-circle'])
  a.push(['w3-blue w3-green w3-amber', 'w3-red', 'Erro', 'fa-exclamation-triangle'])
  
  $('#info-client').show()
  $('#info-client-head').removeClass(a[i][0]).addClass(a[i][1]).html('<span onclick="$(\'#info-client\').hide()" class="w3-button w3-display-topright w3-large"><i class="fa fa-times"></i></span><h1><i class="fa '+a[i][3]+'"></i> '+a[i][2]+'</h1>')  
  $('#client-txt').html(text)
}

</script>

{% endblock %}