<style>
select.input-sm, input .form-control .input-sm {height: 36px}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    height: 24px;width: 24px;border-radius: 16px; text-align: center;line-height: 23px;font-size: 24px;border-radius: 0px;border: 1px solid #ddd;box-shadow: 0 0 0 #000}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child {padding-left: 38px}
.dt-button-collection{ width:100%;background: rgba(0,0,0,0.3);position: fixed;left:0px;padding: 96px 16px; z-index:99999;margin-top: 0px!important;top:0px}
.w3-input {border-bottom: 0px solid #05788d}
input, select{color: #000!important}
.form-control{ border: 1px solid #ccc!important;height: 50px;padding: 0px 0px 0px 4px;padding-bottom: 0px}
div.dataTables_length select {height: 50px}
div.dataTables_length label{float:left}
div.dataTables_filter label {float: right}
select{height: 41px}
</style>

<link href="{{ asset('css/bootstrap-datepicker.min.css') }}" rel="stylesheet">
<link href="{{ asset('css/admin-booking.css') }}" rel="stylesheet">

<header class="w3-container" style="padding-top:22px">
   <h5><b><i class="fa fa-gift"></i> Promocode</b></h5>
</header>
<div class="w3-row-padding w3-padding-32">
  <div class="w3-col s12">
  <table id="dataTable" class="w3-border table table-striped centered hover table-bordered" style="width:100%">
    <thead class="w3-sand">
      <tr>
      <th>Acções</th> 
      <th class="w3-center">Código</th>
      <th class="w3-center">Categoria</th>
      <th class="w3-center" title="Percentagem é calculado o valor desconto ao total da Reserva, se Valor é subtraido o valor desconto ao total da Reserva.">{%trans%}discount_type{%endtrans%}</th>
      <th class="w3-center">Desconto</th>
      <th class="w3-center">Activo</th>   
      <th class="w3-center">Inicio</th>
      <th class="w3-center">Fim</th>
      </tr>
    </thead>
    <tbody>
      {% for ob in promocodes%}
       <tr id='g-{{ ob.id}}'>
        <td>
           <button class="w3-btn w3-border w3-blue" onclick="edit({{ob.id}}, this )">
            <i class="far fa-edit fa-fw"></i>
          </button>
          <button class="w3-btn w3-border w3-red" style="width: 19px" onclick="deleteConfirm({{ ob.id}},'{{ ob.code }}')">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
        <td class="w3-center">{{ob.code}}</td>
        <td class="w3-center">{{ob.category.namePt}}</td>
        <td class="w3-center" title="Percentagem é calculado o valor desconto ao total da Reserva, se Valor é subtraido o valor desconto ao total da Reserva.">{{ob.discountType|trans}}</td>
        <td class="w3-center">{{ob.discount}}</td>
        <td class="w3-center">
          {% if ob.IsActive%}
            <i class="w3-text-green w3-xlarge fas fa-check-circle"></i>
          {% else %}
            <i class="w3-text-red w3-xlarge fas fa-times-circle"></i>
          {% endif %}
        </td>
        <td class="w3-center">{{ ob.start|date("d/m/Y")}}</td>
        <td class="w3-center">{{ ob.end|date("d/m/Y")}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>

<div class="w3-container w3-padding" id="set-promocode">

<header class="w3-container">
    <h5>
      <b>
        <i class="fa fa-gift"></i> Promocode Editar ou Criar&nbsp;<span class="id"></span>
    </b>
  </h5>
</header>
  {{ form_start(form, {'attr': {'id': 'form'}}) }}

  <input type="hidden" name="id">
  
  <div class="w3-border w3-sand">
    <div class="w3-padding-16 w3-row-padding">
      <div class="w3-col l4 m6 s12">
        {{ form_label(form.code)}}
        {{ form_widget(form.code)}}
      </div>
      <div class="w3-col l4 m6 s12">
        <label>Categoria</label>
        {{ form_widget(form.category)}}
      </div>
      <div class="w3-col l4 m6 s12" title="Percentagem é calculado o valor desconto ao total da Reserva, se Valor é subtraido o valor desconto ao total da Reserva.">
        {{ form_label(form.discount_type)}}
        {{ form_widget(form.discount_type)}}
      </div>
    </div>
      <div class="w3-row-padding">
      <div class="w3-col l2 m6 s12">
        {{ form_label(form.discount)}}
        {{ form_widget(form.discount)}}
      </div>
      <div class="w3-col s12 l2 m6">
        <label class="w3-hide-small w3-block">&nbsp;</label>
        {{ form_widget(form.isActive)}}
        {{ form_label(form.isActive)}}
      </div>
      <div class="w3-col s12 l4 m6">
        {{ form_label(form.start)}}
        {{ form_widget(form.start)}}
      </div>
      <div class="w3-col s12 l4 m6">
        {{ form_label(form.end)}}
        {{ form_widget(form.end)}}
      </div>
      <div class="w3-col s12 w3-margin-top w3-margin-bottom">
        <span class="w3-btn-block w3-margin-left w3-right w3-button w3-border w3-green" onclick="$('#form').trigger('submit')">
          <i class="fa fa-check"></i> Gravar
        </span>
        <span class="w3-btn-block w3-button w3-right w3-border w3-white" onclick="clearF()">
          <i class="fa fa-eraser"></i> Limpar
        </span>
      </div>
    </div>
  </div>
 {{ form_end(form) }}

</div>

<div id="modal-delete-promocode" class="w3-modal" style="z-index: 9999999; padding-top: 12px; padding-bottom: 32px">
  <div class="w3-modal-content w3-animate-zoom" style="max-width:400px">
    <div class="w3-container w3-red w3-padding">
      <span onclick="$('#modal-delete-promocode').hide()" class="w3-padding w3-button w3-display-topright">
        <i class="w3-xlarge fa fa-times"></i>
      </span>
      <h2>
        <i class="fas fa-exclamation-circle"></i>
        <span>Apagar ?<input type="hidden" id="delete-id"></span>
      </h2>
    </div>
    <div class="w3-container w3-padding" id="delete-promocode"></div>
    <div class="w3-row-padding w3-border-top">
      <div class="w3-col s12 w3-margin-top w3-margin-bottom">
        <span class="w3-btn-block w3-margin-left w3-right w3-button w3-border w3-green" onclick="del($('#delete-id').val())">
          <i class="fas fa-trash-alt"></i> Apagar
        </span>
        <span class="w3-btn-block w3-button w3-left w3-border w3-white" onclick="$('#modal-delete-promocode').hide()">
          <i class="fa fa-times"></i> Fechar
        </span>
      </div>
    </div>
  </div>
</div>


<div id="modal-fields-promocode" class="w3-modal" style="z-index: 9999999; padding-top: 60px;padding-bottom: 32px">
  <div class="w3-modal-content w3-animate-zoom" style="max-width:400px;margin: 0 auto">
    <div class="w3-col s12">
      <div class="w3-row">
        <div class="w3-panel w3-leftbar w3-col s12 w3-pale-yellow w3-border-amber w3-left-align w3-large">
          <span class="w3-closebtn w3-padding-small" onclick="$('#modal-fields-promocode').hide()">
            <i class="fa fa-times"></i>
          </span>
          <h2>
            <i class="fa fa-warning"></i>
            <span class="ATENCAO">Atenção!</span>
          </h2>
          <div class="w3-padding-small" id="set-fields"></div>
          <div class="w3-margin-bottom"></div>
        </div>
      </div>
    </div>
  </div>
</div>















<script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('js/ui.datepicker-pt-BR.js') }}"></script>

<script>
 
stored = []


  var index = '';
  var table = '';

  function edit(id, obj){
    $('[name=id]').val(id);
    $('.id').html('<b class="badge badge-primary">#'+id+'</b>');
    parent = $(obj).parent().parent();
    $(parent).click(function() {
      index = table.row( this ).index();
      $('#promocode_code').val((table.cell( index, 1).data().trim()))
      v1 = $('#promocode_category option:contains('+table.cell( index, 2).data().trim()+')').val()
      $('#promocode_category').val(v1).trigger('change');
      v2 = $('#promocode_discount_type option:contains('+table.cell( index, 3).data().trim()+')').val()
      $('#promocode_discount_type').val(v2).trigger('change');
      $('#promocode_discount').val((table.cell( index, 4).data().trim()))
      table.cell( index, 5).data().match(/check/g) ? $('#promocode_isActive').attr('checked', true) : $('#promocode_isActive').attr('checked', false);      
      $('#promocode_start').val((table.cell( index, 6).data().trim()))
      $('#promocode_end').val((table.cell( index, 7).data().trim()))
      $("html, body").animate({scrollTop: $('#form').offset().top -50 }, 250);
    })
  }

function deleteConfirm(id,n){
  $('#delete-promocode').html('<p class="w3-center w3-large">Tem a certeza que pretende apagar o Promocode, <b>'+n+'</b> ?</p>')
  $('#delete-id').val(id)
  $('#modal-delete-promocode').show()
}

function del(id){
  $('.w3-overlay').show()
  setTimeout(function(){
    $.ajax({
      url:'{{ path('delete_promocode') }}',
      type: "POST",
      data:'id='+id,
      success: function(data){
        $('.w3-overlay').hide()
        if (data.status == 1){
          $('#modal-delete-promocode').hide()
          $('#g-'+data.data).remove()
        }
      },
      error:function(data){
        $('.w3-overlay').hide()
        $('#modal-error').show()
      }
    })
  }, 500)
}

function clearF(){
  $('#form').trigger('reset');
  $('#promocode_isActive').attr('checked', false);
  $('.id').empty();
  $('[name=id]').val('');
}

$(function(){

  table = $('#dataTable').DataTable({
    dom: 'lBfrtip',
    order: [ 3, "ASC" ],
    buttons: [
      {
        extend:    'excelHtml5',
        text:      '<i class="far fa-file-excel"></i>',
        titleAttr: 'Excel',
        exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8]
          }
        },

        {
        extend:    'pdfHtml5',
        text:      '<i class="far fa-file-pdf"></i>',
        titleAttr: 'PDF',
        exportOptions: {
          columns: [ 0, 1, 2, 3, 4,5,6, 7,8]
          },
          customize: function (doc) {
            //doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('')
              doc['footer']=(function(page, pages) {
                return {
                  columns: [
                    {
                      alignment: 'right',
                      text: ['']
                    },
                  ],
                  margin: 20
                }
              })
            }
        },
        {
        extend: 'colvis',
        columns: ':gt(0)',
        text:      '<i class="far fa-eye-slash"></i>',
        titleAttr: 'Colunas',
        exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5,6, 7 ,8]
        }
      }
    ],
    "columnDefs": [
      //{ className:"my_class", "targets": [4] },
      //{ "orderData":[ 2 ], "targets": [ 3 ] },
        {
          "targets": stored,
          "visible": false
          //"searchable": false
        }
    ],
    "pageLength": 25,
    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      responsive: true,
      searching: true,
      language: {
        "lengthMenu": "Mostrar _MENU_ por pagina",
        "zeroRecords": "0 Resultados",
        "info": "Mostrar _PAGE_ de _PAGES_",
        "infoEmpty": "Sem resultados",
        "search": "Pesquisar",
        "paginate": {
        "previous": "Anterior",
        "next": "Seguinte",
      }
    },
    order: [[ 1, 'asc' ]]
  })
  $('#dataTable_length, .dt-buttons').addClass('w3-center w3-col s12 m6 l4 w3-section')
  $('#dataTable_filter').addClass('w3-col s8 m12 l4 w3-center w3-section')

  $('#promocode_start').datepicker({
      language:'pt-BR',
      format: 'dd/mm/yyyy',
      weekStart: 1,
      todayHighlight: true,
      autoclose: true,
    }).on("changeDate",function (e) {
      $('#promocode_end').datepicker("setStartDate", e.date)
    })

    $('#promocode_end').datepicker({
      language:'pt-BR',
      format: 'dd/mm/yyyy',
      todayHighlight: true,
      weekStart: 1,
      autoclose: true
    }).on("changeDate",function (e) {
     $('#promocode_start').datepicker("setEndDate", e.date)
  })

  $('#form').on('submit', function(e){
      obj='';
      e.preventDefault();
      form = new FormData($(this)[0]);
      $('.w3-overlay').show()
      setTimeout(function(){
        $.ajax({  
          url:'{{path("submit_promocode")}}',
          type: "POST",
          data: form,
          processData: false,
          contentType: false,
          cache: false,
          success: function(data){  
          $('.w3-overlay').hide()
            if (data.status == 1){
              ajaxUpload("promocode")
            }
            else if (data.status == 0){
              $('#set-fields').html(obj)
              ('#modal-fields-promocode').show()
            }
            else{
              for(var i in data.data)
                obj += data.data[i]+'<br>'; 
              $('#set-fields').html(obj)
              $('#modal-fields-promocode').show()
            }
          },
          error:function(data){
            $('.loader').addClass('d-none');
            toastr['error']('{%trans%}wifi_error{%endtrans%}');
          }
        })
      }, 500)
    })
})

</script>
