<style>
.note-editor {border-radius: 0px}
textarea {color: #FFF!important}
.btn-fullscreen{display: none}
.w3-input {border-bottom: 0px solid #05788d}
.w3-select {padding: 11.5px 0px}
</style>

<header class="w3-container" style="padding-top:22px">
   <h5><b><i class="fas fa-asterisk"></i> Termos & Condições</b></h5>
</header>

<div class="w3-row-padding">
  {% for category in terms%}
  <div class="w3-col s12 m6 l4 w3-margin-bottom">
     <input type="hidden" id='{{category.id}}-terms' value="{{category.termshtml}}">
    <div class="w3-card-2 w3-sand w3-border">
      <div class="w3-center w3-col s12 w3-padding-small">
      {{category.name}}
      </div>
      <div class="w3-row">
        <div class="w3-col s6">
          <button class="w3-btn w3-block w3-border w3-blue btn-{{ loop.index }}" onclick="editTerms({{category.id}},'{{category.name}}', {{category.locales.id}})">
            <i class="far fa-edit fa-fw"></i>
          </button>
        </div>
        <div class="w3-col s6">
        <button class="w3-btn w3-block w3-border w3-red" onclick="deleteTermsConfirm({{ category.id}},'{{ category.name }}')">
          <i class="fas fa-trash-alt"></i>
        </button>
        </div>
      </div>
    </div>
  </div>  
  {% endfor %}
</div>

<div class="w3-container">
  {{form_start(form, {'attr': {'id': 'terms-form'}})}}
  <div class="w3-row-padding w3-sand w3-border w3-padding-16">
    <div class="w3-col l6 m6 s12">
      {{form_label(form.locales)}}
      {{form_widget(form.locales)}}
    </div>

    <div class="w3-col l6 m6 s12">
      {{form_label(form.name)}}
      {{form_widget(form.name)}}
      {{form_widget(form.termshtml)}}
    </div>

    <div class="w3-col s12">
      <label>Texto</label>
	     <div id="summernote"></div>
    </div>
  </div>
  <div class="w3-row-padding w3-border-top">
    <div class="w3-col s12 w3-margin-top w3-margin-bottom">
      <button class="w3-btn-block w3-margin-left w3-right w3-button w3-border w3-green">
        <i class="fa fa-check"></i> Guardar
      </button>
      <span class="w3-btn-block w3-button w3-right w3-border w3-white" onclick="clearTerms()">
         <i class="fa fa-eraser"></i> Limpar
      </span>
    </div>
  </div>
  <input type="hidden" name="id" id="terms_id">
  {{ form_end(form) }}
</div>

<script>

$('#summernote').summernote({
  placeholder: 'Insira ....',
  tabsize: 3,
  height: 300,
  fontName:'Arial'
})

function deleteTermsConfirm(id, n)
{
  $('#delete-terms').html('<p class="w3-center w3-large">Tem a certeza que pretende apagar,<br><b>'+n+'</b> ?</p>')
  $('#terms-id').val(id)
  $('#modal-delete-terms').show()
}

function deleteTerms(id){
  $('#modal-delete-terms').hide()
  $('.w3-overlay').show()
  setTimeout(function(){ 
  $.ajax({
    url:'{{ path('admin_terms_delete') }}',  
    type: "POST",
    data:'id='+id,
    success: function(data){
      $('.w3-overlay').hide()
      if (data.message == 'success'){
        ajaxUpload('terms')
      }
    },
    error:function(data){
      $('.w3-overlay').hide()
      $('#modal-error').show()
    }
  })
  }, 500)
}

function clearTerms(){
  $('#summernote').summernote('reset')
  //$('#easytext, #easy_text_name').val('')
} 


function editTerms(id,name,locales){
	$('#summernote').summernote('code', $('#'+id+'-terms').val())
  $('#terms_id').val(id)
  $('#terms_conditions_name').val(name)
  $('#terms_conditions_locales').val(locales)
}

$('#terms-form').on('submit',function(e){
  e.preventDefault()
  obj=''
  $('.w3-overlay').show()
  $('#terms_conditions_termshtml').val($('#summernote').summernote('code'))
  setTimeout(function(){
    $.ajax({  
      url:'{{ path('admin_terms_edit') }}',
      type: "POST",
      data:$('#terms-form').serialize(),
      success: function(data){ 
      //console.log(data) 
        $('.w3-overlay').hide()
         if (data.status == 1){
          ajaxUpload('terms')
        }
        else{
          for(i=0;i<data.data.length;i++)
            obj += data.data[i]+'<br>'
          $('#set-fields').html(obj)
          $('#modal-fields').show()
        }
      },
      error:function(data){
        $('.w3-overlay').hide()
        $('#modal-error').show()
      }
    })
  }, 500)
})

$('.btn-1').trigger('click')

</script>