

{{ form_start(passwordForm, {'attr': {'id': 'change-password'}})  }}
    <label for="user_username" class="required">Password *</label>

    {{ form_widget(passwordForm.plainPassword.first, { 'attr': {'class': 'w3-input w3-padding-16 w3-large','placeholder': 'Password *' } }) }}

    <label for="user_username" class="required">Repita Password *</label>
    {{ form_widget(passwordForm.plainPassword.second, { 'attr': {'class': 'w3-input w3-padding-16 w3-large','placeholder': 'Repetir Password *'  } }) }}
{{ form_end(passwordForm) }}

<script>

$('#change-password').on('submit',function(e){
  $('.w3-overlay').show()

console.log($('#change-password').serialize()+'&id='+$('#set-user-id').val())

  e.preventDefault()
  setTimeout(function(){
    $.ajax({  
      url:'{{ path('password_user') }}',
      type: "POST",
      data:$('#change-password').serialize()+'&id='+$('#set-user-id').val(),
      success: function(data){
        console.log(data)
        $('.w3-overlay').hide()
        if (data.message == 'success'){
          $("#modal-edit-password").hide()
          ajaxUpload('app-users')
        }
        else{
          $('#modal-fields').show()
          $('#set-fields').html(data.data)
        }
      },
      error:function(data){
        console.log(data)
        $('.w3-overlay').hide()
        $('#modal-error').show()
      }
    })
  }, 500)
})

</script>
