
{% set locale = booking.client.locale.name %}

<body>
	<div style="padding:16px 8px; max-width: 500px; margin:0 auto">
		<img src="{{ company.linkMyDomain~'/upload/gallery/'~company.logo }}" alt="{{company.name}}" width="80">
		<p>
			{{ 'hello' | trans({}, "messages", locale) }} {{ client.username }}, {{ 'welcome_purchase' | trans({}, "messages", locale) }} {{company.name}}!
		<br>
			{{ 'your_booking' | trans({}, "messages", locale) }} #{{ booking.id }} 
			{{ 'is' | trans({}, "messages", locale) }} {{ status | trans({}, "messages", locale) }}, {{ 'soon_new_email_status' | trans({}, "messages", locale) }}
		</p>
		<p>
			{{ 'in_attach_info' | trans({}, "messages", locale) }}
		</p>
		<p>
			{{ 'booking_details' | trans({}, "messages", locale) }}:
		</p>
		<hr>
		<p>
			{{ 'tour' | trans({}, "messages", locale) }}: {{ tour }}<br>
			{{ 'date' | trans({}, "messages", locale) }}: {{ booking.available.datetimeStart|date("d/m/Y")}}<br>
			{{ 'hour' | trans({}, "messages", locale) }}: {{ booking.available.datetimeStart|date("H:i")}}<br>
			{{ 'adults' | trans({}, "messages", locale) }}: {{ booking.adult }}<br>
			{{ 'childrens' | trans({}, "messages", locale) }}: {{ booking.children }}<br>
			{{ 'babies' | trans({}, "messages", locale) }}: {{ booking.baby }}<br>
		</p>

		{% if booking.available.category.warrantyPayment %}

		<p style="text-align:center">
			<a style="text-decoration:none;padding: 6px 16px;color:#fff;text-align:center;cursor:pointer;white-space:nowrap;border:1pxsolid #ccc;border-radius:4px;font-size:18px;background-color:#2196F3" target="_blank" href="{{receipt_url}}"> {{ 'receipt' | trans({}, "messages", locale) }}</a>
		</p>

		{% endif %}

		<hr>
		<p>
			{{ 'thank_you' | trans({}, "messages", locale) }}
		</p>
	</div>
</body>

