<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Taruga</title>
 		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta name="keywords" content="Taruga Benagil Tours, Taruga passeios maritímos, grutas, caves, algarve, grottos, Benagil, benagil, taruga, tarugatours
tarugabenagiltours, algar de benagil, benagil cave, portugal, travel, boat trip, algarve boats, benagil boat trip, kayak, benagil kayak, kayaking, benagil paddle, paddle, sup benagil, benagil bookings, benagil sup, sup">
 		<meta name="title" content="Bem Vindo Taruga | passeios maritímos no Algarve">
 		<meta name="description" content="Taruga Visita às grutas em Benagil no Algarve.">
        {% include 'taruga/styles.html' %}

    </head>
    <body>
		{% include 'taruga/navbar.base.html' %}

		{% include 'taruga/navbarmobile.base.html' %}
		
		{% include 'taruga/banner_1.html' %}

		{% include 'taruga/precos_ii.html' %}

		{% include 'taruga/reservas.html' %}
		
		{% include 'taruga/footer.html' %}

		{% include 'taruga/modals.html' %}
		
		{% include 'taruga/javascript.html' %}

		
    </body>
</html>