<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ company.name }}</title>
 		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta name="keywords" content="{{ company.metaKeywords }}">
 		<meta name="title" content="Bem Vindo Taruga | passeios maritímos no Algarve">
 		<meta name="description" content="{{ company.metaDescription }}">
        {% include 'taruga/styles.html' %}
    </head>
    <body>
		{% include 'taruga/navbar.base.html' %}

		{% include 'taruga/navbarmobile.base.html' %}
		
		{% include 'taruga/banner_0.html' %}

		{% include 'taruga/precos_ii.html' %}

		{% include 'taruga/reservas.html' %}
		
		{% include 'taruga/footer.html' %}

		{% include 'taruga/modals.html' %}
		
		{% include 'taruga/javascript.html' %}

    </body>
</html>