<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#0066ff">
  <title>Offline Page</title>
  {% set version = '/bo/v3/' %}
  {% include 'site/sections/pwa_app.html' %}
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{{ asset(version~'css/all.min.css') }}">
  <link rel="stylesheet" href="{{ asset(version~'css/adminlte.min.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <link rel="stylesheet" href="{{ asset( version~'css/bootstrap-main.min.css') }}">
</head>
<style type="text/css">
  
.bgimg {background-image: url("{{ asset('img/offline.png')}}");min-height: 100%;background-position: center;background-size: cover;}
</style>

<body class="bgimg">
<div class="p-2">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Sem Acesso</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Internet em baixo</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-danger">Internet</h2>
        <div class="error-content p-2">
          <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Parece que está sem acesso.</h3>
          <p>
            Tente novamente quando obter sinal de internet...
          </p>
        </div>
      </div>
      <!-- /.error-page -->

    </section>
    <!-- /.content -->
  </div>
</body>
</html>