<section class="ftco-section">
 	<div class="container">
  		<div class="row no-gutters justify-content-center mb-5 ">
	        <div class="col-md-6 text-center heading-section ftco-animate">
          		<span class="subheading">Faqs</span>
            	<h2 class="mb-4">Our faqs</h2>
            	<p>Our frequented asked questions, dont hesitate on asking us, if you dont find the issue.</p>
          	</div>
        </div>
    </div>
	<div class="container" style="color:#000; max-width: 980px">
    	<div class="row">
    		<div class="col-md-12 ftco-animate">
	    			{{faqs.html|raw}}
    		</div>
    	</div>
    </div>
</section>